.aecomment-outer {
  position: relative;
  margin-bottom: 20px;
}

.aecomment-left-fixed {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
}

.aecomment-right-fluid {
  position: relative;
}

@media screen and (min-width: $screen-sm-min) {
  .aecomment-left-fixed {
    display: block;
  }
  .aecomment-right-fluid {
    margin-left: 64px;
  }
}

.aecomment-comment {
  border-radius: 2px;
  border: 1px solid $navbar-default-border;
  // padding: 5px;
}

.aecomment-action {
  margin: 15px 10px;
}

.aecomment-comment-header {
  // border-radius: 2px 2px 0 0;
  background-color: $navbar-default-bg;
  padding: 10px;
  position: relative;
}

.aecomment-comment-body {
  padding: 10px;
}

.aecomment-comment-header::before {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  top: 14px;
  left: -7px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid $navbar-default-border;
  position: absolute;
}

.aecomment-comment-header::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  top: 14px;
  left: -6px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid $navbar-default-bg;
  position: absolute;
}

.aecomment-icon {
  display: none;
  left: -$font-size-base;
  position: absolute;
}

@media screen and (min-width: $screen-sm-min) {
  .aecomment-icon {
    display: block;
  }
}

.aecomment-unread {
  background-color: $alert-warning-bg;
  color: $alert-warning-text;
}

.aecomment-comment-header.aecomment-unread::after {
  border-right-color: $alert-warning-bg;
}
