.ae-file {
  background-color: $navbar-default-bg;
  border: 1px solid $navbar-default-border;
  display: block;
  height: 115px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 115px;
}

.ae-file:hover {
  background-color: $navbar-default-toggle-hover-bg;
  border-color: $navbar-default-toggle-border-color;
}

.ae-file-destroy {
  left: 103px;
  position: absolute;
  top: 1px;
}
