.btn-danger-inverse {
  color: $btn-danger-bg;
  border: 1px solid $btn-danger-border !important;
  background-color: $body-bg;
}

.btn-danger-inverse:hover,
.btn-danger-inverse:focus,
.btn-danger-inverse:active,
.btn-danger-inverse.active,
.btn-danger-inverse.disabled,
.btn-danger-inverse[disabled] {
  color: $body-bg !important;
  background-color: $btn-danger-bg;
  border: 1px solid $btn-danger-border !important;
}

.btn-cutout {
  color: $gray;
  border: 2px dashed $gray;
  background-color: $gray-lighter;
}

.btn-cutout:hover,
.btn-cutout:focus,
.btn-cutout:active,
.btn-cutout.active,
.btn-cutout.disabled,
.btn-cutout[disabled] {
  color: $gray-dark !important;
  border: 2px dashed $gray-dark !important;
  background-color: $gray-light !important;
}

// TODO: Move to fixes/buttons, or remove?
.btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active {
  z-index: 1;
}
// END TODO
