.btn-success-inverse {
  backface-visibility: hidden; // Fix for transition flickering
  background-color: $btn-default-bg;
  border-color: $btn-default-border;
  color: $btn-default-color;
  transition: all .4s ease; // Fade to color for Chrome and Safari

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-color: darken($btn-success-bg, 10%);
    border-color: darken($btn-success-border, 12%);
    color: $btn-success-color;

    .btn-text-emphasis {
      color: $success-emphasis-color;
    }
  }

  .btn-text-emphasis {
    backface-visibility: hidden; // Fix for transition flickering
    color: $btn-success-bg;
    transition: all .4s ease; // Fade to color for Chrome and Safari
  }
}
