// Defines containers that specify margin and padding for layout elements

.content-margin {
  margin-bottom: 20px;
  margin-top: 20px;
}


.wide-container {
  width: 100% !important;
}




.download-container {
  position: relative;
  margin: 0 0 20px 0;
  padding: 19px;
  background-color: $body-bg; // #fff;
  border: 1px solid $gray-lighter; /// #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.download-container-after {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 300;
  background-color: $body-bg; // #f5f5f5;
  border: 1px solid $dropdown-fallback-border; // #ddd;
  // color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}

.download-container .checkbox, .sheet-container .checkbox, .sheet-container .radio {
  margin-top: 0px;
  margin-bottom: 4px;
  padding: 6px 10px 6px 25px;
  font-size: 13px;
  line-height: 18px;
  background-color: $table-bg-accent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}

.download-container .checkbox:hover, .sheet-container .checkbox:hover, .sheet-container .radio:hover {
  background-color: $table-bg-hover;
}

.download-container h3 {
  margin-top: 0px;
}
