
.label-coverage {
  font-weight: 200;
  background-color: rgb(90, 90, 90);

  /*color: #333;*/
}

.label-coverage.complete {
  background-color: #8feb75; /* #39B419; */ /* #8feb75 */

/*  background-image: -moz-linear-gradient(top, #8feb75, #39B419);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8feb75), to(#39B419));
  background-image: -webkit-linear-gradient(top, #8feb75, #39B419);
  background-image: -o-linear-gradient(top, #8feb75, #39B419);
  background-image: linear-gradient(to bottom, #8feb75, #39B419);
  background-repeat: repeat-x;
  border-color: #39B419 #39B419 #8feb75;*/
}

.label-coverage.green {
  background-color: #c9f56a; /* #9AD425; */
}

.label-coverage.yellow {
  background-color: #f5e662; /* #D7C623; */
}

.label-coverage.orange {
  background-color: #f5b073; /* #CE7421; */
}

.label-coverage.red {
  background-color: #ff8563; /* #D13E15; */
}

.label-coverage.blank {
  background-color: #999999; /* #6F6F6F; */
}
