.sign-up-form {
  max-width: 400px;
  margin: 0px auto;
}

.sign-up-form-title {
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  // border-radius: 2px;
}

@media screen and (min-width: $screen-sm-min) {
  .sign-up-form-title {
    background-color: #337ab7;
    color: #FFF;
    font-weight: 300;
    // display: block;
    border-radius: 0px;
    font-size: 24px;
    margin: -20px -20px 20px -20px;
    padding: 10px 20px;
    text-decoration: none;
  }


  .sign-up-form {
    overflow: hidden;
    border: 1px solid #2e6da4;
    padding: 20px;
    background-color: #FFF;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
  }
}

// TODO: Rename or remove form-signin, used on public surveys.

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 40px auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="email"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
