// This defines custom styles for reports

.count-rot315 {
  display: inline-block;
  font-size: .9em;
  margin: 10px 0;
  transform: rotate(315deg);
}

.rounded-borders {
  border-radius: 3px;
  padding: 1px 4px 2px;
}

.shadow-inset-left {
  -moz-box-shadow:    inset 10px 0 10px -10px rgba(0,0,0,0.4);
  -webkit-box-shadow: inset 10px 0 10px -10px rgba(0,0,0,0.4);
   box-shadow:        inset 10px 0 10px -10px rgba(0,0,0,0.4);
}

.shadow-inset-right {
  -moz-box-shadow:    inset -10px 0 10px -10px rgba(0,0,0,0.4);
  -webkit-box-shadow: inset -10px 0 10px -10px rgba(0,0,0,0.4);
   box-shadow:        inset -10px 0 10px -10px rgba(0,0,0,0.4);
}

.shadow-inset-left.shadow-inset-right {
  -moz-box-shadow:    inset 10px 0 10px -10px rgba(0,0,0,0.4),
                      inset -10px 0 10px -10px rgba(0,0,0,0.4);
  -webkit-box-shadow: inset 10px 0 10px -10px rgba(0,0,0,0.4),
                      inset -10px 0 10px -10px rgba(0,0,0,0.4);
   box-shadow:        inset 10px 0 10px -10px rgba(0,0,0,0.4),
                      inset -10px 0 10px -10px rgba(0,0,0,0.4);
}
