// Styles sheets to resemble paper collection forms

.markdown-container {
  background-color: $body-bg;
  margin: 20px;

  padding: 20px;
  box-shadow: 5px 5px 15px $gray-light;

  border: 1px solid $gray-lighter;

  img {
    max-width: 100%;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .markdown-container {
    padding: 30px;
  }
}

@media screen and (min-width: $screen-md-min) {
  .markdown-container {
    padding: 40px;
  }
}

@media screen and (min-width: $screen-lg-min) {
  .markdown-container {
    padding: 60px;
  }
}

.sheet-drag-helper {
  border: 1px solid #333;
  border-radius: 4px;
  padding: 2px 4px;
  background-color: $body-bg;
}
