// Styles sheets to resemble paper collection forms

.markdown-container {
  background-color: $body-bg;
  margin: 20px;

  padding: 20px;
  box-shadow: 5px 5px 15px $gray-light;

  border: 1px solid $gray-lighter;

  img {
    max-width: 100%;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .markdown-container {
    padding: 30px;
  }
}

@media screen and (min-width: $screen-md-min) {
  .markdown-container {
    padding: 40px;
  }
}

@media screen and (min-width: $screen-lg-min) {
  .markdown-container {
    padding: 60px;
  }
}

.sheet-drag-helper {
  border: 1px solid #333;
  border-radius: 4px;
  padding: 2px 4px;
  background-color: $body-bg;
}

.variable-shade, .variable-blind {
  padding: 10px;
  background-color: $body-bg;
  border-left: 2px solid transparent;
}

.variable-shade {
  background-color: $table-bg-accent;
  border-left: 2px solid $table-border-color;
}

.blind-background,
.shade-background {
  display: table;
  width: 100%;
}

.blind-background {
  background-color: $body-bg;
}

.shade-background {
  background-color: $table-bg-accent;
}

.radio.inline + .radio.inline, .checkbox.inline + .checkbox.inline {
  /*margin-left: 10px;*/
  margin-right: 10px;
}


.checkbox.selected, .checkbox.selected:hover, .radio.selected, .radio.selected:hover {
  background-color: $btn-primary-border;
  color: $btn-primary-color;
}

.checkbox.selected.negation, .checkbox.selected.negation:hover, .radio.selected.negation, .radio.selected.negation:hover {
  background-color: $btn-danger-border;
  color: $btn-danger-color;
}

.file-input {
  position: relative;
  overflow: hidden;
}

.file-input input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}


label.checkbox, label.radio {
  font-weight: normal;
}

.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 31px;
}

.form-group .control-label {
  text-align: left;
}

select.form-control {
  text-indent: 4px;
  padding-left: 0px;
  padding-top: 4px;
}


.radio.focus, .checkbox.focus {
  border-color: $brand-primary;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 12px $brand-primary;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 12px $brand-primary;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 12px $brand-primary;

}
.radio.focus.negation, .checkbox.focus.negation {
  border-color: $brand-danger;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 12px $brand-danger;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 12px $brand-danger;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 12px $brand-danger;
}

.radio, .checkbox {
  input[type="radio"], input[type="checkbox"] {
    outline: none;
    -moz-appearance: none !important;
    -moz-border-bottom-colors: transparent !important;
    -moz-border-left-colors: transparent !important;
    -moz-border-right-colors: transparent !important;
    -moz-border-top-colors: transparent !important;
  }
}

.time-input {
  white-space: nowrap;

  input[type="text"] {
    min-width: 55px;
    width: 55px;
  }
}

.date-input {
  white-space: nowrap;

  .month-box input[type="text"], .day-box input[type="text"] {
    min-width: 55px;
    width: 55px;
  }
  .year-box input[type="text"] {
    min-width: 63px;
    width: 63px;
  }
}
