// This file adds classes to apply background textures and appropriate font
// colors to other containers

// Mixin for textures that stretch
@mixin cover-texture {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  -ms-behavior: asset-url('ie8/backgroundsize.min.htc');
}

// Mixin for textures that are tiled
@mixin tile-texture {
  background-repeat: repeat;
}

// Paper Texture
.paper-texture {
  @include tile-texture;
  background-image: asset-url('textures/handmadepaper.png');
}
