.theme-default-bg {
  @include theme-background($p100-grey, $body-color, $p200-yellow);
  @include theme-forms($p500-blue, $p200-blue, $brand-white);
}

.theme-dark-blue-light-center-bg {
  @include theme-background($p900-blue, $brand-white, $p200-yellow);
  background-image: linear-gradient(180deg, $p900-blue, $p800-blue 50%, $p900-blue);

  @include theme-forms($p500-blue, $p200-blue, $brand-white);
}

.theme-dark-pink-bg,
.theme-dark-pink-light-center-bg {
  @include theme-background($p900-pink, $brand-white, $p200-pink);
  @include theme-forms($p500-pink, $p200-pink, $brand-white);
}

.theme-dark-pink-light-center-bg {
  background-image: linear-gradient(180deg, $p900-pink, $p800-pink 50%, $p900-pink);
}

.theme-night-bg,
.theme-night-dark-center-bg {
  @include theme-background($p900-grey, $p300-grey, $p900-blue);
  @include theme-forms($p900-grey, $p700-blue, $p300-grey, $p900-grey, $p800-grey, $p500-grey);
}

.theme-night-dark-center-bg {
  background-image: linear-gradient(180deg, $p900-grey, $black 50%, $p900-grey);
}
