.theme-bg {
  transition: $transition-bg;
}

@each $name, $theme in $themes {
  $selection-bg: map-get($theme, p200);
  @if map-get($theme, selection-bg) {
    $selection-bg: map-get($theme, selection-bg);
  }

  $selection-color: map-get($theme, body-color);
  @if map-get($theme, selection-color) {
    $selection-color: map-get($theme, selection-color);
  }

  .theme-#{$name}-bg {
    background-color: map-get($theme, body-bg);
    color: map-get($theme, body-color);

    ::selection {
      background-color: rgba($selection-bg, .99);
      color: $selection-color;
      text-shadow: none;
    }

    :focus {
      outline-color: $selection-bg !important;
    }
  }

  @if map-get($theme, footer-bg) and map-get($theme, body-focus) {
    .theme-#{$name}-focus-bg {
      background-image: linear-gradient(180deg, map-get($theme, footer-bg), map-get($theme, body-focus) 50%, map-get($theme, footer-bg));
    }
  }
}
