.theme-bg {
  transition: $transition-bg;
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    background-color: map-get($theme, body-bg);
    color: map-get($theme, body-color);

    ::selection {
      background-color: rgba(map-get($theme, p200), .99);
      color: map-get($theme, body-color);
      text-shadow: none;
    }

    :focus {
      outline-color: map-get($theme, p200) !important;
    }
  }

  @if map-get($theme, footer-bg) and map-get($theme, body-focus) {
    .theme-#{$name}-focus-bg {
      background-image: linear-gradient(180deg, map-get($theme, footer-bg), map-get($theme, body-focus) 50%, map-get($theme, footer-bg));
    }
  }
}
