.theme-fall-bg,
.theme-fall-focus-bg {
  background-image: asset-url('themes/fall/road-1072823_1920.jpg');
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
