$moon-color: $p400-indigo;

$moon-base-size: 128px;
$moon-base-padding: 20px;

$moon-size: $moon-base-size * 2; // 256px;
$moon-padding: $moon-base-padding * 2; // 24px;
$moon-container: $moon-size + $moon-padding;

$moon-size-sm: $moon-base-size * 4; // 512px;
$moon-padding-sm: $moon-base-padding * 4; // 48px;
$moon-container-sm: $moon-size-sm + $moon-padding-sm;

.moon-container {
  height: $moon-container;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  width: $moon-container / 2;
  z-index: -1;

  @include media-breakpoint-up(sm) {
    height: $moon-container-sm;
    bottom: 0;
    width: $moon-container-sm / 2;
  }
}

.moon-object {
  // background: asset-url('themes/night/moon512.jpg');
  background-color: $p300-grey;
  background-size: 256px;
  border-radius: 256px;
  height: 256px;
  width: 256px;
  left: -128px;
  top: 26px;
  position: absolute;
  box-shadow: 7px -10px 30px rgba($brand-white, .15);

  @include media-breakpoint-up(sm) {
    background-size: 384px;
    border-radius: 384px;
    height: 384px;
    width: 384px;
    left: -192px;
    top: 200px;
  }
}
