@keyframes bubbles {
  0% {
    background-position: 0 400px, 0 300px, 0 0;
  }

  100% {
    background-position: 0 0, 0 0, 0 0;
  }
}

.theme-underwater-bg,
.theme-underwater-focus-bg {
  animation: bubbles 20s linear infinite;
  background-image: asset-url('themes/winter/snow2.png'), asset-url('themes/winter/snow3.png'), asset-url('themes/underwater/underwater-802092_1920.jpg');
  background-attachment: scroll;
  background-position: 0% 0%, 0% 0%, center;
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto, auto, cover;
}
