@keyframes snow-flakes {
  0% {
    background-position: 0 0, 0 0, 0 0, 0 0;
  }

  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px, 0 0;
  }
}

.theme-winter-bg {
  animation: snow-flakes 20s linear infinite;
  background-image: asset-url('themes/winter/snow1.png'), asset-url('themes/winter/snow2.png'), asset-url('themes/winter/snow3.png'), linear-gradient(180deg, $p700-light-blue, $p800-light-blue 50%, $p900-light-blue);
}

.theme-winter-focus-bg {
  animation: snow-flakes 20s linear infinite;
  background-image: asset-url('themes/winter/snow1.png'), asset-url('themes/winter/snow2.png'), asset-url('themes/winter/snow3.png'), linear-gradient(180deg, $p900-light-blue, $p800-light-blue 50%, $p900-light-blue);
}
