= form_with model: [list.randomization_scheme.project, list.randomization_scheme, list], local: true do |form|
  = render "forms/vertical/text_area", form: form, object: list, key: :items, rows: 7, help_text: "List each item on its own line. Items will be appended to the existing list."
  = render "forms/vertical/submit", form: form, object: [list.randomization_scheme.project, list.randomization_scheme, list]
