.dashboard-container.dashboard-table
  %table.table.table-striped.table-borderless.table-hover.table-sticky
    %col
    %col
    %col.d-none.d-sm-table-column
    %thead
      %tr
        %th Name
        %th.text-center
          Randomized
          .d-none.d-sm-inline Subjects
        %th.d-none.d-sm-table-cell Creator

    %tbody
      - @lists.each do |list|
        %tr
          %td= link_to list.name, [@project, @randomization_scheme, list]
          %td.text-center= link_to list.subject_randomizations.count
          %td.d-none.d-sm-table-cell= link_to list.user.full_name, list.user if list.user
