= render 'contour/layouts/per_page', per_page: 40, object_count: @lists.total_count

%table.table.table-striped
  %thead
    %tr
      %th.nowrap Name
      %th.nowrap Randomized Subjects
      %th.nowrap Creator

  %tbody
    - @lists.each do |list|
      %tr
        %td
          = link_to list.name, [@project, @randomization_scheme, list]
        %td= link_to list.subject_randomizations.count
        %td= link_to list.user.name, list.user if list.user
