- blank_responses = responses.select(&:blank?)
- valid_responses = responses.reject(&:blank?)

%table.table.table-fixed.table-borderless
  %thead
    %tr
      %th.text-center N
      %th.text-center.text-muted Blank
      %th.text-center Total
  %tbody
    %tr
      %td.text-center= filter_link Statistics.array_count(valid_responses), @design, variable, ":present", event_id: event_id
      %td.text-center= filter_link Statistics.array_count(blank_responses), @design, variable, ":blank", event_id: event_id
      %td.text-center= filter_link Statistics.array_count(responses), @design, nil, nil, event_id: event_id
