- responses = @sheets.sheet_responses_for_checkboxes(variable)
- counts = []
- variable.domain_options.each do |domain_option|
  - count = responses.select { |r| r == domain_option.value }.count
  - counts << count if count > 0
- no_responses = (counts.count == 0)

- unless no_responses
  .text-center{ style: "display: none;font-size: 48px;margin-bottom: 20px;", data: { object: "sparkline", type: "pie", values: counts } }

- count_index = -1
- variable.domain_options.each do |domain_option|
  - count = responses.select { |r| r == domain_option.value }.count
  - if !domain_option.missing_code? && (count > 0 || no_responses)
    - count_index += 1

    .row.col-buffer
      .col-6.text-right
        %strong= domain_option.value_and_name
      .col-6
        - unless domain_option.missing_code?
          %span{ style: "background-color: #{@colors[count_index % @colors.size]}" } &nbsp;
        = filter_link(count == 0 ? nil : count, @design, variable, domain_option.value, event_id: event_id)
