- blank_responses = responses.select(&:blank?)
- valid_responses = responses.reject(&:blank?)

%table.table
  %thead
    %tr
      %th N
      %th.text-muted Blank
      %th Total
  %tbody
    %tr
      %td= filter_link Statistics.array_count(valid_responses), @design, variable, ":present", event_id: event_id
      %td= filter_link Statistics.array_count(blank_responses), @design, variable, ":blank", event_id: event_id
      %td= filter_link Statistics.array_count(responses), @design, nil, nil, event_id: event_id
