.add-design-option
  .text-center
    = link_to new_project_design_design_option_path(@project, @design, position: position), remote: true, class: "btn btn-sm btn-outline-dark btn-shadow" do
      = icon("fas", "plus")
      Add Question
