.design-preview-hide.add-design-option
  .center
    = link_to new_project_design_design_option_path(@project, @design, position: position), remote: true, class: "btn btn-xs btn-cutout btn-shadow" do
      %i.fa.fa-plus{ aria: { hidden: true } }
      Add Question Here
