= form_with url: update_section_order_project_design_design_options_path(@design.project, @design), method: :post, id: "reorder_sections_design_form" do |form|
  %ul#reorder_sections_design.design-list{ data: { object: "sortable" } }
    - @design.main_sections.each_with_index do |design_option, index|
      - section = design_option.section
      %li.li-section.nowrap{ id: "section_#{index}", style: "margin-bottom: 5px;", data: { position: index } }
        %i.fa.fa-arrows.option-handle
        .sortable-section
          - if section.name.present?
            = section.name
          - else
            = strip_tags(simple_markdown section.description).truncate(50).html_safe
