- case design_option.required when 'required'
  %span.text-danger{ rel: 'tooltip', data: { object: 'suppress-click', title: 'Required Field', placement: 'top', container: 'body' } }
    *
- when 'recommended'
  %span{ rel: 'tooltip', data: { object: 'suppress-click', title: 'Recommended Field', placement: 'top', container: 'body' } }
    *
