- if design_option.required?
  %span.text-danger{ rel: "tooltip", data: { object: "suppress-click", title: "Required Field", placement: "top", container: "body" } }
    *
- elsif design_option.recommended?
  %span{ rel: "tooltip", data: { object: "suppress-click", title: "Recommended Field", placement: "top", container: "body" } }
    *
