.design-header
  .pull-right.design-preview-hide
    = link_to edit_project_design_path(@project, @design), method: :get, remote: true, class: 'btn btn-cutout btn-shadow' do
      %span.hidden-xs Edit
      %span.glyphicon.glyphicon-edit
  = @design.name
