<% links = @design.sections.collect{|opt| { name: opt[:section_name] , href: "##{opt[:section_id]}" }} %>

<div class="bs-sidebar affix">
  <ul class="nav bs-sidenav">
    <% links.each_with_index do |link_hash, index| %>
      <li><%= link_to link_hash[:name].html_safe, link_hash[:href], tabindex: "-1" %></li>
    <% end %>
  </ul>
</div>
