<%= form_tag reorder_design_path(@design), method: :post, remote: true, id: 'reorder_sections_design_form' do %>
  <ul class="design-list" id="reorder_sections_design" data-object="sortable">
  <% @design.sections.each_with_index do |option, position| %>
    <li id="section_<%= position %>" class="li-section">
      <div style="display:inline-block"><a href="#"><%= option[:section_name] %></a></div>
    </li>
  <% end %>
  </ul>
<% end %>
