<% section_type = @option[:section_type].to_i %>
<% unless section_type > 0 %><section id="<%= @option[:section_id] %>" style="padding-top:30px"><% end %>
  <div class="page-header" data-object="variable-container" <% if section_type > 0 %>style="margin-top:0px"<% end %>>
    <% if section_type > 0 %><h4><% else %><h2><% end %>
      <%= @option[:section_name] %>
    <% if section_type > 0 %></h4><% else %></h2><% end %>
    <%= simple_markdown @option[:section_description] unless @option[:section_description].blank? %>
  </div>
<% unless section_type > 0 %></section><% end %>
