<div class="page-header" <% if false %>style="padding-top:76px"<% end %> id="<%= @option[:section_id] %>" data-object="variable-container">
  <h2>
    <%= @option[:section_name] %>
    <small><%= simple_format @option[:section_description] unless @option[:section_description].blank? %></small>
  </h2>
</div>

<%= link_to 'add more', '#', class: 'btn btn-mini', data: { object: 'copy-repeatables', target: "[data-object~=repeatable_#{@repeatable_id}]" } if @is_repeatable %>
