<section id="<%= @option[:section_id] %>" style="padding-top:30px">
  <div class="page-header" data-object="variable-container">
    <h2>
      <%= @option[:section_name] %>
    </h2>
    <%= simple_markdown @option[:section_description] unless @option[:section_description].blank? %>
  </div>
</section>
