<%# This file loads a design to be used in a sheet %>
<% if @design %>

  <div class="control-group">
    <%= label 'design', 'description', 'Design Description', class: 'control-label' %>
    <div class="controls">
      <%= simple_format @design.description %>
    </div>
  </div>

  <% @design.variables.each do |variable| %>
    <%= @variable = variable; render partial: 'designs/variable' %>
  <% end %>
<% end %>
