- I18n.locale = World.language

- sheet_variables = @sheet ? @sheet.sheet_variables.includes(:domain_option, responses: :domain_option, variable: { domain: :domain_options }).to_a : []

- design.design_options.includes(:design, :section, variable: { domain: :domain_options }).each do |design_option|
  - section = design_option.section
  - variable = design_option.variable
  - if section
    = render "sections/form", form: form, design: design, design_option: design_option, section: section
  - elsif variable
    = render "sheet_variables/form", form: form, design: design, design_option: design_option, show_values: params[:header] != "0", variable: variable, sheet_variables: sheet_variables
