<%# This file shows a variable for use in a sheet %>
<div class="control-group">
  <%= label "sheet[variable][#{@variable.id}]", @variable.name, class: 'control-label' %>
  <div class="controls">
    <% if @variable.variable_type == 'dropdown' %>
      <%= select_tag "sheet[variable][#{@variable.id}]", options_for_select([[nil, '---']] + @variable.options.collect{|opt| [opt[:name], opt[:value]]}) %>
      <%#= text_field_tag 'sheet[description]', @design.description %>
    <% else %>
      Unsupported Variable Type <%= @variable.variable_type %>
    <% end %>
  </div>
</div>
