<div id="contour-backdrop" style="display:none"></div>

<div class="contour-modal-wrapper" data-object="contour_modal_wrapper" style="display:none">
  <div class="contour-modal" data-object="contour_modal_container">
  </div>
</div>

<div class="page-header">
<%= render partial: 'designs/interactive/design_name' %>

<%= render partial: 'designs/interactive/design_description' %>
</div>

