<!DOCTYPE html>
<html>
<head>
  <title><%= [Contour.application_name, @title].compact.join(' - ').html_safe %></title>
  <%= stylesheet_link_tag "application", media: 'all' %>
</head>
<body style="padding-top:0px">
  <%= render partial: 'designs/report' %>
  <%= javascript_include_tag "application" %>
</body>
