@each $color, $value in $theme-colors {
  @each $name, $theme in $themes {
    @if map-get($theme, $color) {
      .theme-#{$name}-bg {
        .bg-#{$color} {
          background-color: map-get($theme, $color) !important;
        }
      }
    }
  }
}

@each $name, $theme in $themes {
  @if map-get($theme, accent) {
    .theme-#{$name}-bg {
      .bg-accent {
        background-color: map-get($theme, accent) !important;
      }
    }
  }

  .theme-#{$name}-bg {
    .bg-dashboard {
      background-color: map-get($theme, dashboard-bg);
    }
  }
}
