.breadcrumb-custom {
  border-radius: 0;
  margin-bottom: 0;
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .breadcrumb {
      background-color: theme-color($theme, breadcrumb-bg, $breadcrumb-bg);
    }
  }
}
