.filedrag {
  background-color: $jumbotron-bg;
  border: 2px dashed $P100;
  border-radius: 4px;
  cursor: default;
  display: none;
  height: 200px;
  margin: 1em 0;
  padding: 60px 0;
  text-align: center;

  &.hover,
  &:hover {
    border-style: solid;
  }
}
