.form-label-elegant {
  font-weight: 300;
  border-bottom: 2px solid transparent;

  // a {
  //   color: $p700-grey;

  //   &:hover,
  //   &:focus,
  //   &:active {
  //     color: $body-color;
  //     text-decoration: none;
  //   }
  // }
}

@include media-breakpoint-up(md) {
  .col-form-label {
    .form-label-elegant {
      float: right !important;

      text-align: right;
    }
  }
}

.form-control-plaintext {
  @include remove-last-child-bottom-margin;
}

// Make sure some text is always viewable in the form control.
.form-control {
  min-width: 100px;
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .form-label-elegant {
      color: theme-color($theme, input-color, $p800-grey);
      border-color: map-get($theme, p100);
    }

    .form-control {
      color: theme-color($theme, input-color, $p800-grey);
      background-color: theme-color($theme, input-bg, $white);
      border-color: theme-color($theme, input-border-color, $input-border-color);

      &.is-invalid {
        border-color: theme-color($theme, danger, map-get($theme-colors, danger));
      }

      &.is-valid {
        border-color: theme-color($theme, success, map-get($theme-colors, success));
      }

      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(map-get($theme, primary), 0.25);
      }

      &::placeholder {
        color: theme-color($theme, input-placeholder-color, $input-placeholder-color);
      }

      &:disabled,
      &[readonly] {
        background-color: theme-color($theme, input-disabled-bg, $input-disabled-bg);
      }
    }

    .form-control-plaintext {
      color: map-get($theme, body-color);
    }

    .custom-file-label {
      color: theme-color($theme, input-color, $p800-grey);
      background-color: theme-color($theme, input-bg, $white);
      border-color: theme-color($theme, input-border-color, $input-border-color);

      &::after {
        background-color: theme-color($theme, input-group-addon-bg, $input-group-addon-bg);
        border-left-color: theme-color($theme, input-group-addon-border-color, $input-group-addon-border-color);
        color: theme-color($theme, input-color, $p800-grey);
      }
    }

    .custom-select {
      color: theme-color($theme, input-color, $p800-grey);
      background-color: theme-color($theme, input-bg, $white);
      border-color: theme-color($theme, input-border-color, $input-border-color);

      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(map-get($theme, primary), 0.25);
      }
    }
  }
}
