.jumbotron-action,
.jumbotron-accent,
.jumbotron-white {
  @include remove-last-child-bottom-margin;
  text-align: center;
}

// .jumbotron-action {
//   background-color: $p500-blue;
//   color: $brand-white;
// }

// .jumbotron-accent {
//   background-color: $p300-orange;
//   color: $brand-white;
//   border: 5px solid rgba($brand-white, .5);
// }

.jumbotron-custom-text {
  font-weight: 200;
  font-size: 1.5rem;
  text-align: center;
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .jumbotron {
      background-color: theme-color($theme, jumbotron-bg, $jumbotron-bg);
    }

    .jumbotron-white {
      background-color: map-get($theme, dashboard-bg);
      color: map-get($theme, body-color);
    }

    .jumbotron-shadow {
      box-shadow: 0 0 5px map-get($theme, box-shadow-color);
    }
  }
}
