@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    @if map-get($theme, link-color) {
      a {
        color: map-get($theme, link-color);

        &.btn,
        &.dropdown-item {
          color: inherit;
        }

        &.btn-link {
          color: map-get($theme, link-color);
        }
      }
    } @else {
      a {
        color: map-get($theme, primary);

        &.btn,
        &.dropdown-item {
          color: inherit;
        }

        &.btn-link {
          color: map-get($theme, primary);
        }
      }
    }
  }
}
