.nav-custom-tabs {
  border: 0;

  .nav-item,
  .nav-link {
    border: 0;
  }

  + .dashboard-container {
    border-top-left-radius: 0;
  }

  .nav-item + .nav-item {
    margin-left: 2px;
  }
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .nav-custom-tabs {
      .nav-link {
        background-color: map-get($theme, form-bg);
        &.active,
        &:hover {
          background-color: map-get($theme, dashboard-bg);
          box-shadow: 0 -3px 5px map-get($theme, box-shadow-color);
        }
      }
    }
  }
}
