// Extenion to text bootstrap classes

// TODO: See where these two are used
// .text-shadow {
//   text-shadow: 0 2px 3px $standard-shadow-color;
// }

// .text-emphasis {
//
// }
// END TODO: See where these two are used

.text-smaller {
  font-size: .7em;
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .text-primary {
      color: map-get($theme, primary) !important;
    }

    .text-white {
      color: map-get($theme, brand-white) !important;
    }
  }
}
