// Extenion to text bootstrap classes

.text-accent {
  color: $brand-accent;
}

.text-white {
  color: $brand-white;
}

.text-shadow {
  text-shadow: 0 2px 3px $standard-shadow-color;
}

.text-smaller {
  font-size: .7em;
}
