- @title = 'Report Adverse Event'

- links = []
- links << ['Adverse Events', project_adverse_events_path(@project)]
- links << [@title, new_project_adverse_event_path(@project)]
= render 'projects/tabbed_menu', links: links

.row
  .col-sm-2
    = render 'projects/beta/menu'
  .col-sm-10
    = render 'form'
