- @title = "Report Adverse Event"
- @menu_title = "#{@project.name} #{@title}"

- if @adverse_event.subject
  - @subject = @adverse_event.subject
  - content_for :container_class, "container-fluid"
  - content_for :sidebar, render("subjects/sidebar")
- else
  - content_for :container_class, "container-fluid"
  - content_for :sidebar, render("projects/sidebar")

- content_for :header, @title

.dashboard-container= render "form"
