.background-gradient

.body-attachment
  .container.attachment-container
    .landing-cog
      %span.glyphicon.glyphicon-cog
    .landing-cog2
      %span.glyphicon.glyphicon-cog
    .landing-lower-right
      %i.fa.fa-anchor


%h1.docs-heading
  %strong Slice:
  Empower your research.

.docs-container
  .row
    .col-sm-6
      %p.lead
        Create forms.

      %p.lead
        Collect data.

      %p.lead
        Collaborate with anyone.

      %p.lead
        Customize reports.

      %p.lead
        Report adverse events.

    .col-sm-6
      %p.lead
        Randomize participants.

      %p.lead
        Get notifications.

      %p.lead
        Run data quality checks.

      %p.lead
        Analyze data.

      %p.lead
        Publish results.


- content_for :footer do
  %div{ style: 'background-color: transparent;color: #fff' }
    .container
      .jumbotron{ style: 'background-color: transparent' }
        %h2.center{ style: 'margin-bottom: 40px' } Start working at the next level.
        .center
          = link_to 'Create an account today', new_user_registration_path, class: 'btn btn-lg btn-accent btn-shadow-lg'
