- @title = "Version"

- render "themes/seasonal"

.page-box.last-box.d-flex.align-items-center.theme-bg{ class: "theme-#{@theme}-focus-bg" }
  .container
    .text-center{ class: @theme != "default" ? "text-white" : nil, style: "font-size: 2rem;" }
      = "v#{Slice::VERSION::STRING}"
