- @title = "#{@tray.name_was} - Settings"
= render "themes/library"

- owner = @tray.profile.editable_by?(current_user)

.page-box.page-box-no-padding.last-box.bg-white
  = render "library/tray_header", tray: @tray, owner: owner
  .container.py-3
    = render "form", tray: @tray


