- @title = "New Form"
= render "themes/library"

.page-box.page-box-no-padding.last-box.bg-white
  = render "library/new_tray_header", profile: @profile

  .container.py-3
    = render "form", tray: @tray
