.token {
  color: $text-muted;
}

.token-variable {
  color: $p500-blue;
}

.token-number {
  color: $p500-green;
}

.token-operator {
  color: $p500-orange;
}

.token-paren {
  color: $p500-black;
  font-weight: bold;

  + .token-paren {
    margin-left: 0;
  }
}
