.token {
  color: $text-muted;
}

.token-identifier {
  color: $p500-blue;
}

.token-number,
.token-string,
.token-value {
  color: $p500-green;
}

.token-boolean {
  color: $p500-red;
}

.token-operator {
  color: $p500-orange;
}

.token-paren {
  color: $p500-black;
  font-weight: bold;

  + .token-paren {
    margin-left: 0;
  }
}

.token-auto {
  border-bottom: 1px dotted $body-color;
}

.token-identifier-not-found {
  border-bottom: 1px dotted $p500-red;
  color: $p500-grey;
}

.engine-container {
  border-radius: $border-radius;
  margin-bottom: $spacer;
  padding: $spacer;
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .engine-container {
      background-color: map-get($theme, dashboard-bg);
      color: map-get($theme, body-color);
    }
  }
}

.node-container {
  border: 1px solid transparent;
  border-radius: $border-radius;
  margin: map-get($spacers, 1);
  padding: $spacer;
  text-align: center;
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .node-container {
      background-color: map-get($theme, dashboard-bg);
      border-color: theme-color($theme, input-border-color, $input-border-color);
      color: map-get($theme, body-color);
    }
  }
}
