.token {
  color: $text-muted;
}

.token-identifier {
  color: $p500-blue;
}

.token-number,
.token-string,
.token-value {
  color: $p500-green;
}

.token-boolean {
  color: $p500-red;
}

.token-operator {
  color: $p500-orange;
}

.token-paren {
  color: $p500-black;
  font-weight: bold;

  + .token-paren {
    margin-left: 0;
  }
}

.token-auto {
  border-bottom: 1px dotted $body-color;
}

.token-identifier-not-found {
  border-bottom: 1px dotted $p500-red;
  color: $p500-grey;
}
