- @title = "Register New Account"

- render "themes/seasonal"

.page-box.last-box.d-flex.align-items-center.theme-bg{ class: "theme-#{@theme}-focus-bg" }
  .container
    %p.lead.text-center.text-white Become a member.

    .sign-up-form
      .sign-up-form-title
        Create your account
      = render "devise/registrations/form", resource: resource

    .sign-up-form.text-center
      = link_to "I already have an account.", new_user_session_path

    .mt-5.text-center= render "themes/icon_128"
