.flash-bar{ class: (flash[:notice].present? || flash[:alert].present? ? "flash-bar-show" : nil) }
  - if flash[:notice].present?
    = flash[:notice].html_safe
  - if flash[:alert].present?
    = flash[:alert].html_safe
