- @title = 'New Stratification Factor'

- links = []
- links << [@randomization_scheme.name, [@project, @randomization_scheme]]
- links << ['Stratification Factors', project_randomization_scheme_stratification_factors_path(@project, @randomization_scheme)]
- links << ['New', new_project_randomization_scheme_stratification_factor_path(@project, @randomization_scheme)]

= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid
    = render 'form'
