<div marginwidth="0" marginheight="0" style="margin:0;padding:0;width:100%!important">
  <center>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin:0;padding:0;background-color:#eff8ff;width:100%!important">
      <tbody>
        <tr>
          <td align="center" valign="top" style="border-collapse:collapse">
            <table border="0" cellpadding="10" cellspacing="0" width="600" style="background-color:#eff8ff">
              <tbody>
                <tr>
                  <td valign="top" style="border-collapse:collapse; background-color:#eff8ff">
                    <div style="color:#505050;font-family:Arial;font-size:14px;line-height:150%;text-align:left">
                      <p style="margin-right:0px;margin-bottom:15px;margin-left:0px;padding:0px;margin-top:0px!important">
                        <h3 style="margin:15px 0px;padding:0px;line-height:1.4em;color:#333;font-family:helvetica,arial,freesans,clean,sans-serif;text-align:center;display:block;font-size:22px;font-weight:bold;margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0"><font size="5"><%= DEFAULT_APP_NAME %></font></h3>
                      </p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="600" style="border:1px solid #dddddd;background-color:#ffffff">
              <tbody>
                <tr>
                  <td align="center" valign="top" style="border-collapse:collapse">
                    <table border="0" cellpadding="20" cellspacing="0" width="100%">
                      <tbody>
                        <tr>
                          <td>
                            <div style="color:#505050;font-family:Arial;font-size:14px;line-height:150%;text-align:left">
                              <p style="margin-right:0px;margin-bottom:15px;margin-left:0px;padding:0px;margin-top:0px!important">
