                              </p>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>

            <table border="0" cellpadding="10" cellspacing="0" width="600" style="background-color:#eff8ff">
              <tbody>
                <tr>
                  <td align="center" valign="top" style="border-collapse:collapse; background-color:#eff8ff">
                    <div style="color:#505050;font-family:Arial;font-size:14px;line-height:150%;text-align:left">
                      <p style="margin-right:0px;margin-bottom:15px;margin-left:0px;padding:0px;margin-top:0px!important">
                        <center><%= image_tag attachments.inline['nsrr-logo.png'].url, alt: 'NSRR', border: '0', width:'64', height: '64' if attachments.inline['nsrr-logo.png'] -%></center>
                      </p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </center>

  <center>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#ffffff;border-top:1px solid #e5e5e5">
      <tbody>
        <tr>
          <td align="center" valign="top" style="padding-top:20px;padding-bottom:20px">
            <table border="0" cellpadding="10" cellspacing="0" width="600">
              <tbody>
                <tr>
                  <td align="center" valign="top" style="color:#606060;font-family:Helvetica,Arial,sans-serif;font-size:11px;line-height:150%;padding-right:20px;padding-bottom:5px;padding-left:20px;text-align:center">
                    This email was sent to <a href="http://<%= @email_to %>" style="color:#404040!important" target="_blank"><%= @email_to %></a>
                    <br>
                    <%= link_to 'change email notifications', "#{ENV['website_url']}/settings", style: "color: #404040!important" %>
                    <br>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </center>
</div>
