- token_auto = token.auto ? "token-auto" : nil
- token_identified = (token.token_type == :identifier && !token.identified ? "token-identifier-not-found" : nil)
- value = token.token_type
- token_class = nil

- if token.token_type == :identifier
  - token_class = "token-identifier"
  - value = token.raw
- elsif token.token_type == :number
  - token_class = "token-number"
  - value = token.raw
- elsif token.token_type == :string
  - token_class = "token-string"
  - value = "\"#{token.raw}\""
- elsif token.token_type == :left_paren
  - token_class = "token-paren"
  - value = "("
- elsif token.token_type == :right_paren
  - token_class = "token-paren"
  - value = ")"
- elsif token.token_type == :greater
  - token_class = "token-operator"
  - value = ">"
- elsif token.token_type == :less
  - token_class = "token-operator"
  - value = "<"
- elsif token.token_type == :greater_equal
  - token_class = "token-operator"
  - value = ">="
- elsif token.token_type == :less_equal
  - token_class = "token-operator"
  - value = "<="
- elsif token.token_type == :bang_equal
  - token_class = "token-operator"
  - value = "!="
- elsif token.token_type == :equal
  - token_class = "token-operator"
  - value = "="
- elsif token.token_type == :minus
  - token_class = "token-operator"
  - value = "-"
- elsif token.token_type == :plus
  - token_class = "token-operator"
  - value = "+"
- elsif token.token_type == :power
  - token_class = "token-operator"
  - value = "^"
- elsif token.token_type == :star
  - token_class = "token-operator"
  - value = "*"
- elsif token.token_type == :slash
  - token_class = "token-operator"
  - value = "/"
- elsif token.token_type == :bang
  - token_class = "token-operator"
  - value = "!"
- elsif token.token_type.in?([:between, :and, :or, :at])
  - token_class = "token-operator"
- elsif token.token_type.in?([:entered, :present, :missing, :unentered])
  - token_class = "token-value"
- elsif token.token_type.in?([:true, :false, :nil])
  - token_class = "token-boolean"

%span.token{ class: [token_auto, token_identified, token_class].compact }= value
