.progress
  .progress-bar.progress-bar-striped{ class: "progress-bar-primary", style: "width: 100%;" }
    Progress Complete

.jumbotron
  %h2 All set!
  %p Thank you for completing all of the forms.
  %p Please hand the tablet back to a staff member.
