- I18n.locale = World.language
.progress
  .progress-bar.progress-bar-striped.bg-primary{ style: "width: 100%;" }
    = I18n.t("handoffs.progress_complete")

.jumbotron
  %h2= I18n.t("handoffs.all_set")
  = simple_format I18n.t("handoffs.return_tablet")
