<% is_grid = defined?(grid) %>

<% responses = [] %>
<% responses = is_grid ? sheet_variable.response_hash(position, variable.id) : sheet_variable.response_hash if sheet_variable %>

<% responses.each do |hash| %>
  <% unless is_grid %><p><% end %>
  <span class="rounded-borders" style="background-color: <%= hash[:color] %>" rel="tooltip" title="<%= hash[:description] %>" data-placement="<%= is_grid ? 'top' : 'right' %>"><%= "#{hash[:value]}: #{hash[:name]}" unless hash[:value].blank? %></span>
  <% unless is_grid %></p><% end %>
<% end %>
