<% is_grid = defined?(grid) %>

<% response = {} %>
<% response = is_grid ? sheet_variable.response_hash(position, variable.id) : sheet_variable.response_hash if sheet_variable %>

<span class="rounded-borders" rel="tooltip" title="<%= response[:description] %>" data-placement="<%= is_grid ? 'top' : 'right' %>" data-html="true"><%= "#{response[:value]}: #{response[:name]}" unless response[:value].blank? %></span>
