<% is_grid = defined?(grid) %>

<% response = {} %>
<% response = is_grid ? sheet_variable.response_hash(position, variable.id) : sheet_variable.response_hash if sheet_variable %>
<% response_color = '' %>
<% response_color = is_grid ? grid.variable.response_color(@sheet) : sheet_variable.variable.response_color(@sheet) if sheet_variable %>

<span class="rounded-borders" style="background-color: <%= response_color %>">
<span rel="tooltip" title="<%= response[:description] %>" data-placement="<%= is_grid ? 'top' : 'right' %>"><%= "#{response[:value]}: #{response[:name]}" unless response[:value].blank? %></span>
</span>
