- if object
  -# TODO: Pass in "sheet_variable" instead of "object"
  - sheet_variable = object
  - response_name = sheet_variable.get_response(:name)
  - response_file = sheet_variable.get_response(:raw)

  - if response_file && response_file.size > 0
    - full_url = file_project_sheet_path(@project, @sheet, sheet_variable_id: sheet_variable.id)
    - if ["jpg", "jpeg", "gif", "png"].include?(response_name.split(".").last.to_s.downcase)
      = link_to image_tag(full_url, style: "height:64px;border:0px solid white"), full_url, target: "_blank"
    - else
      = link_to response_name, full_url, target: "_blank", class: "btn btn-outline-dark btn-sm"
    %span.badge.badge-secondary= number_to_human_size(response_file.size)
