- if sheet_variable
  - grid_variables = @project.variables.where(id: variable.grid_variables.collect{ |gv| gv[:variable_id] }).to_a
  %table.table.table-hover.table-condensed{ style: "margin-top:-5px" }
    %thead
      %tr
        - variable.grid_variables.each do |grid_variable|
          %td
            - v = grid_variables.select{|gv| gv.id == grid_variable[:variable_id].to_i}.first
            = v.display_name if v
    %tbody
      - all_grids = sheet_variable.grids.includes(variable: [:domain]).to_a
      - (0..all_grids.collect(&:position).max.to_i).each do |position|
        %tr
          - variable.grid_variables.each do |grid_variable|
            %td
              - grid = all_grids.select{|g| g.variable_id == grid_variable[:variable_id].to_i and g.position == position}.first
              - if grid and (Variable::TYPE.flatten.uniq - ['grid']).include?(grid.variable.variable_type)
                = render "sheet_variables/show/#{grid.variable.variable_type}", variable: grid.variable, object: grid
