<% is_grid = defined?(grid) %>

<% response = {} %>
<% response = is_grid ? sheet_variable.response_hash(position, variable.id) : sheet_variable.response_hash if sheet_variable %>

<span rel="tooltip" title="<%= response[:description] %>" data-placement="top" style="display:inline-block" data-html="true"><%= simple_format response[:name].to_s %></span>
