.page-header
  %h1 Search Results

- if @objects.size == 0
  .jumbotron
    %p.center No results were returned. Quick search looks across Subjects, Projects, Designs, and Variables.
- else
  .row
    - [['Subjects', @subjects], ['Projects', @projects], ['Designs', @designs], ['Variables', @variables]].each do |name, scope|
      - if scope.size > 0
        .col-md-3
          .download-container
            %h3= name
            - scope.each do |item|
              - link = item.respond_to?('project') ? [item.project, item] : item
              .overflow-hidden{ title: "#{item.project.name if item.respond_to?('project')}", style: 'width: 100%', rel: 'tooltip', data: { placement: 'right', container: 'body' } }
                = link_to highlight(item.name, params[:q], highlighter: '<span class="highlight">\1</span>'), link
