- @title = 'New Value'

- links = []
- links << ['Checks', editor_project_checks_path(@project)]
- links << [@check.name, editor_project_check_path(@project, @check)]
- links << ['Filters', editor_project_check_check_filters_path(@project, @check)]
- links << [@check_filter.name, editor_project_check_check_filter_path(@project, @check, @check_filter)]
- links << ['Values', editor_project_check_check_filter_check_filter_values_path(@project, @check, @check_filter)]
- links << ['New', new_editor_project_check_check_filter_check_filter_value_path(@project, @check, @check_filter)]

= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid
    = render 'form'
