@mixin theme-menu($background-color) {
  background-color: $background-color;
  border-color: darken($background-color, 6.5%);

  .btn-menu {
    background-color: $background-color;
    border-color: darken($background-color, 6.5%);
    color: $brand-white;

    &:hover,
    &:focus,
    &:active,
    &.active,
    &.disabled,
    &[disabled] {
      background-color: darken($background-color, 6.5%);
      border-color: darken($background-color, 6.5%);
      color: $brand-white;
    }
  }

  .dropdown-menu-slice {
    .dropdown-menu-slice-inner {
      background-color: darken($background-color, 6.5%);
    }

    &::after {
      border-bottom-color: darken($background-color, 6.5%);
    }
  }
}
