- if params[:theme].present?
  - @menu = @body = @body_alt = @footer = params[:theme]
- else
  - @themes = Slice::THEMES.collect(&:second)
  - @menu = @body = @body_alt = @footer = @themes[rand(@themes.size)]
