- if params[:theme].in?(Slice::THEMES.collect(&:second))
  - @theme = params[:theme]
- else
  - t = Time.zone.now
  - if (0..6).cover?(t.hour) # Night Mode from 12am to 7am
    - @seasonal = "night"
  - elsif t.month == 2 && (7..14).cover?(t.day) # Week leading up to St Valentine's day
    - @seasonal = "love"
  - elsif [12, 1, 2].include?(t.month) # Winter months
    - @seasonal = "default" # "winter" - disable due to performance hit
  - elsif (3..5).cover?(t.month) # Spring months
    - @seasonal = "spring"
  - elsif (6..8).cover?(t.month) # Summer months
    - @seasonal = "default" # "underwater" - disable due to performance hit
  - else # Fall
    - @seasonal = "fall"

  - @theme = @seasonal
