- if current_user&.theme.in?(Slice::THEMES.collect(&:second))
  - @menu = current_user&.theme
  - @body = current_user&.theme
  - @body_alt = current_user&.theme
  - @footer = current_user&.theme
- else
  - @menu = "default"
  - @body = "default"
  - @body_alt = "default"
  - @footer = "default"

- case @body
- when "night"
  - content_for :footer, render("decorations/moon")
- when "sunset"
  - content_for :footer, render("decorations/sunset")
