- if params[:theme].present?
  - @theme = @menu = @body = @body_alt = @footer = params[:theme]
- elsif current_user&.theme.in?(Slice::THEMES.collect(&:second))
  - @theme = @menu = @body = @body_alt = @footer = current_user&.theme
- else
  - @theme = @menu = @body = @body_alt = @footer = "default"

- case @body
- when "night"
  - content_for :footer, render("decorations/moon")
- when "sunset"
  - content_for :footer, render("decorations/sunset")
