- if params[:theme].in?(Slice::THEMES.collect(&:second))
  - @theme = params[:theme]
- elsif current_user&.theme.in?(Slice::THEMES.collect(&:second))
  - @theme = current_user&.theme
- else
  - @theme = "default"

- case @theme
- when "night"
  - content_for :footer, render("decorations/moon")
- when "sunset"
  - content_for :footer, render("decorations/sunset")
