- @title = "Full Test"

- render "themes/random"

- content_for :container_class, "container-fluid"

.page-box.last-box.d-flex.align-items-center.theme-bg{ class: @body_alt }
  .container
    .text-center
      .page-heading{ style: "font-size: 2rem; font-weight: normal; letter-spacing: normal; text-shadow: none; font-variant: normal;" }= @title
