# Increase the default maximum upload size.

files:
    "/etc/nginx/conf.d/client_max_body_size.conf" :
        owner: root
        group: root
        mode: "000644"
        content: |
           client_max_body_size 100M;

container_commands:
  99_restart_nginx:
    command: "service nginx restart || service nginx start"
