# Installs Node.js and Yarn to support autoprefixer-rails.

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/99_setup_node.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      export NVM_DIR="/opt/nvm"
      mkdir -p $NVM_DIR
      curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.5/install.sh | bash
      source $NVM_DIR/nvm.sh
      nvm install 16
      nvm use 16
      nvm alias default 16
      npm install -g yarn
      echo 'export NVM_DIR="/opt/nvm"' >> /etc/profile.d/nvm.sh
      echo 'source $NVM_DIR/nvm.sh' >> /etc/profile.d/nvm.sh
