- if current_user && current_user.theme == 'spring'
  .landing-upper-right
    #sun
      %span.fa-stack
        %i.fa.fa-circle.fa-stack-1x
        %i.fa.fa-sun-o.fa-stack-1x

  .landing-upper-left
    %i.fa.fa-cloud
  .landing-upper-left2
    %i.fa.fa-cloud
