= form_with model: [stratification_factor_option.stratification_factor.randomization_scheme.project, stratification_factor_option.stratification_factor.randomization_scheme, stratification_factor_option.stratification_factor, stratification_factor_option], local: true do |form|
  = render "forms/horizontal/text_field", form: form, object: stratification_factor_option, key: :label
  = render "forms/horizontal/number_field", form: form, object: stratification_factor_option, key: :value
  = render "forms/horizontal/submit", form: form, object: [stratification_factor_option.stratification_factor.randomization_scheme.project, stratification_factor_option.stratification_factor.randomization_scheme, stratification_factor_option.stratification_factor, stratification_factor_option]
