- @title = "Edit Stratification Factor Option: #{@stratification_factor_option.name_was}"

- links = []
- links << [@randomization_scheme.name, [@project, @randomization_scheme]]
- links << [@stratification_factor.name, [@project, @randomization_scheme, @stratification_factor]]
- links << ['Options', project_randomization_scheme_stratification_factor_stratification_factor_options_path(@project, @randomization_scheme, @stratification_factor)]
- links << [@stratification_factor_option.name_was, [@project, @randomization_scheme, @stratification_factor, @stratification_factor_option]]
- links << ['Edit', edit_project_randomization_scheme_stratification_factor_stratification_factor_option_path(@project, @randomization_scheme, @stratification_factor, @stratification_factor_option)]

= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid
    = render 'form'
