<% if @sheet %>
  <% subject = @project.subjects.find_by_subject_code( @sheet.subject ? @sheet.subject.subject_code : params[:subject_code] ) %>
  <% if @sheet.design and not @sheet.design.read_only_variable_names.blank? and subject %>
    <% @sheet.design.read_only_variable_names.each do |variable_name| %>
      <% variable = @sheet.design.project.variables.find_by_name( variable_name ) %>
      <% sheet_ids = subject.sheets.pluck(:id) %>
      <% sheet_ids = sheet_ids - [@sheet.id] if @sheet %>
      <% sheet_variables = SheetVariable.where( sheet_id: sheet_ids, variable_id: variable.id ) if variable %>
      <% if variable and sheet_variables.size > 0 %>
        <div class="form-group">
          <label class="col-md-2 control-label"><%= variable.display_name %></label>
          <div class="col-md-10" style="margin-top:8px">
            <% sheet_variables.each do |sheet_variable| %>
              <p style="margin-bottom:0px">
              <%# TODO: Refactor to use sheet_variables/show partial %>
              <%= link_to project_sheet_path(sheet_variable.sheet.project, sheet_variable.sheet) do %>
                <% if variable.variable_type == 'grid' %>
                  <%= render partial: "sheet_variables/show/#{variable.variable_type}", locals: { variable: variable, sheet_variable: sheet_variable } %>
                <% elsif Variable::TYPE.flatten.uniq.include?(variable.variable_type) %>
                  <%= render partial: "sheet_variables/show/#{variable.variable_type}", locals: { variable: variable, object: sheet_variable } %>
                <% end %>
              <% end %>
              </p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
