<div style="padding: 0 10px">
  <table style="width:100%;margin: 10px 0;">
    <tr>
      <td><button type="button" class="btn btn-mini active btn-block" data-toggle="button" rel="tooltip"
        data-title="<table>
          <tr><th style='text-align:left;'>Subject&nbsp;</th><th style='text-align:left;'>Gender</th><th style='text-align:left;'>Age</th></tr>
          <tr><td style='text-align:left'>T325</td><td style='text-align:left'>1: male</td><td style='text-align:left'>25 years</td></tr>
          <tr><td style='text-align:left'>T349</td><td style='text-align:left'>2: female</td><td style='text-align:left'>30 years</td></tr>
          </table>" data-html="true">Sheets - Labeled</button></td>
      <td><button type="button" class="btn btn-mini active btn-block" data-toggle="button" rel="tooltip"
        data-title="<table>
          <tr><th style='text-align:left;'>Subject&nbsp;</th><th style='text-align:left;'>Gender</th><th style='text-align:left;'>Age</th></tr>
          <tr><td style='text-align:left'>T325</td><td style='text-align:left'>1</td><td style='text-align:left'>25</td></tr>
          <tr><td style='text-align:left'>T349</td><td style='text-align:left'>2</td><td style='text-align:left'>30</td></tr>
          </table>" data-html="true">Sheets - Raw</button></td>
    </tr>
    <tr>
      <td>
        <button type="button" class="btn btn-mini active btn-block" data-toggle="button" rel="tooltip"
        data-title="<table>
          <tr><th style='text-align:left;'>Subject&nbsp;</th><th style='text-align:left;'>Medication</th></tr>
          <tr><td style='text-align:left'>T325</td><td style='text-align:left'>fso: Fish Oil</td></tr>
          <tr><td style='text-align:left'>T325</td><td style='text-align:left'>vita: Vitamin A</td></tr>
          </table>"
        data-html="true" data-placement="bottom">Grids - Labeled</button></td>
      <td>
        <button type="button" class="btn btn-mini active btn-block" data-toggle="button" rel="tooltip"
        data-title="<table>
          <tr><th style='text-align:left;'>Subject&nbsp;</th><th style='text-align:left;'>Medication</th></tr>
          <tr><td style='text-align:left'>T325</td><td style='text-align:left'>fso</td></tr>
          <tr><td style='text-align:left'>T325</td><td style='text-align:left'>vita</td></tr>
          </table>"
        data-html="true" data-placement="bottom">Grids - Raw</button>
      </td>
    </tr>
  </table>
</div>
