- @title = 'New Sheet'

- links = []
- links << [@subject.subject_code, [@project, @subject]]
- if @sheet.subject_event
  - links << [@sheet.subject_event.name, event_project_subject_path(@project, @subject, event_id: @sheet.subject_event.event, subject_event_id: @sheet.subject_event.id, event_date: @sheet.subject_event.event_date_to_param)]
- links << [(@title), url_for(params)]
= render 'projects/tabbed_menu', links: links

= render 'sheets/form_header'
.markdown-container
  = render 'sheets/form'
