<!DOCTYPE html>
<html>
<head>
  <title><%= [Contour.application_name, @title].compact.join(' - ').html_safe %></title>
  <%= stylesheet_link_tag "application", media: 'all' %>
</head>
<body style="padding-top:0px">
  <% @sheets.each do |sheet| %>
    <%= @sheet = sheet; render partial: 'sheets/print' %>
    <hr class="soften" style="margin-top:54px; margin-bottom:54px;page-break-after:always">
  <% end %>
</body>
