- if team.ae_team_pathways.present?
  %ul.list-unstyled
    - team.ae_team_pathways.each do |pathway|
      %li= link_to pathway.name, editor_project_ae_team_ae_pathway_path(project, team, pathway)
- else
  .text-muted No pathways.


