- @title = "New Team"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")
- content_for :header, @title

.dashboard-container= render "form", project: @project, team: @team
