%ul.list-unstyled
  - user.all_viewable_sites.each do |site|
    - if current_user.all_viewable_sites.pluck(:id).include?(site.id)
      %li= link_to "#{site.name} - #{site.project.name}", [site.project, site]
