- @title = "#{@user.name_was} Edit"
- @breadcrumbs = []
- @breadcrumbs << ["Users", users_path]

- content_for :header do
  = link_to @user.name_was, @user
  Edit

.dashboard-container
  = render "form"
