- @title = "Edit User: #{@user.name_was}"

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = link_to 'Users', users_path
        &middot;
        = link_to @user.name_was, @user
        &middot;
        Edit

.background-gradient

.dashboard-container
  = render 'form'
