.docs-navigation-container
  .row
    .col-sm-6.col-md-4
      - if previous_link
        = link_to previous_link[1], class: 'btn btn-block btn-lg btn-default text-left btn-shadow' do
          %small.docs-navigation
            &larr;
            Previous
          %br
          = previous_link[0]
    - if previous_link && next_link
      .col-buffer.visible-xs
    .col-md-4.hidden-xs.hidden-sm
    .col-sm-6.col-md-4
      - if next_link
        = link_to next_link[1], class: 'btn btn-block btn-lg btn-accent text-left btn-shadow' do
          %small.docs-navigation
            Next
            &rarr;
          %br
          = next_link[0]

