- @title = "Adverse Events"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("docs/sidebar")
- content_for :header, @title

.docs-container
  %p
    Slice provides the means to report adverse events that may occur during the
    course of a clinical trial.

  %p
    The adverse event module can be enabled in the project settings. When
    enabled, project and site editors
    = link_to "1", docs_roles_path, class: "btn btn-light sup-link"
    can initiate a new adverse event report for a subject. The adverse event is
    initiated with a brief description of the event, and notifications and
    emails are sent to unblinded project editors. Additional information can be
    captured by designating designs for adverse events, unblinded project
    editors can participate in a discussion, and supplementary files can be
    attached to the adverse event.

  %p
    After an adverse event has been resolved, an unblinded project editor can
    then mark the event as closed.

  %p
    A subject's adverse events can be viewed from the subject page, and can be
    filtered on the subjects index. Slice also provides an adverse event export
    that lists all adverse events along with any supporting information.

= render "docs/links", previous_link: nil, next_link: ["Auto-locking Sheets", docs_locking_path]
