- @title = "Data Review"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("docs/sidebar")
- content_for :header, @title

.docs-container
  %p
    Slice provides a number of ways to explore and visualize collected data.

  %ul
    %li= link_to "Exports", docs_exports_path
    %li= link_to "Reports", docs_reports_path
    %li= link_to "Data Quality Checks", docs_checks_path

= render "docs/links", previous_link: nil, next_link: ["Exports", docs_exports_path]
