- @title = "Designs"
- @keywords = "capturing data, online data capture, build a questionnaire, free data capture"
= render "docs/side_nav"

.background-gradient

%h1.docs-heading
  .docs-subheading Project Setup
  = @title

.docs-container
  %p
    A design is a series of questions. The questions in a design can be broken
    into several sections and subsections. The purpose of a design is to provide
    a framework for accurately capturing a set of data.

  %p
    A good understanding of the types of questions that Slice provides is
    useful when creating a design, and is covered in the next section.

  %p
    Before creating a design, make sure you understand the eventual purpose of
    the data being collected so you won't need to make changes after data
    collection starts.

  %h2 Creating a design.

  %p
    A design primarily consists of a list of questions. Each question (commonly
    referred to as a variable in Slice), has a display name, along with a variable
    name. The
    %strong variable name
    is used to facilitate analysis of data exports, as
    well as setting up calculations and data quality checks. The
    %strong display name
    is what is shown the the user entering the data.

  %p
    Slice provides a number of variable
    %strong types
    that can be used to capture data in different formats. These variable types
    are covered in detail in the
    = link_to "Variables", docs_variables_path
    section, but can cover single choice responses, free text, numbers, times,
    and dates.

  %p
    For long designs, it is useful to split the questions into sections.
    Sections can be added to designs, and can contain a heading, as well as a
    section description.

  %p
    Designs can only be created and modified by project editors. Project
    viewers, site editors, and site viewers do not have access to the design
    builder.

= render "docs/links", previous_link: nil, next_link: ["Sections", docs_sections_path]
