- @title = 'Domains'

.background-gradient

%h1.docs-heading
  .docs-subheading Project Setup
  = @title

.docs-container
  %p

= render 'docs/links', next_link: nil, previous_link: ['Variables', docs_variables_path]
