- @title = 'Events'

.background-gradient

%h1.docs-heading
  .docs-subheading Project Setup
  = @title

.docs-container
  %p
    Data entry sheets can be part of an event. An event can contain multiple
    forms that are needed for the event. Events help organize a subjects sheets
    and can represent visits, phone calls, and other events that may have a set
    of designs.

  %p
    Project editors can set up events and identify the designs that should show
    up on the event.

= render 'docs/links', previous_link: ['Auto-locking Sheets', docs_locking_path], next_link: nil
