- @title = "Exports"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("docs/sidebar")
- content_for :header, @title

.docs-container
  %p
    Slice provides a variety of formats for data exports.

  %h2 CSV Exports

  %p
    Data can be exported to CSV format using either labeled or raw values. The
    labeled CSVs are more human-readable, while the raw value CSVs are easier to
    integrate into statistical analysis programs.

  %h2 R and SAS

  %p
    For users comfortable in doing analysis in R or SAS, Slice provides exports
    directly to these formats. Each export contains a script to properly format
    the data in both R and SAS.

  %h2 PDF

  %p
    Each sheet can be printed as a PDF. This export generates a PDF for each
    sheet for users wishing to archive, print, or upload sheets to other
    systems.

  %h2 Data Dictionary

  %p
    Slice automatically generates a data dictionary describing how data is
    collected across designs. This data dictionary can be exported along with
    the data itself to help in sharing results and analysis with other
    researchers, or to aid in secondary analysis.

  %h2 Uploaded Files

  %p
    Files attached to sheets can be downloaded by including "Uploaded Files" in
    the data export.

  %h2 Adverse Events

  %p
    A CSV of data describing adverse events on the project can be exported.

  %h2 Randomizations

  %p
    This CSV export includes a list of randomizations along with associated
    randomization data, including treatment arms and randomization number.

= render "docs/links", previous_link: ["Data Review and Analysis", docs_data_review_path], next_link: ["Reports", docs_reports_path]
