- @title = 'Docs'
= render 'docs/side_nav'

.background-gradient

%h1.docs-heading
  = @title

.docs-container
  %p
    Welcome!

  %p
    The following pages provide an overview of how to setup a project, collect
    data, and explore the results.

  %p
    Email us at
    = mail_to ENV['support_email']
    if you don't find an answer to your questions.

  %p We're here to help,

  %p The Slice Team

= render 'docs/links', previous_link: nil, next_link: ['Project Setup', docs_project_setup_path, 'Start']
