- @title = "Docs"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("docs/sidebar")
- content_for :header, @title

.docs-container
  %p
    Welcome!

  %p
    The following pages provide an overview of how to setup a project, collect
    data, and explore the results.

  %p
    Email us at
    = mail_to ActionMailer::Base.smtp_settings[:email]
    if you don't find an answer to your questions.

  %p We're here to help,

  %p The Slice Team

= render "docs/links", previous_link: nil, next_link: ["Project Setup", docs_project_setup_path, "Start"]
