- @title = 'Minimization Algorithm'

.background-gradient

%h1.docs-heading
  .docs-subheading Project Setup
  = @title

.docs-container
  %p
    The
    %i Minimization algorithm
    selects the next treatment arm for a randomized
    participant by looking at the existing distributions of pre-existing
    randomizations. The algorithm attempts to minimize the difference between
    these distributions by assigning the participant to the treatment arm with
    the lowest number of participants who fit the stratification factors. In
    this way, the algorithm can ensure an even distribution of participants by
    stratification factor to all treatment arms.

  %p
    The
    %i Minimization algorithm
    also introduces a chance for a random treatment arm selection which is set
    to 30% by default.

  %p
    The
    %i Chance of Random Treatment Arm Selection
    can be altered when setting up a new randomization scheme, and changed to
    any integer between 0 (Never Random) and 100 (Always Random).

  %h2 Generating Lists

  %p
    Under the
    = succeed ',' do
      %i Minimization algorithm
    only one list of randomization treatment arm assignments exists, unless
    site is used as a stratification factor. This is to ensure that within a
    site, the distribution of participants across treatment arms is balanced.

  %p
    When a subject is randomized, the next treatment assignment is dynamically
    generated based on the distribution of stratification factors of previous
    participants on the list. Since it is not possible to know the distributions
    in advance, it is not possible to generate a pre-determined list of
    treatment assignments at the start of a study when using the
    = succeed '.' do
      %i Minimization algorithm

= render 'docs/links', next_link: ['Permuted-Block Algorithm', docs_permuted_block_path], previous_link: ['Randomization Schemes', docs_randomization_schemes_path]
