- @title = 'Permuted-Block Algorithm'

.background-gradient

%h1.docs-heading
  .docs-subheading Project Setup
  = @title

.docs-container
  %p
    The
    %strong Permuted-Block algorithm
    determines treatment arm assignments by generating a group of blocks. Each
    block contains a predetermined number of treatment arm assignments based on
    the treatment arm allocations and the block multiplier. The block itself can
    also occur one or more times in the block group based on it's own block
    group allocation.

  %p
    As an example, given a Treatment Arm A with an allocation value of 1 and a
    Treatment Arm B with an allocation of 2, this indicates that we want 1/3 of
    the participants to ideally fall into Treatment Arm A and 2/3 into Treatment
    Arm B. The creates a base unit of size 3.

  %p
    Next, we define two block size multipliers, the first we set to have a
    multiplier of x1 with a block group allocation of 1, and the
    second we set as having a multiplier of x2 also with a block group
    allocation of 1.

  %p
    The algorithm can now generate the first block group. As both block size
    multipliers have an allocation of 1, the algorithm shuffles one of each into
    the block group giving us one of the following arrangements.

  .row
    .col-sm-6
      %pre
        Block Group
        &nbsp; Block x2
        &nbsp; Block x1

    .col-sm-6
      %pre
        Block Group
        &nbsp; Block x1
        &nbsp; Block x2

  %p
    If we had set the second block size multiplier to have an allocation of 2
    the algorithm would have generated one of the following block groups.

  .row
    .col-sm-4
      %pre
        Block Group
        &nbsp; Block x2
        &nbsp; Block x2
        &nbsp; Block x1

    .col-sm-4
      %pre
        Block Group
        &nbsp; Block x2
        &nbsp; Block x1
        &nbsp; Block x2

    .col-sm-4
      %pre
        Block Group
        &nbsp; Block x1
        &nbsp; Block x2
        &nbsp; Block x2

  %p
    For simplicity and brevity, this example will use block size multipliers
    with block group allocations of 1.

  %p
    The algorithm now needs to insert the proper treatment arm assignments into
    each of these block size multlipliers. Starting with the simpler example,
    the Block x1 contains 1 base unit of treatment arms. Since the
    treatment arms have an allocation value of 1 for Treatment Arm A, and 2 for
    Treatment Arm B, for a total of three treatment arm assignments, these are
    shuffled and added to Block x1 to give one of the following
    results.

  .row
    .col-sm-4
      %pre
        Block x1
        &nbsp; Arm A
        &nbsp; Arm B
        &nbsp; Arm B

    .col-sm-4
      %pre
        Block x1
        &nbsp; Arm B
        &nbsp; Arm A
        &nbsp; Arm B

    .col-sm-4
      %pre
        Block x1
        &nbsp; Arm B
        &nbsp; Arm B
        &nbsp; Arm A

  %p
    The same is done with Block x2. The only difference here is that
    the treatment arm multiplier is x2, so we take the allocation values of each
    treatment arm to come up with the following list: Treatment Arm A, Treatment
    Arm A, Treatment Arm B, Treatment Arm B, Treatment Arm B, Treatment Arm B.

  %p
    Treatment Arm A occurs twice, and Treatment Arm B occurs four times in
    Block x2. These are once again shuffled and inserted into the
    block size multiplier. Here are two possible results.

  .row
    .col-sm-6
      %pre
        Block x2
        &nbsp; Arm B
        &nbsp; Arm B
        &nbsp; Arm B
        &nbsp; Arm A
        &nbsp; Arm B
        &nbsp; Arm A

    .col-sm-6
      %pre
        Block x2
        &nbsp; Arm B
        &nbsp; Arm A
        &nbsp; Arm B
        &nbsp; Arm B
        &nbsp; Arm B
        &nbsp; Arm A

  %p
    The following shows how the
    %strong Block-Permuted algorithm
    may generate an evenly distributed set of treatment options within a single
    Block Group.

  %pre
    Block Group
    &nbsp; Block x2
    &nbsp; Block x2
    &nbsp; Block x1

  %pre
    Block Group
    &nbsp; Block x2
    &nbsp; &nbsp; Arm B
    &nbsp; &nbsp; Arm B
    &nbsp; &nbsp; Arm B
    &nbsp; &nbsp; Arm A
    &nbsp; &nbsp; Arm B
    &nbsp; &nbsp; Arm A
    &nbsp; Block x2
    &nbsp; &nbsp; Arm B
    &nbsp; &nbsp; Arm A
    &nbsp; &nbsp; Arm B
    &nbsp; &nbsp; Arm B
    &nbsp; &nbsp; Arm B
    &nbsp; &nbsp; Arm A
    &nbsp; Block x1
    &nbsp; &nbsp; Arm B
    &nbsp; &nbsp; Arm A
    &nbsp; &nbsp; Arm B

  %h2 Generating Lists

  %p
    When a subject is randomized using the
    = succeed ',' do
      %strong Block-Permuted algorithm
    the stratification factors are used to identify the list from which the
    algorithm should pull the next treatment arm assignment. Given gender
    (Male and Female) and site (Site A, Site B), a list would exist for each of
    these combinations. The following four lists would exist, "Male/Site A",
    "Male/Site B", "Female/Site A", and "Female/Site B". If a new treatment arm
    selection didn't exist, the
    %strong Block-Permuted algorithm
    would then generate the next block group and append it to the appropriate
    list.

  %h2 In-Depth Example of Treatment Block Group

  %p
    The following image shows a single block group composed of two treatment
    arms and three different block size multipliers identified by color.

  .row
    .col-sm-6.center
      %p
        The treatment arms are:
      %ul.list-unstyled
        %li A1 Allocation 1
        %li B2 Allocation 2

    .col-sm-6.center
      %p
        The block group multipliers are:
      %ul.list-unstyled
        %li Green x1 Allocation 2
        %li Red x2 Allocation 3
        %li Blue x3 Allocation 1

  %p
    Given this block group, the first
    participant would be randomized to A1, and the second participant to B2.

  .center= image_tag 'permuted-block-treatment-assignments-block-group.png'

  %p
    The 2 green blocks are block size multipliers that have a x1 occurence of
    treatment arm assignments, and have an allocation of 2 for the block group.

  %p
    The 3 red block are block size multipliers that have a x2 occurence of
    treatment arm assignments, creating 6 treatment assignments per block:
    %code (1[A1] + 2[B2] = 3 treatment assignments)
    %code (3 treatment assignments * x2 multiplier = 6 treatment assignments)
    The red blocks have an allocation of 3 for the block group which is why the
    red blocks appear three times.

  %p
    Finally the single blue block is a block size multiplier of x3 containing
    a total of 9 treatment assignments within the block. The blue block has a
    block allocation of 1, and hence only shows up once in the entire block
    group.

  %p
    %strong Important notes:

  %ul
    %li
      Each block group will have the same number of treatment
      assignments, in this case 33 per block group.

    %li
      An individual block may be allocated multiple times in the block group,
      with the same number of treatment assignments, but the treatment
      assignments may not be in the same order due to shuffling of each
      treatments within each block.

    %li
      Treatment arms get allocated to blocks and then get shuffled within the
      block.

    %li
      Each block as it is added to the block group shuffles the treatment arms
      indepently of other blocks.

    %li
      Blocks are allocated to block groups, and then get shuffled to fully create
      the block group.

    %li
      When treatment arm assignments are no longer available, a new block group is
      generated automatically by Slice.

= render 'docs/links', previous_link: ['Minimization Algorithm', docs_minimization_path], next_link: ['Treatment Arms', docs_treatment_arms_path]
