- @title = 'Sections'
= render 'docs/side_nav'

.background-gradient

%h1.docs-heading
  .docs-subheading Designs
  = @title

.docs-container
  %p
    A design can be broken into one or more sections. Section headings can be
    added by project editors building a design.

  %p
    A section can have a name, description and an image. Images can be used in
    conjunction with branching logic to display custom warnings if certain
    branching logic conditions are met on the form.

  %p
    A section can be set as Main Section, Subsection, Informational Section,
    Warning, or Alert. The type assigned changes the styling of the section on
    the design. Additionally, main sections can be used to reorder designs.

  %p
    Sections are typically most useful on long forms to break up the flow of
    content. However, a design that has more than 3 or 4 main sections may be a
    sign that the form should be broken up into separate and dedicated designs.
    Remember, you can always have a series of designs filled out by assigning
    them together to a specific event.

= render 'docs/links', previous_link: ['Designs', docs_designs_path], next_link: ['Variables', docs_variables_path]
