- @title = 'Data Entry'

.background-gradient

%h1.docs-heading
  .docs-subheading Project Setup
  = @title

.docs-container
  %p

= render 'docs/links', next_link: nil, previous_link: ['Index', docs_path]
