- @title = 'Stratification Factors'

.background-gradient

%h1.docs-heading
  .docs-subheading Project Setup
  = @title

.docs-container
  %p

= render 'docs/links', next_link: nil, previous_link: ['Randomization Schemes', docs_randomization_schemes_path]
