- @title = 'Technical'
= render 'docs/side_nav'

.background-gradient

%h1.docs-heading
  .docs-subheading Specs
  The power behind Slice.

.docs-container
  %h2= @title

  %p
    Slice is built using the
    %strong Ruby on Rails
    web framework, stores data in a
    %strong PostgreSQL
    database, and runs on
    %strong Phusion Passenger
    using
    %strong nginx
    servers.
