- @title = "Technical"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("docs/sidebar")
- content_for :header, @title

.docs-container
  %h2= @title

  %p
    Slice is built using the
    %strong Ruby on Rails
    web framework, stores data in a
    %strong PostgreSQL
    database, and runs on
    %strong Phusion Passenger
    using
    %strong nginx
    servers.
