- @title = 'Treatment Arms'

.background-gradient

%h1.docs-heading
  .docs-subheading Project Setup
  = @title

.docs-container
  %p

= render 'docs/links', previous_link: ['Randomization Schemes', docs_randomization_schemes_path], next_link: nil
