- @title = 'Variables'

.background-gradient

%h1.docs-heading
  .docs-subheading Project Setup
  = @title

.docs-container
  %p

= render 'docs/links', next_link: ['Domains', docs_domains_path], previous_link: ['Designs', docs_designs_path]
