%table.table.table-striped.table-borderless.table-hover.mb-0
  %thead
    %tr
      %th{ colspan: 3 }= link_to "Filters", editor_project_check_check_filters_path(@project, @check)
  - check.check_filters.each do |check_filter|
    %tr
      %td
        = link_to check_filter.name, editor_project_check_check_filter_path(check.project, check, check_filter)
      %td
        - if check_filter.variable
          - if check_filter.operator == "missing"
            %code MISSING
          - else
            %code= check_filter.database_operator
      %td
        - if check_filter.variable
          - check_filter.check_filter_values.each do |check_filter_value|
            %code
              = link_to check_filter_value.value, editor_project_check_check_filter_check_filter_value_path(check.project, check, check_filter, check_filter_value)
