- @title = 'Subject Report'

- links = []
- links << ['Subjects', project_subjects_path(@project)]
- links << ['Subject Report', subject_report_reports_project_path(@project)]
= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid
    %h2.underline-heading= @title
    = render 'reports/projects/subject_report'
