_branching_logic.html.haml


= link_to "Cancel", compose_design_design_option_path(design_option.design.project, design_option.design, design_option, language: params[:language], attribute: "branching_logic"), method: :get, remote: true, class: "btn btn-sm btn-link"
