// Styles for adverse event file uploads and attachments

.ae-file {
  background-color: $p50;
  border: 1px solid $p100;
  display: block;
  height: 115px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 115px;
}

.ae-file:hover {
  background-color: $p100;
  border-color: $p200;
}

.ae-file-destroy {
  left: 103px;
  position: absolute;
  top: 1px;
}
