// Styles for discussion and comments on adverse events and sheets.

.comment-outer {
  margin-bottom: 20px;
  position: relative;
}

.comment-left-fixed {
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 64px;
}

.comment-right-fluid {
  position: relative;
}

@include media-breakpoint-up(sm) {
  .comment-left-fixed {
    display: block;
  }

  .comment-right-fluid {
    margin-left: 64px;
  }
}

.comment-comment {
  border: 1px solid transparent;
  border-radius: 2px;
}

.comment-action {
  padding: 15px 10px;
}

.comment-comment-header {
  padding: 10px;
  position: relative;
}

.comment-comment-body {
  @include remove-last-child-bottom-margin;
  padding: 10px;
}

.comment-control {
  background-image: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  display: block;
  font-size: $font-size-base;
  height: auto;
  line-height: $line-height-base;
  outline: none;
  padding: 0;
  resize: none;
  width: 100%;
}

.comment-comment-header::before {
  content: '';
  height: 0;
  left: -7px;
  position: absolute;
  top: 14px;
  width: 0;
}

.comment-comment-header::after {
  content: '';
  height: 0;
  left: -6px;
  position: absolute;
  top: 14px;
  width: 0;
}

.comment-icon {
  display: none;
  left: -$font-size-base;
  position: absolute;
  padding: 15px 0;
}

@include media-breakpoint-up(sm) {
  .comment-icon {
    display: block;
  }
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    $comment-header-bg: theme-color($theme, p50);
    $comment-border: theme-color($theme, p100);

    .comment-comment {
      border-color: $comment-border;
    }

    .comment-comment-header {
      background-color: $comment-header-bg;
    }

    .comment-comment-body {
      background-color: theme-color($theme, input-bg, $white);
    }

    .comment-control {
      background-color: theme-color($theme, input-bg, $white);
      color: theme-color($theme, input-color, $p800-grey);
    }

    .comment-comment-header::before {
      border-bottom: 7px solid transparent;
      border-right: 7px solid $comment-border;
      border-top: 7px solid transparent;
    }

    .comment-comment-header::after {
      border-bottom: 7px solid transparent;
      border-right: 7px solid $comment-header-bg;
      border-top: 7px solid transparent;
    }

    .comment-comment-header {
      &.comment-unread::after {
        border-right-color: theme-color($theme, mark-bg, $mark-bg);
      }
    }

    .comment-unread {
      background-color: theme-color($theme, mark-bg, $mark-bg);
      color: map-get($theme, body-color);
    }
  }
}
