// Styles for discussion and comments on adverse events and sheets

$comment-header-bg: $p50 !default;
$comment-border: $p100 !default;

.comment-outer {
  margin-bottom: 20px;
  position: relative;
}

.comment-left-fixed {
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 64px;
}

.comment-right-fluid {
  position: relative;
}

@media screen and (min-width: $screen-sm-min) {
  .comment-left-fixed {
    display: block;
  }

  .comment-right-fluid {
    margin-left: 64px;
  }
}

.comment-comment {
  border: 1px solid $comment-border;
  border-radius: 2px;
}

.comment-action {
  margin: 15px 10px;
}

.comment-comment-header {
  background-color: $comment-header-bg;
  padding: 10px;
  position: relative;

  &.comment-unread::after {
    border-right-color: $alert-warning-bg;
  }

  a:not(.btn) {
    color: $p600;
  }
}

.comment-comment-body {
  @include remove-last-child-bottom-margin;

  background-color: $input-bg;
  padding: 10px;

  blockquote {
    background-color: $blockquote-border-color;
    border-color: darken($blockquote-border-color, 10%);
    border-width: 2px;
    font-size: initial;
    margin: 0 0 11px 11px;
    padding: 11px;
  }
}

.comment-control {
  background-color: $input-bg;
  background-image: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: $input-color;
  display: block;
  font-size: $font-size-base;
  height: auto;
  line-height: $line-height-base;
  outline: none;
  padding: 0;
  resize: none;
  width: 100%;
}

.comment-comment-header::before {
  border-bottom: 7px solid transparent;
  border-right: 7px solid $comment-border;
  border-top: 7px solid transparent;
  content: '';
  height: 0;
  left: -7px;
  position: absolute;
  top: 14px;
  width: 0;
}

.comment-comment-header::after {
  border-bottom: 7px solid transparent;
  border-right: 7px solid $comment-header-bg;
  border-top: 7px solid transparent;
  content: '';
  height: 0;
  left: -6px;
  position: absolute;
  top: 14px;
  width: 0;
}

.comment-icon {
  display: none;
  left: -$font-size-base;
  position: absolute;
}

@media screen and (min-width: $screen-sm-min) {
  .comment-icon {
    display: block;
  }
}

.comment-unread {
  background-color: $alert-warning-bg;
  color: $alert-warning-text;
}
