.label-coverage {
  background-color: $label-default-bg;
  font-weight: 200;

  &.coverage-100 {
    background-color: $P900;
  }

  &.coverage-90 {
    background-color: $P800;
  }

  &.coverage-80 {
    background-color: $P700;
  }

  &.coverage-70 {
    background-color: $P600;
  }

  &.coverage-60 {
    background-color: $P500;
  }

  &.coverage-50 {
    background-color: $P400;
  }

  &.coverage-40 {
    background-color: $P300;
  }

  &.coverage-30 {
    background-color: $P200;
  }


  &.coverage-20 {
    color: $P900;
    background-color: $P100;
  }

  &.coverage-10 {
    color: $P800;
    background-color: $P50;
  }

  &.coverage-0 {
    color: $P800;
    background-color: $P50;
  }
}
