.badge-coverage {
  font-weight: 200;
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .badge-coverage {
      font-weight: 200;
      color: map-get($theme, brand-white);

      &.coverage-100 {
        background-color: map-get($theme, p900);
        border-left: 2px solid map-get($theme, p200);
        border-right: 2px solid map-get($theme, p200);
      }

      &.coverage-90 {
        background-color: map-get($theme, p800);
      }

      &.coverage-80 {
        background-color: map-get($theme, p700);
      }

      &.coverage-70 {
        background-color: map-get($theme, p600);
      }

      &.coverage-60 {
        background-color: map-get($theme, p500);
      }

      &.coverage-50 {
        background-color: map-get($theme, p400);
      }

      &.coverage-40 {
        background-color: map-get($theme, p300);
      }

      &.coverage-30 {
        background-color: map-get($theme, p200);
      }

      &.coverage-20 {
        background-color: map-get($theme, p100);
        color: map-get($theme, p900);
      }

      &.coverage-10 {
        background-color: map-get($theme, p50);
        color: map-get($theme, p800);
      }

      &.coverage-0 {
        background-color: map-get($theme, p50);
        color: map-get($theme, p800);
      }
    }
  }
}
