.badge-coverage {
  background-color: $label-default-bg;
  font-weight: 200;

  &.coverage-100 {
    background-color: $p900;
    border-left: 2px solid $a200;
    border-right: 2px solid $a200;
  }

  &.coverage-90 {
    background-color: $p800;
  }

  &.coverage-80 {
    background-color: $p700;
  }

  &.coverage-70 {
    background-color: $p600;
  }

  &.coverage-60 {
    background-color: $p500;
  }

  &.coverage-50 {
    background-color: $p400;
  }

  &.coverage-40 {
    background-color: $p300;
  }

  &.coverage-30 {
    background-color: $p200;
  }

  &.coverage-20 {
    background-color: $p100;
    color: $p900;
  }

  &.coverage-10 {
    background-color: $p50;
    color: $p800;
  }

  &.coverage-0 {
    background-color: $p50;
    color: $p800;
  }
}
