.design-list {
  list-style: none;
  margin-bottom: 18px;
  margin-left: 0;
  margin-top: 18px;

  li {
    float: none;
    min-height: 32px;
  }

  .li-section .sortable-section {
    background-color: $btn-primary-bg;
    border-radius: 5px;
    color: $btn-primary-color;
    display: inline;
    margin: 0;
    padding: 5px 12px;
  }
}

.li-placeholder {
  background-color: $btn-primary-bg;
  border-radius: 5px;
  float: none;
  height: 32px;
  margin-bottom: 5px;
  margin-right: 0;
  margin-top: 0;
  opacity: .65;
}

.design-edit-box {
  background-color: $table-bg-accent;
  background-image: linear-gradient(90deg, $table-bg-accent, $table-bg-accent 65%, $body-bg);
  border-radius: 4px 0 0 4px;
  box-shadow: -7px 0 10px $standard-shadow-hover-color;
  padding: 10px;

  h4 {
    font-weight: bold !important;
    margin-top: 0;
    word-break: break-word;
  }

  .design-option-lead {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .design-option-body {
    margin: 0 0 15px 10px;
  }
}

.editable-design-element,
.editable-design-element input {
  cursor: pointer;
}

.editable-design-element:hover {
  background-color: $table-bg-hover;
  border-radius: 4px;
}

.add-design-option {
  margin: 20px 0;
}

.option-handle {
  cursor: move;
}
