.design-list {
  list-style: none;
  margin-bottom: 18px;
  margin-left: 0;
  margin-top: 18px;

  li {
    float: none;
    min-height: 32px;
  }

  .li-section .sortable-section {
    border-radius: 5px;
    display: inline;
    margin: 0;
    padding: 5px 12px;
  }
}

.li-placeholder {
  border-radius: 5px;
  float: none;
  height: 32px;
  margin-bottom: 5px;
  margin-right: 0;
  margin-top: 0;
  opacity: .65;
}

.design-edit-box {
  border-radius: $border-radius 0 0 $border-radius;
  padding: 10px;

  h4 {
    font-weight: bold !important;
    margin-top: 0;
    word-break: break-word;
  }

  .design-option-lead {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .design-option-body {
    margin: 0 0 15px 10px;
  }
}

.editable-design-element,
.editable-design-element input {
  cursor: pointer;
}

.editable-design-element:hover {
  border-radius: $border-radius;
}

.add-design-option {
  margin: 20px 0;
}

.option-handle {
  cursor: move;
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .design-list {
      .li-section .sortable-section {
        background-color: map-get($theme, primary);
        color: map-get($theme, brand-white);
      }
    }

    .li-placeholder {
      background-color: map-get($theme, primary);
      color: map-get($theme, brand-white);
    }

    .design-edit-box {
      background-color: theme-color($theme, table-accent-bg, $table-accent-bg);
      background-image: linear-gradient(90deg, theme-color($theme, table-accent-bg, $table-accent-bg), theme-color($theme, table-accent-bg, $table-accent-bg) 65%, map-get($theme, dashboard-bg));
      box-shadow: -3px 0 5px map-get($theme, box-shadow-color);
    }

    .editable-design-element:hover {
      background-color: rgba(map-get($theme, brand-black), .2);
    }
  }
}
