.filter-bubble,
.filter-bubble-faded {
  border: 1px solid transparent;
  border-radius: $border-radius;
  cursor: move;
  margin: 2px;
  padding: 5px;
}

.filter-bubble-faded {
  border: 1px dotted transparent;
  height: 34px;
}

.filter-sort-container {
  border-radius: $border-radius;
  min-height: 38px;
  padding: 2px;
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .filter-bubble,
    .filter-bubble-faded {
      // background-color: $input-bg;
      // border-color: $input-border;
    }

    .filter-bubble-faded {
      // background-color: $input-bg-disabled;
      // border-color: $input-border;
    }

    .droppable-hover {
      // background-color: $state-warning-bg;
    }
  }
}
