.navbar-default .navbar-nav .notifications-link span {
  animation: wiggle 250ms linear 4;
  color: $brand-accent;
}

.navbar-default .navbar-nav .notifications-link:hover span {
  color: darken($brand-accent, 15%);
}
