.navbar-default .navbar-nav .notifications-link span {
  animation: wiggle 250ms linear 4;
  color: $notification-link-color;
}

.navbar-default .navbar-nav .notifications-link:hover span {
  color: darken($notification-link-color, 15%);
}
