.project-details {
  display: none;
  padding: 20px 0 0;
}

.projects-box {
  margin: 0 0 10px;
  padding: 10px;
  background-color: $project-box-bg;
  // border: 1px solid $p500;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow .2s ease, background-color .2s ease;

  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: lighten($project-box-bg, 5%)
  }

  > a {
    color: $project-box-link;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .projects-box {
    padding: 15px;
  }
}

.handle {
  cursor: move;
  display: none;
}

.no-touch .projects-box:hover .handle {
  display: inline-block;
}
