.project-details {
  display: none;
  padding: 20px 0 0;
}

.projects-box {
  background-color: $project-box-bg;
  box-shadow: 0 0 5px $standard-shadow-hover-color;
  margin: 0 0 10px;
  padding: 10px;
  transition: box-shadow .2s ease, background-color .2s ease;

  &:hover {
    background-color: lighten($project-box-bg, 5%);
    box-shadow: 0 0 20px $standard-shadow-hover-color;
  }

  > a {
    color: $project-box-link;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .projects-box {
    padding: 15px;
  }
}

.handle {
  cursor: move;
  display: none;
}

// .no-touch .projects-box:hover .handle {
//   display: inline-block;
// }

// https://www.w3.org/TR/mediaqueries-4/#mf-interaction
@media (hover) {
  .projects-box:hover .handle {
    display: inline-block;
  }
}
