.project-details {
  display: none;
  padding: 20px 0 0;
}

.projects-box {
  margin: 0 0 10px;
  padding: 10px;
  transition: box-shadow .2s ease;

  &:hover {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (min-width: $screen-sm-min) {
  .projects-box {
    padding: 15px;
  }
}

.handle {
  cursor: move;
  display: none;
}

.no-touch .projects-box:hover .handle {
  display: inline-block;
}
