.block-group {
  margin-bottom: 10px;
}

.multiplier {
  border-left: 5px solid lighten($panel-default-border, 7.5%);
  padding: 15px 30px 15px 15px;
}

// Green
.multiplier-1 {
  background-color: lighten($state-success-bg, 7.5%);
  border-color: lighten($state-success-border, 7.5%);
}

// Red
.multiplier-2 {
  background-color: lighten($state-danger-bg, 7.5%);
  border-color: lighten($state-danger-border, 7.5%);
}

// Blue
.multiplier-3 {
  background-color: lighten($state-info-bg, 7.5%);
  border-color: lighten($state-info-border, 7.5%);
}

// Yellow
.multiplier-4 {
  background-color: lighten($state-warning-bg, 7.5%);
  border-color: lighten($state-warning-border, 7.5%);
}
