// These are colors from:
// https://material.google.com/style/color.html#color-color-palette
$block-blue: #2196f3 !default;  // $p500 blue
$block-red: #f44336 !default;   // $p500 red
$block-green: #4caf50 !default; // $p500 green
$block-amber: #ffb300 !default; // $p600 $amber

$block-color: $brand-white !default;

.block-group {
  margin-bottom: 10px;
}

.multiplier {
  border-left: 5px solid lighten($panel-default-border, 7.5%);
  padding: 15px 30px 15px 15px;
}

// Green
.multiplier-1 {
  background-color: $block-green;
  border-color: darken(adjust-hue($block-green, -10), 3%);
  color: darken(adjust-hue($block-green, -10), 20%);

  a {
    color: $block-color;
  }
}

// Red
.multiplier-2 {
  background-color: $block-red;
  border-color: darken(adjust-hue($block-red, -10), 3%);
  color: darken(adjust-hue($block-red, -10), 20%);

  a {
    color: $block-color;
  }
}

// Blue
.multiplier-3 {
  background-color: $block-blue;
  border-color: darken(adjust-hue($block-blue, 10), 3%);
  color: darken(adjust-hue($block-blue, 10), 20%);

  a {
    color: $block-color;
  }
}

// Amber
.multiplier-4 {
  background-color: $block-amber;
  border-color: darken(adjust-hue($block-amber, 10), 3%);
  color: darken(adjust-hue($block-amber, -10), 20%);

  a {
    color: $block-color;
  }
}
