// This defines custom styles for reports

.count-rot315 {
  display: inline-block;
  font-size: .9em;
  margin: 10px 0;
  transform: rotate(315deg);
}

.report-number {
  font-size: 41px;
  font-weight: 300;
}

@media screen and (min-width: $screen-lg-min) {
  .report-number {
    font-size: 72px;
  }
}

.report-quote {
  background-color: $input-bg-disabled;
  margin-bottom: 5px;
  padding: 5px;
}
