// This defines custom styles for reports

.count-rot315 {
  display: inline-block;
  font-size: .9em;
  margin: 10px 0;
  transform: rotate(315deg);
}

.rounded-borders {
  border-radius: 3px;
  padding: 1px 4px 2px;
}

.shadow-inset-left {
  box-shadow: inset 10px 0 10px -10px $report-shadow-color;

  &.shadow-inset-right {
    box-shadow: inset 10px 0 10px -10px $report-shadow-color,
                inset -10px 0 10px -10px $report-shadow-color;
  }
}

.shadow-inset-right {
  box-shadow: inset -10px 0 10px -10px $report-shadow-color;
}


.report-number {
  font-weight: 300;
  font-size: 41px;
}

@media screen and (min-width: $screen-lg-min) {
  .report-number {
    font-size: 72px;
  }
}
