// This defines custom styles for reports.

.count-rot315 {
  display: inline-block;
  font-size: .9em;
  margin: 10px 0;
  transform: rotate(315deg);
}

.report-number {
  font-size: 41px;
  font-weight: 300;

  @include media-breakpoint-up(lg) {
    font-size: 72px;
  }
}

.report-quote {
  margin-bottom: 5px;
  padding: 5px;
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .report-quote {
      background-color: theme-color($theme, input-disabled-bg, $input-disabled-bg);
    }
  }
}
