// Style sheets to resemble paper collection forms.

.sheet-drag-helper {
  border: 1px solid transparent;
  border-radius: $border-radius;
  padding: 2px 4px;
  z-index: $zindex-modal;
}

.variable-blind,
.variable-shade {
  border-left: 2px solid transparent;
  margin-bottom: 15px;
  padding: 10px;

  .form-group,
  .table {
    margin-bottom: 0;
  }

  label:not(.custom-control-label) {
    font-weight: bold;
  }
}

.shade-or-blind-background {
  display: table;
  width: 100%;

  .table {
    background-color: transparent;
  }
}

// TODO: Check if this removes margins correctly for inline boxes.
// .radio.inline + .radio.inline,
// .checkbox.inline + .checkbox.inline {
//   margin-right: 10px;
// }

.file-input {
  overflow: hidden;
  position: relative;

  input {
    &.upload {
      cursor: pointer;
      filter: alpha(opacity = 0);
      font-size: 20px;
      margin: 0;
      opacity: 0;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.form-group .control-label {
  text-align: left;
}

select {
  &.form-control {
    padding-left: 0;
    padding-top: 4px;
    text-indent: 4px;
  }
}

.time-input {
  white-space: nowrap;

  input {
    &[type="text"],
    &[type="number"] {
      min-width: 55px;
      width: 55px;
    }
  }

  select {
    min-width: 70px;
    width: 70px;
  }
}

.date-input {
  white-space: nowrap;
}

.month-box,
.day-box {
  input {
    &[type="text"],
    &[type="number"] {
      min-width: 55px;
      width: 55px;
    }
  }
}

.year-box {
  input {
    &[type="text"],
    &[type="number"] {
      min-width: 63px;
      width: 63px;
    }
  }
}

input[type="number"] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.calculation-hidden {
  display: none !important;
}

.sticky-scale-header {
  border-left: 2px solid transparent;
  margin-bottom: 0;
  padding: 0 10px;
  position: sticky;
  top: $header-height;

  table {
    margin-bottom: 0;
    position: sticky;
    top: 0;
  }
}

.scale-variable-reset {
  &.col-12 {
    position: inherit;
  }

  .radio-inline,
  .checkbox-inline {
    position: inherit;
  }

  .radio,
  .radio-inline {
    input[type="radio"] {
      position: inherit;
    }
  }

  .checkbox,
  .checkbox-inline {
    input[type="checkbox"] {
      position: inherit;
    }
  }
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .sheet-drag-helper {
      background-color: theme-color($theme, table-bg-accent, $p50-grey);
      border-color: theme-color($theme, table-border, $p300-grey);
      box-shadow: 0 0 5px map-get($theme, box-shadow-color);
    }

    .variable-shade {
      background-color: theme-color($theme, table-bg-accent, $p50-grey);
      border-color: theme-color($theme, table-border, $p300-grey);

      .table {
        background-color: theme-color($theme, table-bg-accent, $p50-grey);
      }

      .table-sticky {
        th {
          background-color: theme-color($theme, table-bg-accent, $p50-grey);
        }
      }
    }

    .variable-blind .shade-or-blind-background {
      background-color: map-get($theme, dashboard-bg);

      .table-sticky {
        th {
          background-color: map-get($theme, dashboard-bg);
        }
      }
    }

    .variable-shade .shade-or-blind-background {
      background-color: theme-color($theme, table-bg-accent, $p50-grey);

      .table-sticky {
        th {
          background-color: theme-color($theme, table-bg-accent, $p50-grey);
        }
      }
    }

    .sticky-scale-header {
      background-color: map-get($theme, dashboard-bg);

      .col-12 {
        background-color: map-get($theme, dashboard-bg);
      }

      table {
        background-color: map-get($theme, dashboard-bg);
      }
    }
  }
}

