// Styles sheets to resemble paper collection forms

.sheet-drag-helper {
  background-color: $table-bg-accent;
  border: 1px solid $table-border-color;
  border-radius: 4px;
  box-shadow: 0 7px 15px $standard-shadow-hover-color;
  padding: 2px 4px;
  z-index: $zindex-modal;
}

.variable-blind,
.variable-shade {
  border-left: 2px solid transparent;
  margin-bottom: 15px;
  padding: 10px;

  .form-group,
  .table {
    margin-bottom: 0;
  }
}

.variable-shade {
  background-color: $table-bg-accent;
  border-left: 2px solid $table-border-color;

  .table {
    background-color: $table-bg-accent;
  }

  .table-sticky {
    th {
      background-color: $table-bg-accent;
    }
  }
}

.shade-or-blind-background {
  display: table;
  width: 100%;

  .table {
    background-color: transparent;
  }
}

.variable-blind .shade-or-blind-background {
  background-color: $dashboard-bg;

  .table-sticky {
    th {
      background-color: $dashboard-bg;
    }
  }
}

.variable-shade .shade-or-blind-background {
  background-color: $table-bg-accent;

  .table-sticky {
    th {
      background-color: $table-bg-accent;
    }
  }
}

// TODO: Check if this removes margins correctly for inline boxes.
// .radio.inline + .radio.inline,
// .checkbox.inline + .checkbox.inline {
//   margin-right: 10px;
// }

.file-input {
  overflow: hidden;
  position: relative;

  input {
    &.upload {
      cursor: pointer;
      filter: alpha(opacity = 0);
      font-size: 20px;
      margin: 0;
      opacity: 0;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.form-group .control-label {
  text-align: left;
}

select {
  &.form-control {
    padding-left: 0;
    padding-top: 4px;
    text-indent: 4px;
  }
}


.checkbox-radio-outline.focus {
  border-color: $brand-primary;
  box-shadow: inset 0 1px 1px $input-shadow-color, 0 0 12px $brand-primary;
  outline: none;
}

.checkbox-radio-outline.focus.negation {
  border-color: $brand-danger;
  box-shadow: inset 0 1px 1px $input-shadow-color, 0 0 12px $brand-danger;
}

.checkbox-radio-outline {
  input {
    &[type="radio"],
    &[type="checkbox"] {
      outline: none;
    }
  }
}

.time-input {
  white-space: nowrap;

  input {
    &[type="text"] {
      min-width: 55px;
      width: 55px;
    }
  }

  select {
    min-width: 70px;
    width: 70px;
  }
}

.date-input {
  white-space: nowrap;
}

.month-box,
.day-box {
  input {
    &[type="text"] {
      min-width: 55px;
      width: 55px;
    }
  }
}

.year-box {
  input {
    &[type="text"] {
      min-width: 63px;
      width: 63px;
    }
  }
}

.calculation-hidden {
  display: none !important;
}

.sticky-scale-header {
  border-left: 2px solid transparent;
  margin-bottom: 0;
  padding: 0 10px;
  position: sticky;
  top: $header-height;

  .col-xs-12 {
    background-color: $dashboard-bg;
  }

  table {
    background-color: $dashboard-bg;
    margin-bottom: 0;
    position: sticky;
    top: 0;
  }
}

.form-horizontal {
  .dashboard-container {
    .sticky-scale-header {
      background-color: $dashboard-bg;
    }
  }
}

.scale-variable-reset {
  &.col-xs-12 {
    position: inherit;
  }

  .radio-inline,
  .checkbox-inline {
    position: inherit;
  }

  .radio,
  .radio-inline {
    input[type="radio"] {
      position: inherit;
    }
  }

  .checkbox,
  .checkbox-inline {
    input[type="checkbox"] {
      position: inherit;
    }
  }
}
