// Defines styles for validation errors on sheets

.variable-shade.variable-warnings {
  border-left: 2px solid $brand-warning;
  color: $brand-warning;
}

.variable-blind.variable-warnings {
  border-left: 2px solid $brand-warning;
  color: $brand-warning;
}

.variable-shade.variable-errors {
  border-left: 2px solid $brand-danger;
  color: $brand-danger;
}

.variable-blind.variable-errors {
  border-left: 2px solid $brand-danger;
  color: $brand-danger;
}
