// Defines styles for validation errors on sheets.

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .variable-shade,
    .variable-blind {
      &.variable-warnings {
        border-color: theme-color($theme, alert-warning-color, map-get($theme-colors, warning)) !important;
        color: theme-color($theme, alert-warning-color, map-get($theme-colors, warning)) !important;
      }
    }
    .variable-shade,
    .variable-blind {
      &.variable-errors {
        border-color: theme-color($theme, alert-danger-color, map-get($theme-colors, danger)) !important;
        color: theme-color($theme, alert-danger-color, map-get($theme-colors, danger)) !important;
      }
    }
  }
}
