<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">
  <%= link_to 'Add Section or Question', '#', data: { object: 'pull-partial-edit', new: 'section_or_variable', position: params[:position] } %> &middot;
    Existing Question
  </h4>
</div>
<div class="modal-body">

  <form id="variable_form" class="form-horizontal">
    <div class="form-group">
      <label class="col-md-2 control-label">Existing Variables</label>
      <div class="col-md-10">
        <% if @design.variable_ids.blank? %>
          <% variables = @project.variables %>
        <% else %>
          <% variables = @project.variables.where("variables.id NOT IN (?)", @design.variable_ids) %>
        <% end %>

        <% variables.group_by{||} %>

        <%= select_tag 'variable[id]', grouped_options_for_select( variables.group_by(&:variable_type).collect{|group, group_variables| [group.titleize, group_variables.collect{|v| [v.name, v.id]}.sort{|a,b| a[0] <=> b[0]}]}.sort{|a,b| a[0] <=> b[0]} ), style: 'width:200px', class: 'form-control' %>
      </div>
    </div>
  </form>

</div>
<div class="modal-footer">
  <%= button_tag 'Add Existing Variable', data: { object: 'push-partial-change', target: '#variable_form', create: 'variable', position: params[:position] }, class: 'btn btn-primary' %>
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>
