<div data-path="<%= interactive_popup_project_designs_path(@project, new: 'section_or_variable', position: position) %>" data-object="click-and-show" class="editable-design-element center hover-dark">
  Click to Insert New Section or Variable
</div>
