<div class="row design-preview-hide" style="padding-top:20px;padding-bottom:20px">
  <div class="col-sm-offset-6 col-sm-6">
    <%= link_to '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Question Here'.html_safe, '#', data: { object: 'pull-partial-edit', new: 'section_or_variable', position: position }, class: 'btn btn-xs btn-cutout pull-right' %>
  </div>
</div>
