<div class="center design-preview-hide" style="padding: 10px;">
  <%= link_to 'Add Section or Variable', '#', data: { object: 'pull-partial-edit', new: 'section_or_variable', position: position }, class: 'btn btn-xs btn-primary' %>
</div>


