<div data-object="pull-partial-edit" data-new="section_or_variable" data-position="<%= position %>" class="editable-design-element center hover-dark design-preview-hide">
  Click to Insert New Section or Variable
</div>
