<% is_grid = defined?(grid) %>

<div class="input-group">
  <%= text_field_tag variable.name, '', class: 'datepicker form-control', disabled: true, placeholder: 'mm/dd/yyyy' %>
  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
  <% if variable.show_current_button? %>
    <span class="input-group-btn">
      <%= link_to 'Today', '#', data: { object: 'set-current-time', target_date: "##{variable.name.gsub('[', '_').gsub(']', '')}" }, class: 'btn btn-default', tabindex: '-1' if variable.show_current_button? %>
    </span>
  <% end %>
</div>

<%= link_to 'Edit Ranges', '#', data: { object: 'pull-partial-edit', edit: 'variable_date', position: @position, variable_id: variable.id }, class: 'design-preview-hide btn btn-xs btn-default' %>
