- is_grid = defined?(grid)

- if is_grid
  = render 'designs/interactive/show/types/numeric', variable: variable, grid: grid, position: defined?(position) ? position : nil
- else
  = render 'designs/interactive/show/types/numeric', variable: variable
