<% is_grid = defined?(grid) %>

<div class="input-prepend input-append" style="display:inline-block;white-space:nowrap">
  <%= render partial: 'designs/interactive/show/variable_addon', locals: { method: 'prepend', variable: variable } %>
  <%= text_field_tag variable.name, '', class: "timepicker input-#{defined?(control_size) ? control_size : 'large'}",
        autocomplete: 'off',
        disabled: true,
        title: variable.display_name,
        placeholder: 'hh:mm:ss' %>
  <span class="add-on"><i class="icon-time"></i></span>
  <%= render partial: 'designs/interactive/show/variable_addon', locals: { method: 'append', variable: variable } %>
  <%= link_to 'Current Time', '#', data: { object: 'set-current-time', target_time: "##{variable.name.gsub('[', '_').gsub(']', '')}" }, class: 'btn', tabindex: '-1' if variable.show_current_button? %>
</div>
