%span.feet-box= text_field_tag "#{field_name}[feet]", (value[:feet] ? format("%d", value[:feet]) : nil), autocomplete: "off", class: "form-control", data: { object: "cursor-navigatable", target_name: target_name }, disabled: disabled, maxlength: 2, placeholder: "_", style: "display: inline-block;"
