%span.hour-box= text_field_tag "#{field_name}[hours]", (value[:hours] ? format("%02d", value[:hours]) : nil), autocomplete: "off", class: "form-control", data: { object: "cursor-navigatable", target_name: target_name }, disabled: disabled, maxlength: 2, placeholder: placeholder, style: "display: inline-block;"
