%span.period-select-box= select_tag "#{field_name}[period]", options_for_select([["AM", "am"], ["PM", "pm"]], value[:period]), class: "form-control", disabled: disabled, data: { object: "cursor-navigatable", target_name: target_name }, style: "display: inline-block;"
