#timeout_modal.modal
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title
          Session Timeout
        = link_to keep_me_active_path, remote: true, method: :post, class: "close" do
          &times;
      .modal-body
        Your session will timeout in less than five minutes.
      .modal-footer
        = link_to "Keep me signed in", keep_me_active_path, remote: true, method: :post, class: "btn btn-accent"
