- if design = design_option.design and section
  - if section and section.image.url
    - if params[:header] == '0'
      - full_url = survey_section_image_path(design.slug, section)
    - else
      - full_url = image_project_design_section_path(@project, design, section)
    = image_tag full_url, style: 'max-width:100%'
