.page-header{ data: { object: "variable-container", branching_logic: design.branching_logic(design_option) } }
  - if section.sub_section?
    %h3= section.name
  - else
    %h2= section.name
  = simple_markdown section.description unless section.description.blank?
  = render 'sections/image', design_option: design_option, section: section
