- count = SearchSubject.subjects(@project, current_user, @project.subjects, Token.parse(search)).count
- subject_count = @project.subjects.count
- if count > 0
  = link_to count, project_subjects_path(@project, search: search)
  - if subject_count > 0
    %span.text-muted.text-smaller
      - percent = (count * 100.0 / subject_count).round
      - if percent.zero? && count.positive?
        <1%
      - else
        = "#{percent}%"
- else
  %span.text-muted -
