- position = Time.now.to_i.to_s + Time.now.usec.to_s unless position
- @position = position

%div{ id: "design_#{@position}", style: "line-height:30px;padding-top:5px" }
  .row
    .col-xs-2
      = select_tag "event[design_ids][]", options_for_select([[nil, nil]] + @project.designs.order(:name).collect{|d| [d.name, d.id]}, (event_design ? event_design.design_id : nil)), class: 'form-control'
    .col-xs-3
      %span.glyphicon.glyphicon-move.design-handle
      = link_to 'Remove', '#', class: 'btn btn-xs btn-danger-inverse', data: { object: 'remove', target: "#design_#{@position}" }, tabindex: '-1'
