- @title = "Edit Event: #{@event.name}"

- links = []
- links << ['Events', project_events_path(@project)]
- links << [@event.name_was, [@project, @event]]
- links << ['Edit', edit_project_event_path(@project, @event)]

= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid
    = render 'form'
