- @title = 'New Event'

- links = []
- links << ['Events', project_events_path(@project)]
- links << ['New', new_project_event_path(@project)]
= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid
    = render 'form'
