- @title = "AeModule::Reviewers#dashboard"

- content_for :header, @title

- content_for :breadcrumbs do
  %ol
    %li
      = link_to ae_module_dashboard_path(@project) do
        = icon("fas", "caret-left")
        ae dashboard

.dashboard-container
  = link_to ae_module_reviewers_inbox_path(@project) do
    see reviewer inbox
    = icon("fas", "caret-right")
