%h1 Available Project Events for Subject

%p.lead
  Wow, all these events to choose from!


.row
  .col-md-6
    %h2 Scheduled Events

    - if @project.events.where(scheduled: true, archived: false).count > 0
      %ul.list-unstyled
        - @project.events.where(scheduled: true, archived: false).order(:position).each do |event|
          %li.little-container
            = link_to event.name, put_a_subject_on_an_event_project_subject_path(@project, @subject, event_id: event.to_param)
            - if event.designs.count > 0
              %ul.text-muted
                - event.designs.each do |design|
                  %li= design.name


  .col-md-6
    %h2 Unscheduled Events
    - if @project.events.where(scheduled: false, archived: false).count > 0
      %ul.list-unstyled
        - @project.events.where(scheduled: false, archived: false).order(:position).each do |event|
          %li.little-container
            = link_to event.name, put_a_subject_on_an_event_project_subject_path(@project, @subject, event_id: event.to_param)
            %ul.text-muted
              %li Pre-Screening Demographics Form
              %li Pre-Screening Intake Questionnaire
