%h2 Available Events

- if @project.events.where(archived: false).count > 0
  %ul.list-unstyled
    - @project.events.where(archived: false).order(:position).each do |event|
      %li.little-container
        = link_to event.name, choose_date_project_subject_path(@project, @subject, event_id: event.to_param)
        - if event.designs.count > 0
          %ul.text-muted
            - event.designs.each do |design|
              %li= design.name
