= render 'subjects/beta/header'

.row
  .col-sm-2
    = render partial: 'subjects/beta/event_navigation'

  .col-sm-10
    - if @project.events.where(archived: false).count > 0
      = render partial: 'subjects/beta/events'
    - else
      = render partial: 'subjects/beta/sheets'
