%h1
  Subject
  = @subject.subject_code

%p.lead
  Subject Created


%h2
  Launch Event

.row
  .col-sm-6{ style: 'margin-bottom:20px' }
    = link_to put_a_subject_on_an_event_project_subject_path(@project, @subject, event_slug: 'baseline-prescreening'), method: :get, class: 'btn btn-success-inverse btn-block btn-lg' do
      .text-muted Initial Event
      %span.glyphicon.glyphicon-plus
      New
      %strong.btn-text-emphasis= "Baseline / Prescreening"

  .col-sm-6{ style: 'margin-bottom:20px' }
    = link_to choose_an_event_for_subject_project_subject_path(@project, @subject), method: :get, class: 'btn btn-success-inverse btn-block btn-lg' do
      .text-muted More Events
      %span.glyphicon.glyphicon-eye
      Show me
      %strong.btn-text-emphasis other events
      !
