%div
  .comment-outer
    .comment-left-fixed
    .comment-right-fluid
      .comment-icon
        %span.glyphicon.glyphicon-list-alt
      .comment-action
        - recently_created = sheet.recently_created?
        %div
          - user = (recently_created ? sheet.user : sheet.last_user)
          - if user
            = user.name
          - else
            Public user
          %b
            - if recently_created
              created
            - else
              updated
            sheet
          = link_to sheet.name, [sheet.project, sheet]
          for
          = link_to sheet.subject.name, [sheet.subject.project, sheet.subject]

          - if recently_created
            - time = sheet.created_at
          - else
            - time = sheet.last_edited_at

          %abbr{ rel: 'tooltip', data: { title: time.strftime("%-d %b %Y, %-l:%M %p"), container: 'body', placement: 'right' } }
            = time_ago_in_words time
            ago

          - if sheet.double_data_entry?
            %span.label.label-warning Double Data Entry
