- recently_created = sheet.recently_created?
- user = (recently_created ? sheet.user : sheet.last_user)
- if (params[:user_id].blank? || (user && params[:user_id].to_s == user.id.to_s)) && (params[:site_id].blank? || sheet.subject.site_id.to_s == params[:site_id].to_s)
  .comment-outer
    .comment-left-fixed
    .comment-right-fluid
      .comment-icon
        %i.fa.fa-list-alt
      .comment-action
        %div
          - if user
            = user.full_name
          - else
            Public user
          %b
            - if recently_created
              created
            - else
              updated
            sheet
          = link_to sheet.name, [sheet.project, sheet]
          for
          = link_to sheet.subject.name, [sheet.subject.project, sheet.subject]

          - if recently_created
            - time = sheet.created_at
          - else
            - time = sheet.last_edited_at

          %abbr{ rel: "tooltip", data: { title: time.strftime("%-d %b %Y, %-l:%M %p"), container: "body", placement: "right" } }
            = time_ago_in_words time
            ago
