%span.glyphicon.glyphicon-question-sign.text-warning{ id: "#{target_name}_warning", style: 'display:none' }
%span.glyphicon.glyphicon-ok-sign.text-success{ id: "#{target_name}_success", style: 'display:none' }
%span.glyphicon.glyphicon-remove-sign.text-danger{ id: "#{target_name}_error", style: 'display:none' }
