.form-group.row
  %label.col-md-2.col-form-label Suffix
  .col-md-10
    .input-group
      = render "translations/language_prepend"
      = text_field_tag "variable[append]", @design_option.variable.append(World.language), autocomplete: "off", class: "form-control", placeholder: World.translate_language? ? @design_option.variable[:append] : nil
