.form-group
  %label.col-md-2.control-label Calculation
  .col-md-10
    = text_field_tag "variable[calculation]", @design_option.variable.calculation, autocomplete: 'off', class: "form-control"
    .callout.callout-info
      %h4 Calculation Examples
      %dl.dl-horizontal
        %dt General
        %dd
          %code
            var1 + var2
        %dt Missing Values
        %dd
          %code
            var1 == -9 ? -9 : var1 + var2
        %dt Parentheses
        %dd
          %code
            (var1 + var2) / var3
.form-group
  %label.col-md-2.control-label Format
  .col-md-10
    = text_field_tag "variable[format]", @design_option.variable.format, autocomplete: 'off', class: "form-control"
    .callout.callout-info
      %h4 Format Examples
      %dl.dl-horizontal
        %dt Precision
        %dd
          %code %0.02f
          %p 4.127 => 4.13
        %dt Leading Zeros
        %dd
          %code %04d
          %p 45 => 0045
