- %w(date_hard_maximum date_soft_maximum date_soft_minimum date_hard_minimum).each do |range|
  .form-group
    %label.col-md-2.control-label= range.titleize
    .col-md-10
      = text_field_tag "variable[#{range}]", @design_option.variable.send(range), autocomplete: "off", value: @design_option.variable.send(range) ? @design_option.variable.send(range).strftime("%m/%d/%Y") : "", class: "datepicker form-control"
