= hidden_field_tag "variable[project_id]", @design_option.variable.project.id
#form_grid_variables{ data: { object: "sortable" } }
  - @design_option.variable.child_grid_variables.each do |child_grid_variable|
    = render "variables/edit_grid_variable", child_grid_variable: child_grid_variable
.row{ style: "margin-top:20px" }
  .col-1
  .col-11
    = link_to "Add Question", "#", id: "add_grid_variable", class: "btn btn-light btn-sm", data: { project_id: @project.to_param }
