.form-group.row
  %label.col-md-2.col-form-label Prefix
  .col-md-10
    .input-group
      = render "translations/language_prepend"
      = text_field_tag "variable[prepend]", @design_option.variable.prepend(World.language), autocomplete: "off", class: "form-control", placeholder: World.translate_language? ? @design_option.variable[:prepend] : nil
