- %w(hard_maximum soft_maximum soft_minimum hard_minimum).each do |range|
  .form-group
    %label.col-md-2.control-label= range.titleize
    .col-md-10
      = text_field_tag "variable[#{range}]", @design_option.variable.send(range), class: "form-control", autocomplete: "off"
