.form-group.row
  %label.col-md-2.col-form-label Units
  .col-md-10
    .input-group
      = render "translations/language_prepend"
      = text_field_tag "variable[units]", @design_option.variable.units(World.language), autocomplete: "off", class: "form-control", placeholder: World.translate_language? ? @design_option.variable[:units] : nil
