- @title = "New Block Size Multiplier"
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@randomization_scheme.name, [@project, @randomization_scheme]]

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("projects/sidebar")
- content_for :header, @title

.dashboard-container= render "form"
