.library-container.box-shadow
  .d-flex.flex-column.flex-sm-row.justify-content-between.align-items-sm-center
    %div
      = link_to tray.name, library_tray_path(tray.profile, tray.slug), style: "font-size: 1.75rem;"
      .small= simple_style tray.description

    %div.text-sm-right
      .d-inline-block.d-sm-block
        - if tray.public?
          %i.fa.fa-globe
          public
        - else
          %i.fa.fa-lock
          private
      - if tray.time_in_seconds.positive?
        .d-inline-block.d-sm-block.text-muted.small
          -# seconds = tray.time_in_seconds
          - minutes = (tray.time_in_seconds / 60.0).round(1)
          = pluralize(minutes, "minute")
