- @title = 'New Contact'

- links = []
- links << ['Contacts', project_contacts_path(@project)]
- links << ['New', new_project_contact_path(@project)]
= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid
    = render 'form'

