-# For Facebook
%meta{ property: "og:url", content: ENV["website_url"] + "/" }
%meta{ property: "og:title", content: ENV["website_name"] }
%meta{ property: "og:description", content: "Simple data collection and reporting for clinical research." }
- if false
  %meta{ property: "og:image", content: ENV["website_url"] + "/assets/" + asset_path("slice_logo.png").split("/assets/").last }
