-# General
%meta{ name: "description", content: "Simple data collection and reporting for clinical research." }
%meta{ name: "author", content: "Remo Mueller" }
%meta{ name: "keywords", content: @keywords.present? ? @keywords : "clinical trial management system, free, web survey, data collection, data reporting, online randomization, adverse event reporting" }
