-# For Google+
%meta{ itemprop: "name", content: ENV["website_name"] }
%meta{ itemprop: "description", content: "Simple data collection and reporting for clinical research." }
- if false
  %meta{ itemprop: "image", content: ENV["website_url"] + "/assets/" + asset_path("slice_logo.png").split("/assets/").last }
