%h1 LAUNCH HANDOFF - YOU WILL BE LOGGED OUT


= link_to 'Launch Tablet Handoff', create_handoff_project_subject_path(subject_event_id: params[:subject_event_id]), method: :post, class: 'btn btn-lg btn-block btn-primary'
