%h2 Setup Guided Access

.jumbotron.bs-callout-danger
  %h4 IMPORTANT

  %p
    Before handing off the table to the participant, make sure that you have
    setup and started
    %strong Guided Access
    on the tablet.
    You can access this feature quickly by triple-clicking the home button and
    then launching it by clicking start.
  %p
    Also mark the
    %em URL bar
    and the
    %em left and right edges
    as untouchable to prevent unintended navigation.
  %p
    Once you have started
    %strong Guided Access
    mode, click "Launch Tablet Handoff" below.

= link_to create_handoff_project_subject_path(subject_event_id: params[:subject_event_id]), method: :post, class: 'btn btn-lg btn-block btn-success' do
  Launch Tablet Handoff
  %span.glyphicon.glyphicon-send
