- sites = @project.sites.order_number_and_name.to_a
= hidden_field_tag "is_new_domain", @domain.new_record? ? "1" : "0"
- if @domain.domain_options.present?
  - if params.dig(:domain, :option_tokens)
    - params[:domain][:option_tokens].each_with_index do |option_hash, position|
      - domain_option = @domain.domain_options.new(name: option_hash[:name], value: option_hash[:value], description: option_hash[:description], missing_code: (option_hash[:missing_code] == "1"), archived: (option_hash[:archived] == "1"), site_id: option_hash[:site_id], position: position)
      = render "domains/edit_option", domain_option: domain_option, sites: sites
  - else
    - @domain.domain_options.each do |domain_option|
      = render "domains/edit_option", domain_option: domain_option, sites: sites
- else
  - (0..4).each do |index|
    = render "domains/edit_option", domain_option: DomainOption.new, sites: sites
