- if domain && domain.options.size > 0
  %ul.list-unstyled
  - domain.options.sort { |a,b| a[:value].to_s <=> b[:value].to_s }.each do |option|
    %li.nowrap= "#{option[:value]}: #{option[:name]}"
- else
  .text-muted No Values
