- @title = "Edit Domain: #{@domain.name}"

- links = []
- links << ['Domains', project_domains_path(@project)]
- links << [@domain.name_was, [@project, @domain]]
- links << ['Edit', edit_project_domain_path(@project, @domain)]

= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid
    = render 'form'
