<div class="page-header">
  <h1>
    <%= @project.name %> &middot; <%= title %>

    <div class="pull-right">
      <span id="project_<%= @project.id %>_favorite_link"><%= render partial: 'projects/favorite' %></span>
    </div>
  </h1>
</div>
