.projects-box{ data: { project_id: project.id } }
  .float-right.nowrap
    = number_with_delimiter project.subjects.count
    = render "project_preferences/splash_actions", project: project
  = icon("fas", "ellipsis-v", class: "handle-visible pr-1")
  = link_to project.name, project
