%p.lead
  You have
  = link_to( pluralize(current_user.all_unarchived_projects.count, 'unarchived project'), root_path) + "."


- if @projects.count > 0
  %div{ style: 'margin-bottom:20px' }
    %p.lead{ style: 'margin-bottom:5px' } Project Archives
    - @projects.each do |project|
      = render 'projects/beta/splash_project_box', project: project, favorited: project.favorited_by?(current_user), archived: true, sortable: false
- else
  %p.lead
    You have 0 archived projects.
  .tip-container
    %p.lead.center
      Archive a project by clicking
      %span.glyphicon.glyphicon-option-vertical
      and then clicking
      = succeed '.' do
        %strong.nowrap{ style: 'display: inline-block' }
          %span.glyphicon.glyphicon-eye-close
          Archive

.center
  = paginate @projects, theme: 'bootstrap'
