- @title = "Edit Project: #{@project.name}"

- links = []
- links << ['Settings', setup_project_path(@project)]
- links << ['Edit', edit_project_path(@project)]
= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid
    = render 'form'
