- @title = "Expressions"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("projects/sidebar")

- content_for :header, @title

.mb-3
  .input-group
    = text_field_tag :expression, params[:expression], class: "form-control form-control-lg", data: { object: "expressions-input expressions-textcomplete", url: expressions_engine_project_path(@project, format: "js"), textcomplete_url: expressions_search_project_path(@project, format: "json") }, autofocus: params[:expressions].blank?, autocomplete: "off", autocorrect: "off", autocapitalize: "none", spellcheck: "false"

#current-tokens

.bg-white.rounded.p-3.mb-3
  .float-right
    #run-ms.d-inline.text-secondary.small{ style: "font-size: 1.5rem;font-weight: 300;" }
  #subjects-count.mb-3{ style: "font-size: 1.5rem;" }

  #sobjects-table

#engine-tree

.rounded.p-3.bg-dark.text-white.d-none
  .mb-3{ style: "font-size: 1.5rem;" } Log
  #debug-console.p-3
