- @title = "Expressions"

- content_for :header, @title

=# form_with url: expressions_project_path(@project), method: :post, local: true, enforce_utf8: false, class: "mb-3" do |form|
.mb-3
  .input-group
    = text_field_tag :expressions, params[:expressions], class: "form-control form-control-lg", data: { object: "expressions-input expressions-textcomplete", url: expressions_engine_project_path(@project, format: "js"), textcomplete_url: expressions_search_project_path(@project, format: "json") }, autofocus: params[:expressions].blank?, autocomplete: "off", autocorrect: "off", autocapitalize: "none", spellcheck: "false"
    - if false
      .input-group-append
        = link_to "#", class: "btn btn-lg btn-primary", data: { object: "submit-and-disable", target: "#search-form" } do
          = icon("fas", "circle-notch")



.text-monospace.bg-white.rounded.p-3.mb-3
  %strong Server
  #run-ms.d-inline.text-secondary.small
  #current-space
  #current-tokens

.text-monospace.bg-white.rounded.p-3.mb-3
  %strong # of Subjects
  #subjects-count{ style: "font-size: 2rem;" }

  #sobjects-table

.bg-white.rounded.p-3.mb-3
  #engine-tree

.text-monospace.bg-white.rounded.p-3
  %strong Local Log
  #debug-console
