<%= form_tag splash_projects_path, method: :get, remote: true, id: "splash_projects_search", class: 'form-inline', data: { object: 'form-load' } do %>
  <%#= hidden_field_tag :order %>
  <%#= text_field_tag 'search', params[:search], class: 'form-control' %>
  <%#= submit_tag 'Search', class: 'btn btn-primary' %>
<% end %>

<div id="splash_projects"><div class="center"><%= image_tag "contour/ajax-loader.gif" %></div></div>
