- if beta_enabled?(current_user)
  = render partial: 'projects/beta/splash'
- else
  = form_tag splash_projects_path, method: :get, id: "splash_projects_search", class: 'form-inline' do
    =# hidden_field_tag :order, params[:order]
    =# text_field_tag 'search', params[:search], class: 'form-control'
    =# submit_tag 'Search', class: 'btn btn-primary', name: nil

  #splash_projects{ style: "margin-top:20px" }
    = render partial: 'projects/splash_projects'
