- @title = @randomization.custom_treatment_name_was
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@randomization_scheme.name, [@project, @randomization_scheme]]

- content_for :sidebar, render("projects/sidebar")
- content_for :header do
  = @randomization.custom_treatment_name_was
  Edit

.dashboard-container= render "randomization_schemes/randomization_form", randomization: @randomization
