- @title = "New Randomization Scheme"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")
- content_for :header, @title

.dashboard-container= render "form"
