- @title = 'New Randomization Scheme'

- links = []
- links << ['Randomization Schemes', project_randomization_schemes_path(@project)]
- links << ['New', new_project_randomization_scheme_path(@project)]
= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid
    = render 'form'
