- @title = 'New Link'

- links = []
- links << ['Links', project_links_path(@project)]
- links << ['New', new_project_link_path(@project)]
= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid
    = render 'form'
