= form_with model: [@project, @adverse_event, @adverse_event_file], local: true do |form|
  = render "forms/horizontal/file_field", form: form, object: @adverse_event_file, key: :attachment
  = render "forms/horizontal/submit", form: form, object: [@project, @adverse_event, @adverse_event_file], submit_text: "Upload file"
