<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Edit Design Name</h4>
</div>
<div class="modal-body">
  <form id="design_form" class="form-horizontal">

    <div class="form-group">
      <label class="col-lg-2 control-label">Name</label>
      <div class="col-lg-10">
        <%= text_field_tag "design[name]", @design.name, autocomplete: 'off', data: { object: 'push-partial-change-text-field', target: '#design_form', update: 'design_name' }, class: 'form-control' %>
      </div>
    </div>

    <% if @design.publicly_available? %>
      <div class="form-group">
        <label class="col-lg-2 control-label">Slug</label>
        <div class="col-lg-10">
          <%= text_field_tag "design[slug]", @design.slug, autocomplete: 'off', data: { object: 'push-partial-change-text-field', target: '#design_form', update: 'design_name' }, class: 'form-control' %>
        </div>
      </div>
    <% end %>
  </form>
</div>
<div class="modal-footer">
  <%= button_tag 'Update', data: { object: 'push-partial-change', target: '#design_form', update: 'design_name' }, class: 'btn btn-primary' %>
  <button type="button" class="btn btn-cancel-inverse" data-dismiss="modal">Cancel</button>
</div>
