<div class="page-header">
  <h1>Edit Design Description</h1>
</div>

<div class="row-fluid">
  <%= text_area_tag "design[description]", @design.description, placeholder: 'Design Description', rows: 7, class: 'span12' %>
</div>

<hr class="soften" style="margin-top:20px;" />

<div class="button-group pull-right">
  <%= button_tag 'Update', data: { object: 'partial-update-submit', target: '#design_description', path: interactive_popup_project_designs_path(@project, update: 'design_description') }, class: 'btn btn-primary' %>
  <%= button_tag 'Cancel', data: { object: 'hide-contour-modal' }, class: 'btn' %>
</div>
