<div class="page-header">
  <h1>Edit Design Name</h1>
</div>

<form id="design_form" class="form-horizontal">
  <div class="control-group">
    <label class="control-label">Name</label>
    <div class="controls">
      <%= text_field_tag "design[name]", @design.name, style: 'width:95%', autocomplete: 'off' %>
    </div>
  </div>
</form>

<hr class="soften" style="margin-top:20px;" />

<div class="button-group pull-right">
  <%= button_tag 'Update', data: { object: 'push-partial-change', target: '#design_form', update: 'design_name' }, class: 'btn btn-primary' %>
  <%= button_tag 'Cancel', data: { object: 'hide-contour-modal' }, class: 'btn' %>
</div>
