<% @option = @design.options[params[:position].to_i] %>
<% @variable = @design.variable_at(params[:position].to_i) %>

<div class="page-header">
  <h1>Edit Variable Autocomplete Values <span style="font-size:0.4em"><%= @variable.name %></span></h1>
</div>

<div class="row-fluid">
  <%= text_area_tag "variable[autocomplete_values]", @variable.autocomplete_values, rows: 7, class: 'span12', rel: "tooltip", title: "Line-separated Strings" %>
</div>

<hr class="soften" style="margin-top:20px;" />

<div class="button-group pull-right">
  <%= button_tag 'Update', data: { object: 'push-partial-change', target: '#variable_autocomplete_values', update: 'variable', position: params[:position] }, class: 'btn btn-primary' %>
  <%= button_tag 'Cancel', data: { object: 'hide-contour-modal', position: params[:position] }, class: 'btn' %>
</div>
