<% @variable = @design.project.variables.find_by_id(params[:variable_id]) %>

<% @variable = @design.project.variables.find_by_id(params[:variable_id]) %>

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">
    Edit Variable Autocomplete Values &middot; <%= @variable.name %>
  </h4>
</div>
<div class="modal-body">

  <form id="variable_form" class="form-horizontal">

    <div class="form-group">
      <label class="col-md-2 control-label">Autocomplete Values</label>
      <div class="col-md-10">
      <%= text_area_tag "variable[autocomplete_values]", @variable.autocomplete_values, rows: 7, rel: "tooltip", title: "Line-separated Strings", class: "form-control" %>
      </div>
    </div>

    <div class="form-group" data-object="autocomplete">
      <label class="col-md-2 control-label">User submitted</label>
      <div class="col-md-10">
        <div style="line-height:30px">
          <%= @variable.user_submitted_sheet_variables.collect{|sv| link_to( sv.response.to_s, [sv.sheet.project, sv.sheet], target: '_blank' ) }.join(', ').html_safe  %>
        </div>
      </div>
    </div>

  </form>

</div>
<div class="modal-footer">
<%= button_tag 'Update', data: { object: 'push-partial-change', target: '#variable_form', update: 'variable', position: params[:position], variable_id: @variable.id }, class: 'btn btn-primary' %>
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>
