<% @variable = @design.project.variables.find_by_id(params[:variable_id]) %>

<div class="page-header">
  <h1>Edit Variable Prepend <span style="font-size:0.4em"><%= @variable.name %></span></h1>
</div>

<div class="row-fluid">
  <%= text_field_tag "variable[prepend]", @variable.prepend, placeholder: 'Variable Prepend', class: "span12" %>
</div>

<hr class="soften" style="margin-top:20px;" />

<div class="button-group pull-right">
  <%= button_tag 'Update', data: { object: 'push-partial-change', target: '#variable_prepend', update: 'variable', position: params[:position], variable_id: @variable.id }, class: 'btn btn-primary' %>
  <%= button_tag 'Cancel', data: { object: 'hide-contour-modal', position: params[:position] }, class: 'btn' %>
</div>
