- @variable = @design.project.variables.find_by_id(params[:variable_id])

.modal-header
  %button.close{ type: "button", data: { dismiss: "modal" }, aria: { hidden: true } } &times;
  %h4.modal-title
    Edit Variable &middot;
    = @variable.name
.modal-body
  %form#variable_form.form-horizontal
    .form-group
      %label.col-md-2.control-label Calculation
      .col-md-10
        = text_field_tag "variable[calculation]", @variable.calculation, data: { object: 'push-partial-change-text-field', target: '#variable_form', update: 'variable', position: params[:position], variable_id: @variable.id }, autocomplete: 'off', class: "form-control"
        .bs-callout.bs-callout-info
          %h4 Calculation Examples
          %dl.dl-horizontal
            %dt General
            %dd
              %code
                var1 + var2
            %dt Missing Values
            %dd
              %code
                var1 == -9 ? -9 : var1 + var2
            %dt Parentheses
            %dd
              %code
                (var1 + var2) / var3
    .form-group
      %label.col-md-2.control-label Format
      .col-md-10
        = text_field_tag "variable[format]", @variable.format, data: { object: 'push-partial-change-text-field', target: '#variable_form', update: 'variable', position: params[:position], variable_id: @variable.id }, autocomplete: 'off', class: "form-control"
        .bs-callout.bs-callout-info
          %h4 Format Examples
          %dl.dl-horizontal
            %dt Precision
            %dd
              %code %0.02f
              %p 4.127 => 4.13
            %dt Leading Zeros
            %dd
              %code %04d
              %p 45 => 0045
.modal-footer
  = button_tag 'Update', data: { object: 'push-partial-change', target: '#variable_form', update: 'variable', position: params[:position], variable_id: @variable.id }, class: 'btn btn-primary'
  %button.btn.btn-default{ type: "button", data: { dismiss: "modal" } } Cancel
