<% responses = @sheets.sheet_responses_for_checkboxes(@variable)  %>

<table class="table">
  <thead>
    <tr>
      <% @variable.options_missing_at_end.collect{|opt| [opt[:name], opt[:value]]}.each do |name, value| %>
        <th><%= value %>: <%= name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @variable.options_missing_at_end.collect{|opt| [opt[:name], opt[:value]]}.each do |name, value| %>
        <td><%= responses.select{|r| r == value}.count == 0 ? '-' : responses.select{|r| r == value}.count %></td>
      <% end %>
    </tr>
  </tbody>
</table>
