<% missing_responses = responses.select{|r| r.blank?} %>
<% valid_responses = responses.select{|r| not r.blank?} %>

<table class="table">
  <thead>
    <tr>
      <th>N</th>
      <th class="text-muted">Unknown</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= filter_link(Sheet.array_count(valid_responses), @project, @design, @variable, ':any', @statuses) %></td>
      <td><%= filter_link(Sheet.array_count(missing_responses), @project, @design, @variable, ':missing', @statuses) %></td>
      <td><%= filter_link(Sheet.array_count(responses), @project, @design, nil, nil, @statuses) %></td>
    </tr>
  </tbody>
</table>

<% if false %>
  <% valid_responses.each do |response| %>
    <div><%= response %></div>
  <% end %>
<% end %>
