- is_grid = defined?(grid)
- show_values = true unless defined?(show_values)
- target_name = field_name.gsub("[", "_").gsub("]", "")
- domain_options = variable.domain_options_with_user(response, current_user)

%div{ data: { object: "validate", validate_url: process_variable_validate_path(@project, variable), target_name: target_name, components: "dropdown", status: variable.validator.status(response) } }
  = select_tag field_name, options_for_select(domain_options.collect { |domain_option| [domain_option.value_and_name(show_values: show_values), domain_option.value] }, response), include_blank: true, data: { object: "condition#{" cursor-navigatable" if is_grid}", calculation_id: variable.id, name: variable.name }, disabled: disabled, class: "form-control#{" chosen-select" unless is_grid}"
