- is_grid = defined?(grid)
- show_values = true unless defined?(show_values)

- target_name = field_name.gsub('[', '_').gsub(']', '')

.dropdown-input{ data: { object: 'validate', project_id: @project.to_param, variable_id: variable.id, target_name: target_name, components: 'dropdown', status: variable.validator.status(response) } }
  = select_tag field_name, "<option value=''></option>".html_safe + grouped_options_for_select(variable.grouped_by_missing(show_values, current_user), response), data: { object: 'condition', name: variable.name }, disabled: disabled, class: "chzn-select #{'form-control' unless is_grid}"
