<% position = Time.now.to_i.to_s + Time.now.usec.to_s %>

<% response = YAML::load(response) rescue response = { } unless response.kind_of?(Hash) %>

<% response = { "0" => {} } if response.blank? %>

<div id="grid_<%= position %>">
  <% response.each_pair do |position, row_hash| %>

    <%= render partial: "sheet_variables/form/grid_variables", locals: { disabled: disabled, variable: variable, position: position, row_hash: row_hash } %>

  <% end %>
</div>

<%= link_to 'more', '#', class: 'btn btn-mini', data: { object: 'grid-row-add', position: position, variable_id: variable.id } %>
