<div id="variable_<%= variable.id %>_grid_container">

  <%# Range should either be the existing positions (which are long strings) or the positions from the sheet_variables %>
  <% if not params[:variables].blank? and not params[:variables][variable.id.to_s].blank? %>
    <% range = params[:variables][variable.id.to_s].keys %>
  <% else %>
    <% max_position = sheet_variable ? (sheet_variable.grids.pluck(:position) + [variable.default_row_number - 1]).max.to_i : (variable.default_row_number - 1) %>
    <% range = (0..max_position) %>
  <% end %>

  <% range.each do |position| %>
    <%= render partial: "sheet_variables/form/grid_variables", locals: { disabled: disabled, sheet_variable: sheet_variable, position: position, variable: variable } %>
  <% end %>
</div>

<%= link_to 'more', '#', class: 'btn btn-mini', data: { object: 'grid-row-add', variable_id: variable.id }, tabindex: "-1" if variable.multiple_rows? %>
