<div id="variable_<%= variable.id %>_grid_container">
  <% max_position = sheet_variable ? sheet_variable.grids.pluck(:position).max.to_i : 0 %>
  <% (0..max_position).each do |position| %>
    <%= render partial: "sheet_variables/form/grid_variables", locals: { disabled: disabled, sheet_variable: sheet_variable, position: position, variable: variable } %>
  <% end %>
</div>

<%= link_to 'more', '#', class: 'btn btn-mini', data: { object: 'grid-row-add', variable_id: variable.id } %>
