<% is_grid = defined?(grid) %>

<div class="<% unless variable.prepend.blank? and variable.append.blank? %>input-group<% end %>">
  <% unless variable.prepend.blank? %><span class="input-group-addon"><%= variable.prepend %></span><% end %>
  <%= text_field_tag field_name, response, class: 'form-control',
        data: {
                content: variable.description,
                object: "condition variable-typeahead cursor-navigatable",
                variable_id: variable.id,
                html: true
              },
        title: variable.description.blank? ? '' : variable.display_name,
        rel: "#{variable.description.blank? ? '' : 'popover'}",
        autocomplete: 'off',
        disabled: disabled,
        placeholder: is_grid ? variable.display_name : nil %>
  <% unless variable.append.blank? %><span class="input-group-addon"><%= variable.append %></span><% end %>
</div>
