- is_grid = defined?(grid)
- target_name = field_name.gsub("[", "_").gsub("]", "")
- value = response
%div{ data: { object: "validate", validate_url: process_variable_validate_path(@project, variable), target_name: target_name, components: "text", status: variable.validator.status(value) } }
  = text_area_tag field_name, response, rows: 7, class: "form-control",
    data: { content: variable.description, placement: "bottom", html: "true", object: "cursor-navigatable" },
      title: variable.description.blank? ? "" : variable.display_name,
      rel: "#{variable.description.blank? ? "" : "popover"}",
      disabled: disabled
