<% is_grid = defined?(grid) %>

<div class="<% unless variable.prepend.blank? %>input-prepend<% end %> <% unless variable.append.blank? %>input-append<% end %>" style="display:inline-block">
  <% unless variable.prepend.blank? %><span class="add-on"><%= variable.prepend %></span><% end %>
  <%= text_field_tag field_name, (Time.parse(response).strftime('%H:%M:%S') rescue response), class: "timepicker input-#{defined?(control_size) ? control_size : 'large'}",
        data: {
                content: variable.description,
                title: variable.display_name,
                object: "condition",
                placement: (variable.show_current_button? ? 'left' : 'right'),
                html: true
              },
        rel: "#{variable.description.blank? ? '' : 'popover'}",
        autocomplete: 'off',
        disabled: disabled,
        title: variable.display_name,
        placeholder: 'hh:mm:ss' %>
  <i class="icon-time" style="position: relative; margin: 2.5px 0 0 -24px;"></i>
  <span style="margin-left:24px"></span>
  <% unless variable.append.blank? %><span class="add-on"><%= variable.append %></span><% end %>
  <%= link_to 'Current Time', '#', data: { object: 'set-current-time', target_time: "##{field_name.gsub('[', '_').gsub(']', '')}" }, class: 'btn', tabindex: '-1' if variable.show_current_button? %>
</div>
