<% is_grid = defined?(grid) %>

<div class="<% unless variable.prepend.blank? %>input-prepend<% end %> <% unless variable.append.blank? %>input-append<% end %>" style="display:inline-block">
  <% unless variable.prepend.blank? %><span class="add-on"><%= variable.prepend %></span><% end %>
  <%= text_field_tag field_name, (Time.parse(response).strftime('%H:%M:%S') rescue response), class: "timepicker input-#{defined?(control_size) ? control_size : 'large'}",
        data: {
                content: variable.description,
                title: variable.display_name,
                object: "condition bootstrap-timepicker",
                placement: (variable.show_current_button? ? 'left' : 'right'),
                html: true
              },
        rel: "#{variable.description.blank? ? 'tooltip' : 'popover'}",
        disabled: disabled,
        title: variable.display_name,
        placeholder: is_grid ? variable.display_name : nil %>
  <% unless variable.append.blank? %><span class="add-on"><%= variable.append %></span><% end %>
  <%= link_to 'Current Time', '#', data: { object: 'set-current-time', target_time: "##{field_name.gsub('[', '_').gsub(']', '')}" }, class: 'btn' if variable.show_current_button? %>
</div>
