// TODO: The !important needs to be removed in contour for this to be
// rewritten without !important.
.input-group .twitter-typeahead:not(:first-child) > .form-control {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

// Contour Overrides
// Height needs to be set to make sure the autocomplete dropdown displays
// properly below the input text box, since the now floating element
// takes up zero height.
.twitter-typeahead {
  background-color: $input-bg;
  color: $input-color;
  display: block;
  height: 36px;

  input {
    background-color: $input-bg;
  }

  // Fix for typeahead boxes jumping downwards when typing first letter.
  // This fix should moved to contour, and removed from slice
  .tt-query {
    display: inline-block;
  }
}

.tt-dropdown-menu {
  background-color: $dropdown-bg;
  border: 1px solid $dropdown-fallback-border;
  border-color: $dropdown-border;
  box-shadow: 0 5px 10px $dropdown-border;
}
