// Twitter Typeahead Fixes
.twitter-typeahead {
  border-radius: $border-radius;
  width: 100%;
}

.input-group {
  .twitter-typeahead {
    display: block;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
  }

  > .twitter-typeahead:not(:first-child) {
    .form-control {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  > .twitter-typeahead:not(:last-child) {
    .form-control {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.tt-menu {
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 6px;
  margin-top: 2px;
  min-width: 160px;
  padding: 5px 0;
}

.tt-suggestion {
  padding: 3px 20px;
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .twitter-typeahead {
      background-color: theme-color($theme, input-bg, $white);
      color: theme-color($theme, input-color, $p800-grey);
    }

    .tt-menu {
      background-color: theme-color($theme, dropdown-bg, $dropdown-bg);
      border-color: theme-color($theme, dropdown-fallback-border, $p400-grey);
      // box-shadow: 0 5px 10px $dropdown-border;
    }

    .tt-suggestion {
      &.tt-cursor {
        background-color: map-get($theme, primary);
        color: map-get($theme, brand-white);

        a {
          color: map-get($theme, brand-white);
        }
      }
    }
  }
}
