$success-emphasis-color: $brand-white;
$brand-black: $P900;

$header-bg: $P500 !default;
$side-nav-bg: $P100 !default;
$side-nav-active-bg: $A100 !default;

$project-box-bg: $P100 !default;
$project-box-link: $brand-black !default;
$breadcrumb-link-color: $link-color !default;

$notification-link-color: $brand-accent !default;
