$success-emphasis-color: $brand-white;
$brand-black: $p900;

$header-bg: $p500 !default;
$side-nav-bg: $p100 !default;
$side-nav-active-bg: $a100 !default;

$project-box-bg: $p100 !default;
$project-box-link: $brand-black !default;
$breadcrumb-link-color: $link-color !default;

$notification-link-color: $brand-accent !default;

$calendar-border-color: $a100 !default;
$calendar-today-bg: lighten($a200, 27%) !default;

$calender-window-bg: $a700 !default;

$dashboard-bg: $body-bg;
$dashboard-lead-bg: $a400;
$section-lead-bg: $a700;
