$input-shadow-color: rgba(0, 0, 0, .075);
$report-shadow-color: rgba(0, 0, 0, .4);

// This is based on the bootstrap shadow defined for form-controls
$input-shadow: inset 0 1px 1px $input-shadow-color;
