%h2 New Event

%p.lead Which event would you like to add?

- if current_user.all_events.where(project_id: @project.id, archived: false).count > 0
  %ul
    - current_user.all_events.where(project_id: @project.id, archived: false).order(:position).each do |event|
      - if event.designs.count > 0
        %li
          = link_to event.name, choose_date_project_subject_path(@project, @subject, event_id: event.to_param)
