%h2
  Data Entry Selection

.row
  - @project.designs.order(:name).in_groups(3, nil).each do |designs|
    .col-sm-4
      - designs.each do |design|
        - if design
          %div{ style: 'margin-bottom:10px' }
            = link_to design.name, new_data_entry_project_subject_path(@project, @subject, design), class: 'btn btn-default btn-block', style: 'white-space: normal'
