- uncategorized_sheets = @subject.blinded_sheets(current_user).where(subject_event_id: nil).includes(:design).order('designs.name')
- categorized_sheets = @subject.blinded_sheets(current_user).where.not(subject_event_id: nil).includes(:design).order('designs.name')

- if @subject.blinded_sheets(current_user).count == 0
  .jumbotron.center
    %p.lead No data have been entered for this subject.
    = image_tag 'sad-slice.png'
- else
  = render 'subjects/uncategorized_sheets', uncategorized_sheets: uncategorized_sheets, categorized_sheets: categorized_sheets

  - if categorized_sheets.count > 0
    .panel.panel-default
      .panel-heading
        .pull-right
          %span.badge= categorized_sheets.count
        On an Event
      .panel-body
        %table.table.table-striped.table-borderless{ style: 'table-layout: fixed;margin-bottom: 0;' }
          - if @subject.editable_by?(current_user)
            %col{ width: '33px' }
          %col{ width: '60px' }
          %col
          %col
          %col{ width: '120px' }
          - categorized_sheets.select('sheets.*, subject_events.event_date').order('subject_events.event_date').each do |sheet|
            = render 'subjects/sheet', sheet: sheet
