- if uncategorized_sheets.present?
  .card.box-shadow.mb-3
    .card-header.p-2{ data: { object: "event-droppable", project_id: @project.to_param, subject_event_id: nil } }
      - if categorized_sheets.count.zero?
        Sheets
      - else
        No Event
        - if @subject.editable_by?(current_user)
          %small.text-muted.d-none.d-sm-inline Drag sheets to assign events.
    .card-body.p-0
      %table.table.table-striped.table-borderless.table-hover.table-sm.mb-0
        %col{ width: "60px" }
        %col
        - uncategorized_sheets.each do |sheet|
          = render "subjects/sheet", sheet: sheet
