- @title = "Data Entry"
- @menu_title = "#{@project.name} #{@subject.name} #{@title}"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("subjects/sidebar")
- content_for :header, @title

= render "subjects/data_entry"
