- @title = "Edit Subject: #{@subject.name}"

- links = []
- links << ['Subjects', project_subjects_path(@project)]
- links << [@subject.name, [@project, @subject]]
- links << ['Edit', edit_project_subject_path(@project, @subject)]
= render 'projects/tabbed_menu', links: links


.row
  .col-sm-2
    = render 'subjects/event_navigation'
  .col-sm-10
    = render 'form'
