- @title = 'Subjects'

= render 'projects/tabbed_menu', links: [['Subjects', project_subjects_path(@project)]]

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid
    = render 'subjects/index'
