- @title = 'New Subject'

- links = []
- links << ['Subjects', project_subjects_path(@project)]
- links << [@title, new_project_subject_path(@project)]
= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid
    = render 'form'
