= render partial: 'subjects/beta/header'

.row
  .col-sm-2.left-project-navigation
    = render partial: 'subjects/beta/event_navigation'

  .col-sm-10.main-project-content
    = render partial: 'subjects/beta/sheets'



