= render partial: 'subjects/beta/header'

.row
  .col-sm-2.left-project-navigation
    = render partial: 'subjects/beta/event_navigation'

  .col-sm-10.main-project-content
    %h2 Timeline
    %p.lead.center
      Awesome! Today
      %strong Remo M
      added a new event to the subject!
    %p.lead.text-muted.center
      This subject has no history. No European history, no American history, no ancient history. Nada.
    %p.lead.text-muted.center
      For all we know, nothing happened before this subject was created. However, on
      = @subject.created_at
      our subject came into existence. And Slice became a better place.
