- @title = "New Domain Option"
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@domain.name, [@project, @domain]]

- content_for :sidebar, render("projects/sidebar")
- content_for :header, @title

.dashboard-container= render "form", domain_option: @domain_option
