- case document.content_type
- when "application/pdf"
  = icon("far", "file-pdf")
- when "image/gif", "image/jpeg", "image/png"
  = icon("far", "file-image")
- when "application/vnd.openxmlformats-officedocument.wordprocessingml.document", "application/msword"
  = icon("far", "file-word")
- else
  = icon("far", "file-alt")
