.mb-1{ class: variable.display_inline?(is_grid) ? "d-inline-block mr-3 nowrap" : "d-block" }
  - if variable.single_choice?
    %i.fa.fa-circle.text-disabled
  - else
    %i.fa.fa-square.text-disabled
  = domain_option.value_and_name unless variable.alignment == "scale"
