- is_grid = defined?(grid)

- form = nil
- form_with { |f| form = f }
= render "sheet_variables/form/imperial_weight", form: form, design: design, design_option: design_option, response: response, disabled: true, variable: variable, field_name: "variables[#{variable.id}]", show_values: true, object: nil, validate_response: nil

- unless is_grid
  %div{ style: "margin-top: 10px; margin-bottom: 20px;" }
    = link_to "Edit Ranges", edit_variable_project_design_design_option_path(@project, @design, design_option, attribute: "ranges"), remote: true, method: :get, class: "btn btn-sm btn-primary btn-shadow"

  = render "design_options/show/ranges", variable: variable
