- is_grid = defined?(grid)

- if is_grid
  = render "design_options/show/numeric", design_option: design_option, variable: variable, grid: grid, position: defined?(position) ? position : nil
- else
  = render "design_options/show/numeric", design_option: design_option, variable: variable
