body,
.background-gradient {
  background-color: $p900;
  background-image: linear-gradient(180deg, $a100, $a200 60%, $a400 80%, $a700 90%, $a700);
}

@keyframes cloud-slide {
  0% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(-10px);
  }
}

@keyframes cloud-slide-rev {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

@media screen and (min-width: $screen-md-min) {
  .landing-upper-left {
    color: #e3f2fd; // Blue $p50;
    font-size: 128px;
    left: -300px;
    top: 100px;
    position: absolute;

    .fa-cloud {
      animation: cloud-slide 5s ease-in-out infinite alternate;
    }
  }

  .landing-upper-left2 {
    color: #bbdefb; // Blue $p100;
    font-size: 64px;
    left: -500px;
    top: 256px;
    position: absolute;

    .fa-cloud {
      animation: cloud-slide-rev 15s ease-in-out infinite alternate;
    }
  }
}
