.card.mb-3
  %h5.card-header
    Translations
    - if project.translations_enabled?
      = link_to "ON", toggle_editor_project_path(project, feature: "translations", enabled: "0"), method: :patch, remote: true, class: "btn btn-success btn-sm btn-shadow"
    - else
      = link_to "OFF", toggle_editor_project_path(project, feature: "translations", enabled: "1"), method: :patch, remote: true, class: "btn btn-light btn-sm btn-shadow"
  .card-body
    .mb-3.d-flex.align-items-center
      .p-3.border-right.text-center{ style: "min-width: 4.5rem;" }= icon("fas", "globe-americas", class: "fa-2x")
      .p-3
        #languages= render "editor/projects/languages", project: project
