- @title = "AeModule::Reporters#report"

- content_for :header, @title

- content_for :breadcrumbs do
  %ol
    %li
      = link_to ae_module_dashboard_path(@project) do
        = icon("fas", "caret-left")
        ae dashboard
    %li= link_to "my adverse event reports", ae_module_reporters_overview_path(@project)
    %li.breadcrumb-muted report adverse event

.dashboard-container
  = render "ae_module/reporters/ae_adverse_event_form", adverse_event: @adverse_event
