- @title = "Edit Post: #{@post.name_was}"

- links = []
- links << ['Posts', project_posts_path(@project)]
- links << [@post.name_was, [@project, @post]]
- links << ['Edit', edit_project_post_path(@project, @post)]

= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid
    = render 'form'

