// .aer-designs { }

.aer-design,
.aer-design-placeholder,
.aer-design-empty {
  border: 1px solid transparent;
  border-radius: $border-radius;
  // display: block;
  padding: map-get($spacers, 2);
  margin-bottom: map-get($spacers, 1);
  white-space: nowrap;
  overflow: hidden;
}

// .aer-design-placeholder { }

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .aer-design,
    .aer-design-placeholder {
      background-color: map-get($theme, dashboard-bg);
      border-color: theme-color($theme, input-border-color, $input-border-color);
    }

    .aer-design-placeholder {
      background-color: theme-color($theme, mark-bg, $mark-bg);
    }

    .aer-design-empty {
      color: theme-color($theme, text-muted, $text-muted);
    }
  }
}

.aer-container {
  border-radius: $border-radius;

  margin-bottom: map-get($spacers, 4);
}

.aer-body {
  @include remove-last-child-bottom-margin;
  @include scale-images;

  border-radius: $border-radius $border-radius 0 0;
  padding: map-get($spacers, 3);

  @include media-breakpoint-up(sm) {
    padding: map-get($spacers, 4);
  }
}

.aer-footer {
  border-radius: 0 0 $border-radius $border-radius;
  padding: map-get($spacers, 3);

  @include media-breakpoint-up(sm) {
    padding: map-get($spacers, 4);
  }
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .aer-container {
      box-shadow: 0 1px 5px map-get($theme, box-shadow-color);
      color: theme-color($theme, body-color, $p900-grey);
    }

    .aer-body {
      background-color: map-get($theme, dashboard-bg);
    }

    .aer-footer {
      background-color: theme-color($theme, shade-bg, $p50-grey);
    }
  }
}
