.nowrap {
  white-space: nowrap;
}

.overflow-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
}

.breakword {
  word-break: break-word;

  code {
    white-space: pre-wrap;
  }
}

.center-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-horizontally {
  display: flex;
  justify-content: center;
}
