.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.nowrap {
  white-space: nowrap;
}

.overflow-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
}

.breakword {
  overflow-wrap: break-word;
}
