@keyframes wiggle {
  25% {
    transform: rotate(7deg);
  }

  75% {
    transform: rotate(-7deg);
  }
}

@keyframes colorchange {
  0% {
    color: $link-color;
  }

  50% {
    color: $brand-danger;
  }

  100% {
    color: $link-color;
  }
}

@keyframes wiggle-goofy {
  25% {
    transform: rotate(7deg) scaleX(2) scaleY(5);
  }

  75% {
    transform: rotate(-7deg) scaleX(5) scaleY(2);
  }
}

@keyframes wiggle-hello-hello {
  25% {
    transform: rotate(7deg) scaleX(2) scaleY(2);
  }

  75% {
    transform: rotate(-7deg) scaleX(5) scaleY(5);
  }
}
