@keyframes wiggle {
  0% {
    transform: scale(1);
  }

  25% {
    transform: rotate(7deg);
  }

  50% {
    transform: scale(1.5);
  }

  75% {
    transform: rotate(-7deg);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes colorchange {
  0% {
    color: $link-color;
  }

  50% {
    color: $brand-danger;
  }

  100% {
    color: $link-color;
  }
}

@keyframes wiggle-goofy {
  25% {
    transform: rotate(7deg) scaleX(2) scaleY(5);
  }

  75% {
    transform: rotate(-7deg) scaleX(5) scaleY(2);
  }
}

@keyframes wiggle-hello-hello {
  25% {
    transform: rotate(7deg) scaleX(2) scaleY(2);
  }

  75% {
    transform: rotate(-7deg) scaleX(5) scaleY(5);
  }
}

@keyframes spin-cw {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

@keyframes spin-ccw {
  from { transform: rotate(359deg); }
  to { transform: rotate(0deg); }
}

@keyframes shake {
  0% {
    transform: rotate(10deg);
    transform-origin: 20% 40%;
  }

  100% {
    transform: rotate(-10deg);
    transform-origin: 40% 20%;
  }
}

