@keyframes wiggle {
  0% {
    transform: scale(1);
  }

  25% {
    transform: rotate(7deg);
  }

  50% {
    transform: scale(1.5);
  }

  75% {
    transform: rotate(-7deg);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes colorchange {
  0% {
    color: $link-color;
  }

  50% {
    color: $brand-danger;
  }

  100% {
    color: $link-color;
  }
}

@keyframes wiggle-goofy {
  25% {
    transform: rotate(7deg) scaleX(2) scaleY(5);
  }

  75% {
    transform: rotate(-7deg) scaleX(5) scaleY(2);
  }
}

@keyframes wiggle-hello-hello {
  25% {
    transform: rotate(7deg) scaleX(2) scaleY(2);
  }

  75% {
    transform: rotate(-7deg) scaleX(5) scaleY(5);
  }
}

@keyframes spin-cw {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

@keyframes spin-ccw {
  from { transform: rotate(359deg); }
  to { transform: rotate(0deg); }
}

@keyframes shake {
  0% {
    transform: rotate(10deg);
    transform-origin: 20% 40%;
  }

  100% {
    transform: rotate(-10deg);
    transform-origin: 40% 20%;
  }
}

@keyframes sidescroll{
  from {
    background-position: 1600px 0;
  }

  to {
    background-position: 0 0;
  }
}

@keyframes wander {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
    transform: scaleX(.30) scaleY(.30) translate(0, 0) rotate(15deg);
  }

  40% {
    transform: scaleX(.25) scaleY(.25) translate(550px, 250px) rotate(90deg);
  }

  60% {
    transform: scaleX(.25) scaleY(.25) translate(550px, 500px) rotate(90deg);
  }

  75% {
    opacity: 1;
    transform: scaleX(.30) scaleY(.30) translate(750px, 500px) rotate(-300deg);
  }

  100% {
    opacity: 0;
    transform: scaleX(1) scaleY(1) translate(600px, 100px) rotate(-270deg);
  }
}

@keyframes sun-pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}
