html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: $footer-height;
  padding-top: $header-height + 1px; // Includes 1px border bottom of menu
}

.body-content {
  padding-bottom: 20px;
  padding-top: 20px;
}

::selection {
  background-color: $brand-accent;
  color: $text-color;
}

:focus {
  outline-color: $brand-accent !important;
}
