.btn {
  transition: all .25s ease-out;
}

.btn-shadow {
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);

  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  }
}

.btn-shadow-small {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);

  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
  }
}

.btn-accent {
  background-color: $A200;
  border: 1px solid $A400;
  color: $A200-text;

  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    background-color: $A400;
    border: 1px solid $A700;
    color: $A200-text;
  }
}

.btn-primary-dark {
  background-color: $navbar-default-bg;
  border: 1px solid darken($navbar-default-bg, 6.5%);
  color: $brand-muted;

  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    background-color: darken($navbar-default-bg, 6.5%);
    border: 1px solid darken($navbar-default-bg, 6.5%);
    color: $brand-muted;
  }
}

.btn-success-inverse {
  backface-visibility: hidden; // Fix for transition flickering
  background-color: $btn-default-bg;
  border-color: $btn-default-border;
  color: $btn-default-color;
  transition: all .4s ease; // Fade to color for Chrome and Safari

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-color: darken($btn-success-bg, 10%);
    border-color: darken($btn-success-border, 12%);
    color: $btn-success-color;

    .btn-text-emphasis {
      color: $success-emphasis-color;
    }
  }

  .btn-text-emphasis {
    backface-visibility: hidden; // Fix for transition flickering
    color: $btn-success-bg;
    transition: all .4s ease; // Fade to color for Chrome and Safari
  }
}

.btn-danger-inverse {
  background-color: $body-bg;
  border: 1px solid $btn-danger-border;
  color: $btn-danger-bg;
}

.btn-danger-inverse:hover,
.btn-danger-inverse:focus,
.btn-danger-inverse:active,
.btn-danger-inverse.active,
.btn-danger-inverse.disabled,
.btn-danger-inverse[disabled] {
  background-color: $btn-danger-bg;
  border: 1px solid $btn-danger-border;
  color: $body-bg;
}

.btn-cutout {
  background-color: $gray-lighter;
  border: 1px dashed $gray;
  color: $gray;
}

.btn-cutout:hover,
.btn-cutout:focus,
.btn-cutout:active,
.btn-cutout.active,
.btn-cutout.disabled,
.btn-cutout[disabled] {
  background-color: $gray-light;
  border-color: $gray-dark;
  color: $gray-dark;
}

// TODO: Move to fixes/buttons, or remove?
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
  z-index: 1;
}
// END TODO
