.btn {
  transition: all .25s ease-out;
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .btn-primary {
      color: map-get($theme, brand-white) !important;
    }

    .btn-primary {
      color: map-get($theme, brand-white) !important;
    }

    .btn-shadow {
      box-shadow: 0 0 5px map-get($theme, shadow-color);

      &:hover,
      &:focus,
      &:active,
      &.active,
      &.disabled,
      &[disabled] {
        box-shadow: 0 0 10px map-get($theme, shadow-color);
      }
    }

    .btn-accent {
      @include button-variant(map-get($theme, accent), map-get($theme, accent));
      color: map-get($theme, brand-white) !important;

      &:hover,
      &:focus,
      &:active,
      &.active,
      &.disabled,
      &[disabled] {
        color: map-get($theme, brand-white);
      }
    }
  }
}
