.calendar-week {
  display: flex;
  min-height: 100px;

  .calendar-day {
    box-shadow: -1px -1px $calendar-border-color, inset -1px -1px 0 0 $calendar-border-color;
    flex: 1;
    flex-grow: 1;
    font-size: 14px;
    overflow-x: hidden;
    position: relative;

    &.today {
      background-color: $calendar-today-bg;
    }

    &.saturday,
    &.sunday {
      display: none;

      @include media-breakpoint-up(sm) {
        display: block;
      }
    }

    .calendar-window {
      background-color: $calender-window-bg;
      color: $brand-white;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      transition: opacity .5s ease-out;
      white-space: nowrap;

      &.window-cleared {
        background-color: transparent;
      }

      &.calendar-window-hover {
        opacity: .8;
      }
    }
  }

  &.calendar-header {
    min-height: 0;

    .calendar-day {
      box-shadow: none;
      font-weight: bold;
      text-align: center;
    }
  }
}

.calendar-week-header {
  display: flex;
}
