.calendar-week {
  display: flex;
  min-height: 100px;

  .calendar-day {
    flex-grow: 1;
    box-shadow: -1px -1px $calendar-border-color, inset -1px -1px 0 0 $calendar-border-color;
    flex: 1;
    font-size: 14px;
    overflow-x: hidden;
    position: relative;

    &.today {
      background-color: $calendar-today-bg;
    }

    &.saturday,
    &.sunday {
      display: none;
    }

    .calendar-window {
      background-color: $calender-window-bg;
      color: $brand-white;
      // display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      white-space: nowrap;
      padding-left: 3px;
      padding-right: 3px;
      opacity: 0;
      transition: opacity .5s ease-out;
      text-align: center;

      &.window-cleared {
        background-color: transparent;
      }

      // &.window-start {
      //   text-align: center;
      // }

      // &.window-end {
      //   text-align: right;
      // }

      &.calendar-window-hover {
        opacity: 0.8;
      }
    }
  }

  &.calendar-header {
    min-height: 0;

    .calendar-day {
      box-shadow: none;
      font-weight: bold;
      text-align: center;
    }
  }
}

.calendar-week-header {
   display: flex;

  .calendar-day {
  }
}

@media screen and (min-width: $screen-sm-min) {
  .calendar-week {
    .calendar-day {
      &.saturday,
      &.sunday {
        display: block;
      }
    }
  }
}

