.callout {
  @include remove-last-child-bottom-margin;

  border-left: 5px solid $gray-lighter;
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
}

.callout code,
.callout .highlight {
  background-color: $gray-lighter;
}

.callout-danger {
  background-color: $panel-danger-heading-bg;
  border-color: $panel-danger-border;
  color: $panel-danger-text;

  .callout-link {
    color: $alert-danger-text;
    font-weight: bold;
  }
}

.callout-warning {
  background-color: $panel-warning-heading-bg;
  border-color: $panel-warning-border;
  color: $panel-warning-text;

  .callout-link {
    color: $alert-warning-text;
    font-weight: bold;
  }
}

.callout-info {
  background-color: $panel-info-heading-bg;
  border-color: $panel-info-border;
  color: $panel-info-text;

  .callout-link {
    color: $alert-info-text;
    font-weight: bold;
  }
}
