.chart-container {
  background-color: $dashboard-bg;
  border-radius: 3px;
  box-shadow: 0 30px 60px $standard-shadow-color;
  color: $body-color;
  margin-bottom: 40px;
  padding: 5px 0 0 0;

  @include media-breakpoint-up(sm) {
    padding: 10px 5px 0;
  }
}
