// Defines containers that specify margin and padding for layout elements.

.wide-container {
  width: 100%;
  max-width: none;
}


// TODO: Remove download-container.
.download-container {
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 0 0 20px;
  padding: 19px;
  position: relative;

  h3 {
    margin-top: 0;
  }
}

.download-container-after {
  border: 1px solid transparent;
  border-radius: 4px 0;
  font-size: 12px;
  font-weight: 300;
  left: -1px;
  padding: 3px 7px;
  position: absolute;
  top: -1px;
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .download-container {
      background-color: map-get($theme, dashboard-bg);
      box-shadow: 0 0 5px map-get($theme, box-shadow-color);
      color: map-get($theme, body-color);
    }

    // TODO: Remove "download-container-after"
    .download-container-after {
      background-color: map-get($theme, dashboard-bg);
    }
  }
}
