.dashboard-container {
  @include remove-last-child-bottom-margin;
  @include scale-images;

  background-color: $body-bg;
  padding: 5px;
  color: $text-color;
  border-radius: 3px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;

  > div,
  > table {
    &:last-child {
      margin-bottom: 0;
    }
  }

  + .center > .pagination {
    margin-top: 0;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .dashboard-container {
    padding: 30px;
  }
}
