hr {
  &.divider-xs,
  &.divider-sm,
  &.divider-md {
    border: 0;
    border-top: 1px solid $navbar-default-border;
    height: 0;
    width: 60%;
  }

  &.divider-xs {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  &.divider-sm {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  &.divider-md {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

@media screen and (min-width: $screen-sm-min) {
  hr {
    &.divider-sm {
      margin-bottom: 20px;
      margin-top: 20px;
    }

    &.divider-md {
      margin-bottom: 40px;
      margin-top: 40px;
    }
  }
}
