.docs-heading {
  margin-bottom: 40px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.docs-container {
  background-color: #fff;
  padding: 30px;
  color: #69707a;
  border-radius: 3px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);

  strong {
    color: #222325;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #222325;
    margin: 30px 0;
    font-weight: 300;
  }

  p {
    line-height: 28px;
    font-size: 16px;
    font-weight: 300;
  }
}

@media screen and (min-width: $screen-md-min) {
  .docs-container {
    padding: 60px;

    p {
      font-size: 20px;
    }
  }
}
