.flash-alert,
.flash-notice {
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;

  .lead {
    margin: 0;
  }
}

.flash-alert {
  background-color: $alert-warning-bg;
  background-image: none;
  color: $alert-warning-text;
}

.flash-notice {
  background-color: $alert-success-bg;
  background-image: none;
  color: $alert-success-text;
}
