@keyframes fadein {
  from {
    top: -60px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: -60px;
    opacity: 0;
  }
}

.flash-bar {
  visibility: hidden;
  background-color: $brand-black;
  color: $brand-white;
  text-align: center;
  padding: 16px;
  position: fixed;
  z-index: $zindex-tooltip;
  left: 0;
  right: 0;
  top: 0;
}

.flash-bar.flash-bar-show {
  animation: fadein 0.5s, fadeout 0.5s 4s;
  animation-fill-mode: forwards;
  visibility: visible;
}
