.footer-container {
  bottom: 0;
  height: $footer-height;
  position: absolute;
  transition: background-color .5s ease-out;
  width: 100%;

  .footer {
    height: $footer-height;
    padding: 40px 0;
  }

  img {
    @include ignore-selection;
  }
}

.footer-default {
  @include theme-footer($p100-grey, $body-color);
}

.footer-dark-pink {
  @include theme-footer($p900-pink, $brand-white);
}

.footer-night {
  @include theme-footer($p900-grey, $p300-grey);
}
