.footer-container {
  bottom: 0;
  height: $footer-height;
  position: absolute;
  transition: background-color .5s ease-out;
  width: 100%;

  .footer {
    height: $footer-height;
    padding: 40px 0;
  }

  img {
    @include ignore-selection;
  }
}

@each $name, $theme in $themes {
  .footer-#{$name} {
    background-color: map-get($theme, footer-bg);
    color: map-get($theme, footer-color);

    a {
      color: map-get($theme, footer-color) !important;
    }
  }
}
