.sign-up-form {
  background-color: $panel-bg;
  border: 1px solid $brand-primary;
  margin: 0 auto 20px;
  max-width: 400px;
  padding: 20px;
}

.sign-up-form-title {
  background-color: $brand-primary;
  color: $brand-white;
  font-size: 18px;
  margin: -20px -20px 20px;
  padding: 10px 20px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: $screen-sm-min) {
  .sign-up-form {
    border-radius: 5px;
    overflow: hidden;
  }

  .sign-up-form-title {
    border-radius: 0;
    font-size: 24px;
  }
}

.submit-btn-container {
  margin: 20px 0 0;
}
