.fuzzy-date-control {
  border: 1px solid transparent;
  border-radius: $border-radius;
  text-align: center;
}

.fuzzy-date-control-sm {
  min-width: 20px;
  width: 20px;
}

.fuzzy-date-control-lg {
  min-width: 30px;
  width: 30px;
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .fuzzy-date-control {
      background-color: map-get($theme, dashboard-bg);
      border-color: theme-color($theme, input-border-color, $input-border-color);
      color: map-get($theme, body-color);
    }
  }
}
