.header-container {
  padding: 20px 0;
  transition: $transition-bg;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  h1 {
    font-size: 30px;
  }
}

@include media-breakpoint-up(sm) {
  .header-container {
    h1 {
      font-size: 38px;
    }
  }
}

@include media-breakpoint-up(md) {
  .header-container {
    h1 {
      font-size: 41px;
    }
  }
}

@each $name, $theme in $themes {
  $header-bg: map-get($theme, p800);
  @if map-get($theme, header-bg) {
    $header-bg: map-get($theme, header-bg);
  }

  .theme-#{$name}-bg {
    .header-container {
      background-color: $header-bg;
      color: map-get($theme, brand-white);
    }
  }
}

.page-heading {
  word-break: break-word;
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .page-heading {
      > a {
        color: map-get($theme, p100);

        &:hover {
          color: map-get($theme, p50);
        }
      }
    }
  }
}

.header-link {
  display: inline-block;
  font-size: 65%;
  font-weight: normal;
  line-height: 1;
  white-space: nowrap;
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .header-link {
      a {
        color: map-get($theme, p100);

        &:hover {
          color: map-get($theme, p50);
        }
      }
    }
  }
}

.header-container-hide {
  h1 {
    visibility: hidden;
  }
}

.top-menu {
  position: sticky;
  top: 0;
  z-index: $zindex-fixed;

  .navbar-show-scrolled {
    display: none;
  }

  &.navbar-scrolled {
    @include media-breakpoint-down(md) {
      .display-small-scrolled {
        display: block;
      }
    }

    @include media-breakpoint-up(lg) {
      .menu-body {
        flex: initial;
        white-space: nowrap;
      }

      .display-small-scrolled {
        display: none;
      }
    }

    .display-lg-scrolled {
      display: none;
    }

    .navbar-hide-scrolled {
      display: none !important;
    }

    .navbar-show-scrolled {
      display: block;
      flex: 1 1 70%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

@each $name, $theme in $themes {
  @if map-get($theme, menu-bg-scrolled) {
    .theme-#{$name}-bg {
      .navbar-scrolled {
        .menu-#{$name} {
          background-color: map-get($theme, menu-bg-scrolled);
        }
      }
    }
  }
}

.brand-title {
  border-bottom: 2px solid transparent;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: map-get($spacers, 4);
}

.brand-subtitle {
  border-bottom: 1px solid transparent;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: map-get($spacers, 5);
  margin-bottom: map-get($spacers, 3);
}

.brand-subsubtitle {
  font-size: 1.15rem;
  font-weight: 500;
  margin-bottom: map-get($spacers, 2);
}

@include media-breakpoint-up(sm) {
  .brand-title {
    font-size: 1.75rem;
  }

  .brand-subtitle {
    font-size: 1.375rem;
  }

  .brand-subsubtitle {
    font-size: 1.25rem;
  }
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .brand-title,
    .brand-subtitle {
      border-color: map-get($theme, p500);
    }
  }
}

.dashboard-heading {
  border-radius: $border-radius;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: $spacer;
  padding: $spacer;

  @include media-breakpoint-up(sm) {
    font-size: 1.75rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.75rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2rem;
  }
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .dashboard-heading {
      background-color: map-get($theme, dashboard-bg);
      box-shadow: 0 0 5px map-get($theme, box-shadow-color);
      color: map-get($theme, body-color);
    }
  }
}
