$landing-cog-color: #ededed;
$landing-cog2-color: #dedede;

.background-gradient {
  background-color: $a200;
  background-image: linear-gradient(180deg, $a100, $a700 31%, $p400 65%, $p500);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -3;
}

.body-attachment {
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding-top: $header-height + 20px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -2;

  .attachment-container {
    position: relative;
  }
}

.landing-cog,
.landing-cog2,
.landing-cog3,
.landing-lower-left,
.background-search {
  position: absolute;
  z-index: -1;
}

.landing-cog {
  color: $landing-cog-color;
  font-size: 128px;
  right: 0;
  top: 0;

  span {
    animation: spin-cw 16s linear infinite;
  }
}

.landing-cog2 {
  color: $landing-cog2-color;
  font-size: 64px;
  right: -22px;
  top: 109px;

  span {
    animation: spin-ccw 8s linear infinite;
  }
}

.landing-cog3 {
  color: $brand-muted;
  font-size: 512px;
  left: -200px;
  top: -320px;

  span {
    animation: spin-cw 72s linear infinite;
  }
}

.landing-lower-left {
  color: $brand-muted;
  font-size: 512px;
  left: -100px;
  top: 370px;

  i {
    animation: shake 9s ease-in-out infinite alternate;
    transform: rotate(10deg);
  }
}

.background-search {
  color: $brand-muted;
  font-size: 512px;
  left: 0;
  top: 270px;

  span {
    animation: wander 15s ease-in-out 1;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: scale(1);
  }
}
