.background-gradient {
  background-color: $A200;
  background-image: linear-gradient(180deg, $A100, $A700 31%, $P400 65%, $P500);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: -2;
}

.landing-cog,
.landing-cog2,
.landing-cog3,
.landing-lower-right {
  position: absolute;
  z-index: -1;
}

.landing-cog {
  color: #ededed;
  font-size: 128px;
  right: 0;
  top: 0;

  span {
   animation: spin-cw 16s linear infinite;
  }
}

.landing-cog2 {
  color: #dedede;
  font-size: 64px;
  right: -22px;
  top: 109px;

  span {
    animation: spin-ccw 8s linear infinite;
  }
}

.landing-cog3 {
  color: $brand-muted;
  font-size: 512px;
  top: -320px;
  left: -200px;

  span {
    animation: spin-cw 72s linear infinite;
  }
}

.landing-lower-right {
  color: $brand-muted;
  font-size: 512px;
  top: 270px;
  left: -175px;

  i {
    transform: rotate(10deg);
    animation: shake 9s ease-in-out infinite alternate;
  }
}
