.anchor-top {
  display: block;
  height: 0;
  position: relative;
  top: -($header-height);
  width: 0;
}

.hover-link {
  color: inherit;
}

.link-muted {
  color: $text-muted;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: $text-muted;
    text-decoration: none;
  }
}

.link-unstyled {
  color: $text-color;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: $text-color;
    text-decoration: none;
  }
}

.link-accent {
  color: $brand-accent;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: darken($brand-accent, 10%);
  }
}
