.anchor-top {
  display: block;
  height: 0;
  position: relative;
  top: -($header-height) - 20px;
  width: 0;
}

.hover-link {
  color: inherit;
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .link-blend-muted {
      color: theme-color($theme, text-muted, $text-muted);

      &:hover,
      &:focus,
      &:active {
        // color: $text-muted;
        // text-decoration: none;
      }
    }

    .link-muted {
      color: theme-color($theme, text-muted, $text-muted);

      &:hover,
      &:focus,
      &:active {
        color: theme-color($theme, text-muted, $text-muted);
        text-decoration: none;
      }
    }

    .link-unstyled {
      color: map-get($theme, body-color);

      &:hover,
      &:focus,
      &:active {
        color: map-get($theme, body-color);
        text-decoration: none;
      }
    }
  }
}

.link-no-underline {
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.span-link {
  cursor: pointer;
}
