$tab-default-bg: $navbar-default-bg;
$current-tab-link-bg: $btn-success-bg;
$current-tab-color: $btn-success-color;

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-default .navbar-brand.active,
.navbar-default .navbar-brand.active:hover,
.navbar-default .navbar-brand.active:focus {
  background-color: $state-success-bg;
  color: $state-success-text;
}

.navbar-default .navbar-nav .logout-button {
  color: lighten($brand-danger, 15%);
}

.navbar-default .navbar-nav .logout-button:hover {
  color: $brand-danger;
}

.navbar-default .navbar-nav .notifications-link {
  animation: wiggle 250ms linear 4;
  color: $link-color;
}

.navbar-default .navbar-nav .notifications-link:hover {
  color: $link-hover-color;
}

.tabbed-navigation-menu {
  margin-bottom: 20px;
  margin-top: -20px;
}

.menu-tab-first,
.menu-tab {
  display: inline-block;
}

.menu-tab {
  margin-left: 57px;

  .menu-tab-link::before {
    backface-visibility: hidden; // Fix for transition flickering
    border-color: transparent $tab-default-bg transparent transparent;
    border-style: solid;
    border-width: 35px 35px 0 0;
    content: '';
    height: 0;
    left: -35px;
    position: absolute;
    top: 0;
    transition: all .2s ease;
    width: 0;
  }
}

.menu-tab-link,
.menu-tab-link:focus {
  backface-visibility: hidden; // Fix for transition flickering
  background-color: $tab-default-bg;
  color: $text-color;
  display: inline-block;
  font-size: 18px;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 0;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4.5px;
  position: relative;
  text-decoration: none;
  transition: all .2s ease;
}

.menu-tab-first .menu-tab-link::before {
  backface-visibility: hidden; // Fix for transition flickering
  border-color: transparent $tab-default-bg transparent transparent;
  border-style: solid;
  border-width: 0 35px 35px 0;
  content: '';
  height: 0;
  left: -35px;
  position: absolute;
  top: 0;
  transition: all .2s ease;
  width: 0;
}

.menu-tab-link::after {
  backface-visibility: hidden; // Fix for transition flickering
  border-color: $tab-default-bg transparent transparent;
  border-style: solid;
  border-width: 35px 35px 0 0;
  content: '';
  height: 0;
  position: absolute;
  right: -35px;
  top: 0;
  transition: all .2s ease;
  width: 0;
}

.menu-tab-link.current {
  background-color: $current-tab-link-bg;
  color: $current-tab-color;
}

.menu-tab-link.current::before {
  border-color: transparent $current-tab-link-bg transparent transparent;
}

.menu-tab-link.current::after {
  border-color: $current-tab-link-bg transparent transparent;
}

.menu-tab-link:hover {
  background-color: $btn-success-bg;
  color: $btn-success-color;
  text-decoration: none;
}

.menu-tab-link:hover::before {
  border-color: transparent $btn-success-bg transparent transparent;
}

.menu-tab-link:hover::after {
  border-color: $btn-success-bg transparent transparent;
}

.mobile-menu {
  display: block;
  list-style: none;
  margin: 20px 0;
  padding-left: 0;

  li {
    margin-bottom: 5px;
  }

  a {
    border-left: 2px solid $text-color;
    color: $text-color;
    display: block;
    padding: 5px;
    text-decoration: none;

    &:hover,
    &.active {
      border-left: 2px solid $btn-success-bg;
      text-decoration: none;
    }
  }
}

$left-menu-width: 100px;

.mini-menu-outer {
  min-height: 485px;
  position: relative;
}

.mini-menu-left-fixed {
  display: none;
  left: -15px;
  position: absolute;
  top: 0;
  width: $left-menu-width;
}

.mini-menu-right-fluid {
  position: relative;
}

@media screen and (min-width: $screen-sm-min) {
  .mobile-menu {
    display: none;
  }

  .mini-menu-left-fixed {
    display: block;
  }

  .mini-menu-right-fluid {
    margin-left: $left-menu-width;
  }
}

.mini-left-navigation {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li {
    border-bottom: 1px solid $tab-default-bg;
    direction: rtl;
    font-size: 14px;
    white-space: nowrap;
  }

  a {
    border-right: 2px solid transparent;
    color: $text-color;
    display: block;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: right;
    text-decoration: none;

    &:hover,
    &.active {
      border-right: 2px solid $btn-success-bg;
      text-decoration: none;
    }
  }
}
