.per-page {
  display: none;
  font-size: $font-size-base;
  font-weight: normal;
  position: absolute;
  right: 0;
  top: -20px;
}

@media screen and (min-width: $screen-sm-min) {
  .per-page {
    display: block;
  }
}

.page-heading {
  .per-page {
    top: 0;
    margin: 0;
    height: 28px;
    position: relative;
    display: inline-block;
    text-shadow: none;

    ul {
      margin: 0;
    }
  }
}


@media screen and (min-width: $screen-md-min) {
  .page-heading {
    .per-page {
      height: 29px;
    }
  }
}
