.per-page {
  display: none;
  font-size: $font-size-base;
  font-weight: normal;
  position: absolute;
  right: 0;
  top: -20px;

  @include media-breakpoint-up(sm) {
    display: block;
  }
}

.page-heading {
  .per-page {
    display: inline-block;
    height: 28px;
    margin: 0;
    position: relative;
    text-shadow: none;
    top: 0;

    ul {
      margin: 0;
    }
  }

  .pull-right {
    height: 28px;
  }
}

@include media-breakpoint-up(md) {
  .page-heading {
    .per-page {
      height: 29px;
    }

    .pull-right {
      height: 29px;
    }
  }
}
