.per-page {
  display: none;
  font-size: $font-size-base;
  font-weight: normal;
  position: absolute;
  right: 0;
  top: -20px;

  @include media-breakpoint-up(sm) {
    display: block;
  }
}

.page-heading {
  .per-page {
    display: inline-block;
    height: 28px;
    margin: 0;
    position: relative;
    text-shadow: none;
    top: 0;

    ul {
      margin: 0;
    }
  }

  .float-right {
    height: 28px;
  }
}

@include media-breakpoint-up(md) {
  .page-heading {
    .per-page {
      height: 29px;
    }

    .float-right {
      height: 29px;
    }
  }
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    @if map-get($theme, link-color) {
      .page-item.active {
        .page-link {
          background-color: map-get($theme, link-color);
          border-color: map-get($theme, link-color);
          color: map-get($theme, brand-white);
        }
      }
      .page-link {
        color: map-get($theme, link-color);

        &:hover,
        &:focus,
        &:active {
          color: map-get($theme, link-color);
          text-decoration: none;
        }
      }
    } @else {
      .page-item.active {
        .page-link {
          background-color: map-get($theme, primary);
          border-color: map-get($theme, primary);
          color: map-get($theme, brand-white);
        }
      }
      .page-link {
        color: map-get($theme, primary);

        &:hover,
        &:focus,
        &:active {
          color: map-get($theme, primary);
          text-decoration: none;
        }
      }
    }
  }
}
