.sform-input {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  outline: 0;
  padding-bottom: $spacer;
  width: 100%;

  &:active,
  &.active,
  &:focus {
    box-shadow: none;
  }
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .sform-input {
      // color: map-get($theme, brand-white);

      // &::placeholder {
      //   color: map-get($theme, body-color);
      // }
    }
  }
}
