@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .sidebar-wrapper {
      background-color: map-get($theme, brand-black);
      color: map-get($theme, brand-white);
    }
  }
}

.sidebar-wrapper {
  order: 0;

  @include media-breakpoint-up(xl) {
    max-width: 320px;
  }
}

.sidebar {
  @include media-breakpoint-up(md) {
    @supports (position: sticky) {
      position: sticky;
      top: 0;
      z-index: $zindex-sticky;
    }
  }
}

.sidebar-header {
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  padding: 1rem 15px;
}

.sidebar-photo {
  margin-left: $spacer;
}

.sidebar-header-toggle {
  line-height: 1;
  color: $p500-grey;
}

.sidebar-nav-wrapper {
  // Override collapse behaviors
  @include media-breakpoint-up(md) {
    display: block !important;
  }
}

.sidebar-nav {
  padding-bottom: 1rem;
  padding-top: 1rem;

  @include media-breakpoint-up(md) {
    padding-bottom: 30px;
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 40px;
  }
}

.sidebar-nav-group-items {
  display: none;
}

.sidebar-nav-group-link {
  display: block;
  padding: .25rem .5rem;
  font-weight: 500;
  color: rgba(0,0,0,.65);

  &:hover {
    color: rgba(0,0,0,.85);
    text-decoration: none;
  }
}

.sidebar-nav-group {
  &.active {
    margin-bottom: 1rem;

    &:not(:first-child) {
      margin-top: 1rem;
    }

    > .sidebar-nav-group-link {
      color: rgba(0,0,0,.85);

      &:hover {
        background-color: transparent;
      }
    }

    > .sidebar-nav-group-items {
      display: block;
    }
  }
}

.sidebar .nav > li > a {
  display: block;
  padding: .25rem .5rem;
  font-size: 90%;
  color: rgba(0, 0, 0, .65);
}

.sidebar .nav > li > a:hover {
  color: rgba(0, 0, 0, .85);
  text-decoration: none;
  background-color: transparent;
}

.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a {
  font-weight: 500;
  color: rgba(0, 0, 0, .85);
  background-color: transparent;
}
