.table-fixed {
  table-layout: fixed;
}

.table {
  &.table-borderless {
    td,
    th {
      border-width: 0;
    }

    > tbody + tbody {
      border-width: 0;
    }
  }
}

.table-sticky {
  position: relative;
  z-index: 1;

  th {
    position: sticky;
    top: $header-height - 1px;
    z-index: $zindex-sticky;
  }
}

.tr-align-middle {
  td,
  th {
    vertical-align: middle;
  }
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .table-sticky {
      th {
        background-color: $table-bg;
      }
    }
  }
}
