.timeline-large-icon {
  display: none;
  font-size: 48px;
  left: -70px;
  position: absolute;
  top: 26px;
}

@media screen and (min-width: $screen-sm-min) {
  .timeline-large-icon {
    display: block;
  }
}
