.tip-container {
  background-color: $alert-info-bg;
  box-shadow: 5px 5px 15px $gray-light;
  color: $alert-info-text;
  margin: 20px;
  padding: 20px;
  position: relative;

  img {
    max-width: 100%;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
