- if @project.unblinded?(current_user)
  - percent = subject_event.unblinded_percent || 0
- else
  - percent = subject_event.blinded_percent || 0

.progress.progress-simple
  .progress-bar.bg-success{ id: "subject-event-#{subject_event.id}-progress-bar-width", style: "width: #{percent}%" }
