%td
  %i.fa.fa-comment{ class: (notification.read? ? "text-muted" : "text-primary") }

%td.nowrap{ class: "#{"text-muted" if notification.read?}" }
  .overflow-hidden
    = link_to notification, class: (notification.read? ? "link-muted" : "link-unstyled"), data: { turbolinks: false } do
      %small.text-muted
        = strip_tags(simple_markdown notification.comment.description).html_safe

%td.d-none.d-sm-table-cell
  = image_tag notification.comment.user.avatar_url(18, "identicon"), size: "18x18", alt: ""
