%td
  %i.fa.fa-file-archive-o{ class: (notification.read? ? "text-muted" : "text-primary") }

%td.nowrap{ class: "#{"text-muted" if notification.read?}" }
  .overflow-hidden
    = link_to notification, class: (notification.read? ? "link-muted" : "link-unstyled") do
      = notification.project.name
      export completed.

%td.hidden-xs
