.row
  - if @project.editable_by?(current_user)
    .col-xs-3
      = link_to 'Edit Project', edit_project_path(@project)
  .col-xs-3
    = link_to 'Export Data', project_sheets_path(@project, e: '1')
  .col-xs-3
    = link_to 'Subjects', project_subjects_path(@project)
