@import 'themes/night';
@import 'variables/all';

@import 'themes/night-variables';

$header-bg:             $gray-darker;
$side-nav-bg:           $body-bg;
$side-nav-active-bg:    $A700;
$project-box-bg:        $P900;
$project-box-link: $brand-white;
$comment-header-bg: darken($gray-darker, 5%);
$comment-border: darken($gray-darker, 10%);
$breadcrumb-link-color: $link-color;
$calendar-border-color: $gray-darker;
$calendar-today-bg: $gray-darker;
$dashboard-bg: #111;
$dashboard-lead-bg: $P900;
$section-lead-bg: $P700;

@import 'tree';

body, .background-gradient {
  background-color: $P900;
  background-image: linear-gradient(180deg, #060606, $P900 95%, $P900);
}

.footer::before {
  background: transparent asset-url('themes/night/fog.png') repeat;
  content: "";
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 181px;
  animation: sidescroll 120s linear infinite;
  transform: translatez(0);
}
