@import 'themes/night';
@import 'variables/all';

@import 'themes/night-variables';

$header-bg:             $gray-darker;
$side-nav-bg:           $body-bg;
$side-nav-active-bg:    $a700;
$project-box-bg:        $p900;
$project-box-link: $brand-white;
$comment-header-bg: darken($gray-darker, 5%);
$comment-border: darken($gray-darker, 10%);
$breadcrumb-link-color: $link-color;
$calendar-border-color: $gray-darker;
$calendar-today-bg: $gray-darker;
$dashboard-lead-bg: $p900;
$section-lead-bg: $p700;
$blockquote-text-color: $gray-dark;

// https://material.google.com/style/color.html#color-color-palette
$block-blue: darken(#2196f3, 30%);  // $p500 blue
$block-red: darken(#f44336, 30%);   // $p500 red
$block-green: darken(#4caf50, 30%); // $p500 green
$block-amber: darken(#ffc107, 30%); // $p500 $amber

@import 'tree';

@import 'themes/night/all';
