@import 'variables/bootstrap';
@import 'variables/shadows';

@import 'themes/winter-variables';

@import 'tree';

@keyframes snow-flakes {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }

  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

body {
  animation: snow-flakes 20s linear infinite;
  background-color: $body-bg;
  background-image: asset-url('themes/winter/snow1.png'), asset-url('themes/winter/snow2.png'), asset-url('themes/winter/snow3.png');
}
