@import 'themes/underwater';
@import 'variables/all';

@import 'tree';

@keyframes bubbles-three {
  0% {
    background-position: 0 400px, 0 300px, 0 0;
  }

  100% {
    background-position: 0 0, 0 0, 0 0, 0 0;
  }
}

.background-gradient {
  animation: bubbles-three 20s linear infinite;
  background-image: asset-url('themes/winter/snow2.png'), asset-url('themes/winter/snow3.png'), linear-gradient(180deg, $A100, $A700 31%, $P400 65%, $P500);
}
