.anchor-top {
  position: relative;
  top:-50px;
  display: block;
  height: 0;
  width:0;
}

.posts-container {
  padding-top: 10px;
}

@media screen and (min-width: $screen-sm-min) {
  .posts-container {
    padding: 20px;
    padding-top: 30px;
  }
}

@media screen and (min-width: $screen-md-min) {
  .posts-container {
    padding: 40px;
    padding-top: 50px;
  }
}

.post-type {
  padding: 10px;
  display: inline-block;
  float: left;
}

.post-avatar {
  width: 75px;
  margin: 0px 10px;
  height: 55px;
}

.post-container-skinny {
  margin-left: 75px;
  margin-bottom: 10px;
  font-weight: 200;
}

.post-container {
  background-color: $body-bg;
  margin-left: 75px;
  margin-top: -55px;
  margin-bottom: 20px;
  border: 1px solid $panel-default-border;
  border-right-width: 0px;
}

@media screen and (min-width: $screen-sm-min) {
  .post-container {
    border-right-width: 1px;
    margin-right: 10px;
  }
}

.post-header-skinny {
  padding: 10px;

  .pull-right {
    border: 1px solid $panel-default-border;
    background-color: $panel-default-heading-bg;
    padding:10px;
    margin-top:-11px;
  }
}

.post-header {
  background-color: $panel-default-heading-bg;
  padding: 10px;
  position: relative;
}

.post-header:before, .post-header:after {
  position: absolute;
  top: 11px;
  left: -16px;
  right: 100%;
  width: 0;
  height: 0;
  display: block;
  content: " ";
  border-color: transparent;
  border-style: solid solid outset;
  pointer-events: none;
}

.post-header:before {
  border-right-color: $panel-default-border;
  border-width: 8px;
}

.post-header:after {
  border-width: 7px;
  border-right-color: $panel-default-heading-bg;
  margin-top: 1px;
  margin-left: 2px;
}

.post-body {
  padding: 10px;
  overflow: hidden;
}

.post-footer {
  position: relative;
  height: 25px;
}
