.project-gradient {
  background-color: $body-bg;
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, darken($body-bg, 5%) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,darken($body-bg, 5%))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,darken($body-bg, 5%) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,darken($body-bg, 5%) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,darken($body-bg, 5%) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,darken($body-bg, 5%) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#{darken($body-bg, 5%)}', GradientType=0 ); /* IE6-9 */
}

.project-details {
  display: none;
  padding: 20px 0px 0px 0px;
}

.projects-box {
  margin: 10px -15px;
  padding: 10px 10px 10px 25px;

  // -webkit-transition: all .2s ease; /* Fade to color for Chrome and Safari */
  // -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

// .projects-box:hover {
//   background-color: $alert-info-bg;
//   box-shadow: 3px 3px 10px #888888;
// }

@media screen and (min-width: $screen-sm-min) {
  .projects-box {
    margin: 5px 10px;
    padding: 15px;
  }
}

.project-navigation {
  padding: 5px 0px;
  background-color: #333; // $navbar-inverse-bg;
  color: #DDD; //$navbar-inverse-color;
}

.project-navigation a {
  color: #DEDEDE; //$navbar-inverse-color;
  text-decoration: none;
}

.handle {
  display: none;
  cursor: move;
}

.projects-box:hover .handle {
  display: inline-block;
}

.projects-hide-move .handle {
  display: none !important;
}
