.project-title-container, .subject-title-container {
  margin-top: -13px;
}

a.project-title, a.subject-title {
  margin-top: -20px;
  font-size: 18px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: $text-color;
  margin-bottom: 10px;
  margin-left: -15px;
  margin-right: -15px;
  display: inline-block;
  position: relative;
  background-color: $navbar-default-bg;
  text-decoration: none;
}

.project-title::before, .subject-title::before {
  content: "";
  position: absolute;
  left: -32px;
  top: 0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 32px 32px 0px;
  border-color: transparent $navbar-default-bg transparent transparent;
}

.project-title::after, .subject-title::after {
  content: "";
  position: absolute;
  right: -32px;
  top: 0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 32px 32px 0 0;
  border-color: $navbar-default-bg transparent transparent transparent;
}

a.project-title:hover, a.subject-title:hover {
  color: $btn-success-color;
  background-color: $btn-success-bg;
}

a.project-title:hover::before, a.subject-title:hover::before {
  border-color: transparent $btn-success-bg transparent transparent
}

a.project-title:hover::after, a.subject-title:hover::after {
  border-color: $btn-success-bg transparent transparent transparent
}

.project-header, .subject-header {
  background-image: -webkit-linear-gradient(right, $body-bg, rgba(0,255,0,.1), $btn-success-bg);
  background-image:    -moz-linear-gradient(right, $body-bg, rgba(0,255,0,.1), $btn-success-bg);
  background-image:     -ms-linear-gradient(right, $body-bg, rgba(0,255,0,.1), $btn-success-bg);
  background-image:      -o-linear-gradient(right, $body-bg, rgba(0,255,0,.1), $btn-success-bg);
  background-color: $btn-success-bg;
  color: $btn-success-color;
  margin: 0px -15px 20px -15px;
  padding: 5px 15px;
}

@media screen and (min-width: $screen-sm-min) {
  .project-header, .subject-header {
    border-bottom: 1px solid $btn-success-bg;
    background-image: none;
    background-color: transparent;
    color: $text-color;
    margin: -10px 0px 20px 0px;
    padding: 0px;
  }
}

ul.left-navigation {
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: -15px;
  position: relative;

  li {
    position: relative;
    font-size: 14px;
    margin-bottom: 5px;

    a {
      border-bottom: 1px solid $btn-success-border;
      border-left: 1px solid $btn-success-border;
      postion: relative;
      text-decoration: none;
      padding: 5px 0px 5px 50px;
      display: block;

      color: $text-color;
      .emphasis {
        font-weight: 600;
        display: inline-block;
        color: $btn-success-bg;
      }
    }
    a::before {
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0px 28px 28px 0px;
      border-color: transparent transparent $btn-success-border transparent;
    }

    a::after {
      content: "";
      position: absolute;
      left: -1px;
      top: 0px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0px 29px 29px 0px;
      border-color: transparent transparent $body-bg transparent;
    }

    a:hover, a.active {
      color: $btn-success-color;
      background-color: $btn-success-bg;
      .emphasis {
        color: #333;
      }
    }
  }

  li::before {
    content: "";
    position: absolute;
    left: 40px;
    top: 9px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0px 5px 5px;
    border-color: transparent;
  }

  li:hover::before {
    border-left-color: $text-color;
  }

  ul {
    list-style: none;
    padding-left: 27px;
    li {
      margin-bottom: 0px;
      a::before {
        top: inherit;
        bottom: 1px;
      }
      a::after {
        top: inherit;
        bottom: 0px;
      }
    }
    li:not(:last-child) a::before {
      border-color: transparent;
    }
    li:not(:last-child) a::after {
      border-color: transparent;
    }
  }

}

@media screen and (min-width: $screen-sm-min) {
  ul.left-navigation {
    margin: 0px;
    margin-left: -50px;
  }
}
