.table-fixed {
  table-layout: fixed;
}

.table-borderless tr td {
  border-width: 0px !important;
}

%td.text-right, %th.text-right {
  text-align: right;
}

%td.text-center, %th.text-center {
  text-align: center;
}
