.tip-container {
  background-color: $alert-info-bg;
  color: $alert-info-text;
  // border: 1px solid #AEAEAE;

  // background-color: rgba(255, 255, 255, 0.25);

  margin: 20px;

  padding: 20px;
  box-shadow: 5px 5px 15px #888888;

  img {
    max-width: 100%;
  }

  p:last-child {
    margin-bottom: 0px;
  }
  position: relative;
}

.tip-container::before {
  // content: 'Tip';
  // position: absolute;
  // top: 5px;
  // left: 10px;
  // color: lighten($alert-info-text, 5%);
}
