= form_with(model: organization, local: true) do |form|
  = render "forms/horizontal/text_field", form: form, object: organization, key: :name
  = render "forms/horizontal/file_field", form: form, object: organization, key: :profile_picture
  = render "forms/horizontal/submit", form: form, object: organization
