<%# filters = (params[:f] || []).uniq {|f| f[:id] } %>
<% filters = (params[:f] || [{ id: 'site', axis: 'row', missing: '0' }]).uniq {|f| f[:id] } %>

<% column_filters = filters.select{|f| f[:axis] == 'col' } %>
<% row_filters = filters.select{|f| f[:axis] != 'col' } %>

<div style="clear:both"></div>

<div class="row-fluid">
  <div class="span6">
    <div class="center">Row (Max 3)</div>
    <div class="filter-sort-container" data-axis="row">
      <% row_filters.each do |filter| %>
        <%= render partial: 'filters/variable_filter_bubble', locals: { filter: filter } %>
      <% end %>
    </div>
  </div>

  <div class="span6">
    <div class="center">Column (Max 1)</div>
    <div class="filter-sort-container" data-axis="col">
      <% column_filters.each do |filter| %>
        <%= render partial: 'filters/variable_filter_bubble', locals: { filter: filter } %>
      <% end %>
    </div>
  </div>
</div>
