<% filters = (params[:f] || []).uniq {|f| f[:id] } %>

<% column_filters = filters.select{|f| f[:axis] == 'col' } %>
<% row_filters = filters.select{|f| f[:axis] != 'col' } %>

<div class="row-fluid">
  <div class="span6">
    <strong>Row (Max 3)</strong>
    <div class="filter-sort-container" data-axis="row">
      <% row_filters.each do |filter| %>
        <%= render partial: 'filters/variable_filter_bubble', locals: { filter: filter } %>
      <% end %>
    </div>
  </div>

  <div class="span6">
    <strong>Column (Max 1)</strong>
    <div class="filter-sort-container" data-axis="col">
      <% column_filters.each do |filter| %>
        <%= render partial: 'filters/variable_filter_bubble', locals: { filter: filter } %>
      <% end %>
    </div>
  </div>
</div>
