- @title = "New Grid Variable"
- @menu_title = "#{@project.name} #{@title}"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("projects/sidebar")
- content_for :header, @title

.dashboard-container= render "form", grid_variable: @grid_variable
