- @title = "Advanced Setup"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")
- content_for :header, @title

.dashboard-container
  %ul.list-unstyled
    %li= link_to "Create Design from Import", new_import_project_designs_path(@project)
