- @title = "#{@project.name_was} Edit"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("projects/sidebar")

- content_for :header do
  = link_to @project.name_was, settings_editor_project_path(@project)
  Edit

.dashboard-container= render "projects/form", project: @project
