<ul>
  <% if @project.custom_reports.size == 0 %>
    <li class="muted">No Custom Reports</li>
  <% else %>
    <% @project.custom_reports.each do |report| %>
      <li style="line-height:25px"><%= link_to report.name, report %></li>
    <% end %>
  <% end %>
</ul>
