<hr class="soften" style="margin-top:20px">
<% if @project.documents.where(archived: false).size == 0 %>
  <ul><li class="muted">No Documents</li></ul>
<% else %>
  <% @project.documents.where(archived: false).group_by{|d| d.category}.sort{|a,b| (a[0] ? a[0].name : "") <=> (b[0] ? b[0].name : "")}.each do |category, documents| %>
    <strong><%= category %></strong>
    <ul>
      <% documents.sort_by{|d| d.name}.each do |document| %>
        <% if document.file.size > 0 %>
          <li style="line-height:25px"><%= link_to document.name, document.file.url, target: '_blank' %> <span class="muted"><%= number_to_human_size(document.file.size) %></span></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>
