<hr class="soften" style="margin-top:20px">
<% if @project.domains.size == 0 %>
  <ul><li class="muted">No Links</li></ul>
<% else %>
  <ul>
  <% @project.domains.limit(10).order('updated_at').each do |domain| %>
    <li style="line-height:25px"><%= link_to domain.name, [domain.project, domain] %></li>
  <% end %>
  </ul>
<% end %>
