<h2 class="about-title"><%= link_to_if @project.editable_by?(current_user), 'Links', project_links_path(@project) %></h2>

<hr class="soften" style="margin-top:20px">

<% if @project.links.where(archived: false).size == 0 %>
  <ul><li class="text-muted">No Links</li></ul>
<% else %>
  <% @project.links.where(archived: false).group_by{|d| d.category}.sort{|a,b| a[0] <=> b[0]}.each do |category, links| %>
    <strong><%= category %></strong>
    <ul>
      <% links.sort_by{|d| d.name}.each do |link| %>
        <li style="line-height:30px">
          <%= link_to_if safe_url?(link.url), link.name, link.url, target: '_blank' %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
