%h2.underline-header Dynamic Reports
%ul
  %li{ style: 'line-height:25px;font-weight:bold' }
    = link_to 'Summary Report', report_project_path(@project)
  %li{ style: 'line-height:25px;font-weight:bold' }
    = link_to 'Subject Report', subject_report_project_path(@project)
  - @project.designs.blinding_scope(current_user).order(:name).each do |design|
    %li{ style: 'line-height:30px' }
      = link_to design.name, report_project_design_path(design.project, design)
      &middot;
      = link_to 'Overview', overview_project_design_path(design.project, design)
