%h2.about-title= link_to 'Variables', project_variables_path(@project)

%hr.divider-md

- if @project.variables.size == 0
  %ul
    %li.text-muted No Variables
- else
  %ul
    - Variable::TYPE.each do |label, variable_type|
      - count = @project.variables.where(variable_type: variable_type).count
      - if count > 0
        %li{ style: 'line-height:30px' }
          = link_to label.humanize, project_variables_path(@project, variable_type: variable_type)
          = surround '(', ')' do
            = count
