<% position = Time.now.to_i.to_s + Time.now.usec.to_s %>
<% @position = position %>
<div id="form_grid_variable_<%= position %>" class="row" style="cursor:move;line-height:20px;padding-top:5px">
  <div class="col-xs-1">
    <span class="glyphicon glyphicon-move"></span>
  </div>
  <div class="col-xs-4">
    <%= select_tag "variable[grid_tokens][][variable_id]", options_for_select([[nil, nil]] + @select_variables, @grid_variable[:variable_id]), data: { object: 'variable-load', position: position, placeholder: 'Choose a Variable' }, class: 'form-control chzn-select', id: "variable_grid_tokens_#{position}_variable_id" %>
  </div>
  <div class="col-xs-4">
    <%= select_tag "variable[grid_tokens][][control_size]", options_for_select(Variable::CONTROL_SIZE, @grid_variable[:control_size] || 'large'), class: 'form-control chzn-select' %>
  </div>
  <div class="col-xs-3">
    <%= link_to 'Remove', "#", data: { object: 'remove', target: "form_grid_variable_#{position}" }, class: 'btn btn-xs btn-danger-inverse' %>
  </div>
</div>
