<% unless @variable.header.blank? %>
  <div class="page-header">
    <h4><%= @variable.header %></h4>
  </div>
<% end %>
<div class="control-group">
  <% if @variable.display_name_visibility == 'visible' %><label class="control-label"><%= @variable.display_name %></label><% end %>
  <div class="<%= "controls controls-row" unless @variable.display_name_visibility == 'gone' %>" style="padding-top:5px;">
    <% sheet_variable = @sheet ? @sheet.sheet_variables.find_by_variable_id(@variable.id) : nil %>
    <% if Variable::TYPE.flatten.uniq.include?(@variable.variable_type) %>
      <%= render partial: "sheet_variables/show/#{@variable.variable_type}", locals: { response: @variable.response_raw(@sheet), variable: @variable, sheet_variable: sheet_variable } %>
    <% end %>
  </div>
</div>
