<% unless @variable.header.blank? %>
  <div class="page-header">
    <h4><%= @variable.header %></h4>
  </div>
<% end %>
<div class="control-group">
  <label class="control-label"><%= @variable.display_name %></label>
  <div class="controls" style="padding-top:5px">
    <% if @variable.variable_type == 'grid' %>
      <%= render partial: "sheet_variables/show/#{@variable.variable_type}", locals: { response: @variable.response_raw(@sheet), variable: @variable } %>
    <% elsif Variable::TYPE.flatten.uniq.include?(@variable.variable_type) %>
      <%= render partial: "sheet_variables/show/#{@variable.variable_type}", locals: { response: @variable.response_raw(@sheet), variable: @variable } %>
    <% end %>
  </div>
</div>
