- @title = "Edit Variable: #{@variable.display_name}"

- links = []
- links << ['Variables', project_variables_path(@project)]
- links << [@variable.name_was, [@project, @variable]]
- links << ['Edit', edit_project_variable_path(@project, @variable)]

= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid
    = render 'form'
