- @title = "New Variable"

- links = []
- links << ['Variables', project_variables_path(@project)]
- links << ['New', new_project_variable_path(@project)]
= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid
    = render 'form'
