<% @title = "Acceptable Use Policy" %>

<div class="page-header">
  <h1><%= @title %></h1>
</div>

<p>
  <%= DEFAULT_APP_NAME %> provides a platform for seamless clinical research data collection. To keep the <%= DEFAULT_APP_NAME %> running smoothly for all of our Users, you agree that you will use the Service only in a manner consistent with the following Acceptable Use Policy.
</p>

<hr class="soften">

<p style="font-weight:bold">You agree to:</p>

<ul>
  <li>Obtain <span title="institutional review board" rel="tooltip"><abbr title="">IRB</abbr></span> approval for clinical research studies collecting data for the purposes of human subject research.</li>
  <li>Collect only minimally-necessary <span title="protected health information" rel="tooltip"><abbr title="">PHI</abbr></span>.</li>
  <li>Mark all <span title="protected health information" rel="tooltip"><abbr title="">PHI</abbr></span> variables collected specifically as identifiable.</li>
</ul>

<hr class="soften">

<p style="font-weight:bold">You agree <span class="label" style="background-color:red">NOT</span> to:</p>

<ul>
  <li>Provide access to projects to those who have not undergone training to protect <span title="protected health information" rel="tooltip"><abbr title="">PHI</abbr></span>.</li>
  <li>Download <span title="protected health information" rel="tooltip"><abbr title="">PHI</abbr></span> to unencrypted system or transfer data outside of the hospital network.</li>
</ul>

<hr class="soften">

<p style="font-weight:bold">We reserve the right to:</p>

<ul>
  <li>Remove user access and delete data collected if not collected in line with the Acceptable Use Policy.</li>
  <li>Conduct audits to detect violations of the Acceptable Use Policy.</li>
</ul>
