- @title = "Version"

- render "themes/random"

.page-box.last-box.d-flex.align-items-center.theme-bg{ class: "theme-#{@body_alt}-focus-bg" }
  .container
    .text-center{ class: @body != "default" ? "text-white" : nil }
      .page-heading{ style: "font-size: 2rem; font-weight: normal; letter-spacing: normal; text-shadow: none; font-variant: normal;" }= "v#{Slice::VERSION::STRING}"
