- @title = "Version"

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading= @title

.body-attachment
  .container.attachment-container
    = render "theme/lower_left_icon"

.text-center{ style: "margin-top:40px" }
  %p.lead
    %span.transparent-stamp
      Version
      %strong= Slice::VERSION::STRING
