<div data-object="pull-partial-edit" data-edit="design_description" data-changes="<%= { design: { description: @design.description } }.to_json %>" class="editable-design-element">
  <% if @design.description.blank? %>
    <div class="muted">Click to Edit Design Description</div>
  <% else %>
    <%= simple_markdown @design.description unless @design.description.blank? %>
  <% end %>
</div>
