<% design_name = @design.valid? ? @design.name : @design.name_was %>
<h2>
  <span data-path="<%= interactive_popup_project_designs_path(@project, edit: 'design_name') %>" data-object="click-and-show" class="editable-design-element">
    <% if design_name.blank? %><div class="muted">Click to Edit Design Name</div><% else %><%= design_name %><% end %>
  </span>
  <div class="btn-group" data-toggle="buttons-radio">
    <% [['private', false],['public', true]].each do |label, publicly_available| %>
      <% if publicly_available == @design.publicly_available %>
        <button type="button" class="btn btn-mini active"><%= label %></button>
      <% else %>
        <%= link_to label, '#', data: { object: 'partial-update-submit', path: interactive_popup_project_designs_path(@project, update: 'design_name', design: { publicly_available: publicly_available }) }, class: 'btn btn-mini' %>
      <% end %>
    <% end %>
  </div>
</h2>
