<section style="padding-top:30px">
<div class="page-header editable-design-element" data-path="<%= interactive_popup_project_designs_path(@project, edit: 'section', position: @position) %>" data-object="click-and-show">
  <h2>
    <% if @option[:section_name].blank? %><div class="muted">Click to Edit Section Name</div><% else %><%= @option[:section_name] %><% end %>
  </h2>
  <% if @option[:section_description].blank? %>
    <div class="muted">Click to Edit Section Description</div>
  <% else %>
    <%= simple_markdown @option[:section_description] %>
  <% end %>
</div>
</section>
