<% section_type = @option[:section_type].to_i %>
<section style="padding-top:30px">
  <div data-object="pull-partial-edit" data-edit="section" data-position="<%= @position %>" class="page-header editable-design-element">
    <% if section_type > 0 %><h4><% else %><h2><% end %>
      <%= @option[:section_name] %>
      <%= link_to 'remove', '#', data: { object: 'push-partial-change', delete: 'section', position: @position }, class: 'btn btn-xs btn-danger-inverse design-preview-hide' %>
    <% if section_type > 0 %></h4><% else %></h2><% end %>
    <% if @option[:section_description].blank? %>
      <div class="muted design-preview-hide">Click to Edit Section Description</div>
    <% else %>
      <%= simple_markdown @option[:section_description] %>
    <% end %>
  </div>
</section>
