<% unless @design.new_record? %>
  <% design_options = (@design.check_option_validations ? @design.options : @design.reload.options) %>

  <form class="form-horizontal">
    <%= render partial: 'designs/interactive/new_section_or_variable', locals: { position: 0 } %>
    <% design_options.each_with_index do |option, index| %>
      <% @position = index %>
      <% @option = option %>
      <% if @option[:variable_id].blank? %>
        <%= render partial: 'designs/interactive/show/section' %>
      <% elsif @variable = Variable.current.find_by_id(@option[:variable_id]) %>
        <%= render partial: 'designs/interactive/show/variable' %>
      <% end %>
      <%= render partial: 'designs/interactive/new_section_or_variable', locals: { position: @position + 1 } %>
    <% end %>
  </form>
<% end %>
