// About Page Styling

// TODO: Remove stylesheet

$about-color: #999;

h1.about-title {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 9px;
  text-align: center;
}

h2.about-title {
  font-size: 22px;
  font-weight: 300;
  line-height: 36px;
  margin-bottom: 9px;
  text-align: center;
}

p.about-tagline {
  color: $about-color;
  font-size: 18px;
  font-weight: 300;
  line-height: 36px;
  text-align: center;
}

p.about-signup {
  line-height: 36px;
  text-align: center;
}

p.about-description {
  color: $about-color;
  font-size: 18px;
  font-weight: 300;
  line-height: 36px;
  margin-bottom: 20px;
  text-align: center;
}

p.about-footer {
  font-weight: 300;
  text-align: center;
}
