/* About Page Styling */

h1.about-title {
  font-size:40px;
  font-weight:300;
  text-align:center;
  margin-bottom:9px
}

h2.about-title {
  font-size: 22px;
  font-weight: 300;
  line-height: 36px;
  text-align:center;
  margin-bottom: 9px;
}

p.about-tagline {
  font-size:18px;
  line-height:36px;
  font-weight:300;
  color:#999;
  text-align:center
}

p.about-signup {
  text-align:center;
  line-height:36px;
}

p.about-description {
  font-size:18px;
  line-height:36px;
  font-weight:300;
  color:#999;
  text-align:center;
  margin-bottom:20px;
}

p.about-footer {
  text-align:center;
  font-weight:300;
}
