- if @project.sites.size > 0
  - prefix_site_id = @project.site_id_with_prefix(params[:subject_code] || (@subject ? @subject.subject_code.to_s : ''))
  = select_tag :site_id, options_for_select([['---', nil]] + current_user.all_editable_sites.where( project_id: @project.id ).order('name').collect{|s| [s.name, s.id]}, (params[:site_id] || (@subject ? @subject.site_id : prefix_site_id))), class: 'form-control'
- else
  %span.help-block{ style: 'margin-top:8px' }
    You need to
    = link_to 'add', new_project_site_path(@project)
    at least one site to this project.
