- @title = 'New Site'

- links = []
- links << ['Sites', project_sites_path(@project)]
- links << ['New', new_project_site_path(@project)]
= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid
    = render 'form'
