- if export.include_csv_labeled?
  %span.badge.badge-light CSV Labeled
- if export.include_csv_raw?
  %span.badge.badge-light CSV Raw
- if export.include_pdf?
  %span.badge.badge-light PDF
- if export.include_files?
  %span.badge.badge-light Files
- if export.include_data_dictionary?
  %span.badge.badge-light Data Dictionary
- if export.include_sas?
  %span.badge.badge-light SAS
- if export.include_r?
  %span.badge.badge-light R
- if export.include_xls?
  %span.badge.badge-light XLS
- if export.include_adverse_events?
  %span.badge.badge-light Adverse Events
- if export.include_randomizations?
  %span.badge.badge-light Randomizations
