%span{ data: { toggle: "tooltip", title: "Unblinded only", placement: placement, container: "body" } }
  %span.fa-stack{ style: "font-size: .45em;"}
    = icon("fas", "user-ninja", class: "fa-stack-1x")
    = icon("fas", "ban", class: "fa-stack-2x text-danger fa-flip-vertical")
