<div class="bs-callout bs-callout-info">
  <h4>Branching Logic Examples</h4>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Show If</th>
      </tr>
    </thead>
    <tbody>
      <tr><td style="font-weight:bold">General</td><td><code>previous_variable == 5</code></td></tr>
      <tr><td style="font-weight:bold">OR</td><td><code>a &gt; 5 || b &lt; 2</code></td></tr>
      <tr><td style="font-weight:bold">AND</td><td><code>a &gt; 5 &amp;&amp; a &lt; 10</code></td></tr>
      <tr><td style="font-weight:bold">Checkbox</td><td><code>overlap(previous_variable, ['5'])</code></td></tr>
    </tbody>
  </table>
</div>
