- if @breadcrumbs.present?
  .breadcrumbs-container{ class: @side_nav ? 'breadcrumbs-slide' : '' }
    .container
      %ol.breadcrumb
        - @breadcrumbs.each do |label, url|
          %li= link_to label, url
