.dropdown
  = link_to "#", class: "btn btn-light btn-sm dropdown-toggle", data: { toggle: "dropdown" } do
    Actions
    %strong.caret

  %ul.dropdown-menu.dropdown-menu-right
    %li
      = link_to edit_url do
        %i.fa.fa-pencil
        Edit
    %li.divider{ role: "separator" }
    %li
      = link_to delete_url, method: :delete, data: { confirm: delete_confirmation } do
        .text-danger
          %i.fa.fa-trash
          Delete
