- footer = "footer-default" unless defined?(footer) && footer.present?
.footer-container{ class: footer }
  %div{ class: defined?(container) && container.present? ? container : "container" }
    .footer
      .nowrap
        .float-right
          = link_to "Questions?", contact_path

        &copy;
        = Time.zone.today.year
        = link_to ENV["website_name"], about_path
        - if @seasonal.present?
          %span.small.text-primary{ rel: "tooltip", data: { title: "Set theme in settings", container: "body", placement: "right" } }= @seasonal.capitalize
