- footer = "footer-default" unless defined?(footer) && footer.present?
.footer-container{ class: footer }
  %div{ class: defined?(container) && container.present? ? container : "container" }
    .footer
      .nowrap
        .float-right
          = link_to "Questions?", search_path

        &copy;
        .d-none.d-sm-inline= Time.zone.today.year
        = link_to ENV["website_name"], about_path
