- menu = "menu-default" unless defined?(menu) && menu.present?
%nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom{ class: menu }
  - if defined?(nocontainer)
    = render "layouts/features/logo", hide_logo: hide_logo

    %button.navbar-toggler{ type: "button", data: { toggle: "collapse", target: "#menu-body" }, aria: { controls: "menu-body", expanded: "false", label: "Toggle navigation" } }
      %span.navbar-toggler-icon

    #menu-body.menu-body.collapse.navbar-collapse
      = render "menu/body"
  - else
    %div{ class: defined?(container) && container.present? ? container : "container" }
      = render "layouts/features/logo", hide_logo: hide_logo

      %button.navbar-toggler{ type: "button", data: { toggle: "collapse", target: "#menu-body" }, aria: { controls: "menu-body", expanded: "false", label: "Toggle navigation" } }
        %span.navbar-toggler-icon

      #menu-body.menu-body.collapse.navbar-collapse
        = render "menu/body"
