%ul.sidebar-menu.sidebar-menu-root
  %li= link_to image_tag("logos/slice-v5-transparent-logo.png", style: "height: 27px; width: auto;", alt: ENV["website_name"], class: "img-ignore-selection"), dashboard_path, class: "text-white"
