.text-center.small{ style: 'margin-bottom:20px;margin-top:40px' }
  = link_to 'Docs', docs_path, class: 'link-accent'
  &nbsp;
  = link_to 'Terms', about_use_path, class: 'link-accent'
  &nbsp;
  = link_to 'Contact', contact_path, class: 'link-accent'
  &nbsp;
  = link_to 'About', about_path, class: 'link-accent'
