- if project.blinding_enabled? && object.only_unblinded?
  %small
    = icon("far", "eye", class: "text-muted", rel: "tooltip", data: { title: "Unblinded only", placement: placement, container: "body" })
