- if project.blinding_enabled? && object.only_unblinded?
  %small
    %span.glyphicon.glyphicon-eye-open.text-muted{ rel: 'tooltip', data: { title: 'Unblinded Only', placement: placement, container: 'body' } }
