// Variables

@import 'themes/colors';
@import 'themes/default';
@import 'themes/love';
@import 'themes/night';
@import 'themes/spring';
@import 'themes/underwater';
@import 'themes/fall';
@import 'themes/winter';
@import 'themes/royal';

$themes: (
  default: $default,
  love: $love,
  night: $night,
  spring: $spring,
  underwater: $underwater,
  fall: $fall,
  winter: $winter,
  royal: $royal,
);
