// https://material.google.com/style/color.html#color-color-palette

// Indigo
$P50: #E8EAF6;
$P100: #C5CAE9;
$P200: #9FA8DA;
$P300: #7986CB;
$P400: #5C6BC0;
$P500: #3F51B5;
$P600: #3949AB;
$P700: #303F9F;
$P800: #283593;
$P900: #1A237E;

// Cyan
$A100: #84FFFF;
$A200: #18FFFF;
$A400: #00E5FF;
$A700: #00B8D4;

$A200-text: #333;
