// https://material.google.com/style/color.html#color-color-palette

// Indigo
$p50: #e8eaf6;
$p100: #c5cae9;
$p200: #9fa8da;
$p300: #7986cb;
$p400: #5c6bc0;
$p500: #3f51b5;
$p600: #3949ab;
$p700: #303f9f;
$p800: #283593;
$p900: #1a237e;

// Light Blue
$a100: #80d8ff;
$a200: #40c4ff;
$a400: #00b0ff;
$a700: #0091ea;

$a200-text: #333;
