// https://material.google.com/style/color.html#color-color-palette

// Indigo
$P50: #E8EAF6;
$P100: #C5CAE9;
$P200: #9FA8DA;
$P300: #7986CB;
$P400: #5C6BC0;
$P500: #3F51B5;
$P600: #3949AB;
$P700: #303F9F;
$P800: #283593;
$P900: #1A237E;

// Light Blue
$A100: #80D8FF;
$A200: #40C4FF;
$A400: #00B0FF;
$A700: #0091EA;

$A200-text: #333;
