// https://material.google.com/style/color.html#color-color-palette

// Brown
$p50: #efebe9;
$p100: #d7ccc8;
$p200: #bcaaa4;
$p300: #a1887f;
$p400: #8d6e63;
$p500: #795548;
$p600: #6d4c41;
$p700: #5d4037;
$p800: #4e342e;
$p900: #3e2723;

// Orange
$a100: #ffd180;
$a200: #ffab40;
$a400: #ff9100;
$a700: #ff6d00;

$a200-text: #333;
