// https://material.google.com/style/color.html#color-color-palette

// Brown
$P50: #EFEBE9;
$P100: #D7CCC8;
$P200: #BCAAA4;
$P300: #A1887F;
$P400: #8D6E63;
$P500: #795548;
$P600: #6D4C41;
$P700: #5D4037;
$P800: #4E342E;
$P900: #3E2723;

// Orange
$A100: #FFD180;
$A200: #FFAB40;
$A400: #FF9100;
$A700: #FF6D00;

$A200-text: #333;
