// https://material.google.com/style/color.html#color-color-palette

// Blue Grey
$P50: #ECEFF1;
$P100: #CFD8DC;
$P200: #B0BEC5;
$P300: #90A4AE;
$P400: #78909C;
$P500: #607D8B;
$P600: #546E7A;
$P700: #455A64;
$P800: #37474F;
$P900: #263238;

// Indigo
$A100: #8C9EFF;
$A200: #536DFE;
$A400: #3D5AFE;
$A700: #304FFE;

$A200-text: #333;
