// https://material.google.com/style/color.html#color-color-palette

// Grey (Half of Gray)
$P50: #9E9E9E;
$P100: #9E9E9E;
$P200: #757575;
$P300: #757575;
$P400: #616161;
$P500: #616161;
$P600: #424242;
$P700: #424242;
$P800: #212121;
$P900: #212121;

// Blue Grey (From P)
$A100: #CFD8DC;
$A200: #B0BEC5;
$A400: #78909C;
$A700: #455A64;

$A200-text: #333;
