$night: (
  brand-white: $p300-grey,
  brand-black: #000,

  p50: $p50-black,
  p100: $p100-black,
  p200: $p200-black,
  p300: $p300-black,
  p400: $p400-black,
  p500: $p500-black,
  p600: $p600-black,
  p700: $p700-black,
  p800: $p800-black,
  p900: $p900-black,

  primary: $p400-indigo,

  menu-bg: $p900-black,
  menu-color: null, // brand-white

  body-bg: $p900-black,
  body-color: $p300-grey,
  body-focus: #000,

  footer-bg: $p900-black,
  footer-color: $p300-grey,

  dashboard-bg: #000,
  form-title-bg: $p700-black,
  form-bg: $p900-grey,

  box-shadow-color: rgba($p300-grey, .15),
  shadow-color: rgba($p300-grey, .3),
)
