// https://material.google.com/style/color.html#color-color-palette

// Light Green
$p50: #f1f8e9;
$p100: #dcedc8;
$p200: #c5e1a5;
$p300: #aed581;
$p400: #9ccc65;
$p500: #8bc34a;
$p600: #7cb342;
$p700: #689f38;
$p800: #558b2f;
$p900: #33691e;

// Light Blue
$a100: #80d8ff;
$a200: #40c4ff;
$a400: #00b0ff;
$a700: #0091ea;

$a200-text: #333;
