// https://material.google.com/style/color.html#color-color-palette

// Light Green
$P50: #F1F8E9;
$P100: #DCEDC8;
$P200: #C5E1A5;
$P300: #AED581;
$P400: #9CCC65;
$P500: #8BC34A;
$P600: #7CB342;
$P700: #689F38;
$P800: #558B2F;
$P900: #33691E;

// Light Blue
$A100: #80D8FF;
$A200: #40C4FF;
$A400: #00B0FF;
$A700: #0091EA;

$A200-text: #333;
