$underwater: (
  brand-white: #fff,
  brand-black: $p900-grey,

  p50: $p50-indigo,
  p100: $p100-indigo,
  p200: $p200-indigo,
  p300: $p300-indigo,
  p400: $p400-indigo,
  p500: $p500-indigo,
  p600: $p600-indigo,
  p700: $p700-indigo,
  p800: $p800-indigo,
  p900: $p900-indigo,

  primary: $p500-indigo,
  accent: $p500-teal,

  menu-bg: null, // $p600-COLOR
  menu-color: null, // brand-white

  body-bg: $p50-grey,
  body-color: $p900-grey,
  body-focus: $p800-indigo,

  footer-bg: $p900-indigo,
  footer-color: #fff,

  dashboard-bg: #fff,
  form-title-bg: null, // $p500-COLOR
  form-bg: $p50-grey,

  input-bg: null, // $white
  input-color: null, // $p800-grey

  box-shadow-color: rgba(0, 0, 0, .15),
  shadow-color: rgba(0, 0, 0, .3),
);
