// https://material.google.com/style/color.html#color-color-palette

// Light Blue
$P50: #E1F5FE;
$P100: #B3E5FC;
$P200: #81D4FA;
$P300: #4FC3F7;
$P400: #29B6F6;
$P500: #03A9F4;
$P600: #039BE5;
$P700: #0288D1;
$P800: #0277BD;
$P900: #01579B;

// Light Blue
$A100: #80D8FF;
$A200: #40C4FF;
$A400: #00B0FF;
$A700: #0091EA;

$A200-text: #333;
