// Cerulean 3.2.0
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$brand-primary:         $p400;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
// $body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            $gray;

//** Global textual link color.
$link-color:            $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%);

//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Default background color used for all tables.
$table-bg:                      $body-bg; // transparent !default;
//** Background color used for `.table-striped`.
// $table-bg-accent:               #f9f9f9;
//** Background color used for `.table-hover`.
// $table-bg-hover:                #f5f5f5;
// $table-bg-active:               $table-bg-hover;

//** Border color for table and cell borders.
$table-border-color:            #ddd;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                normal;

$btn-default-color:              $text-color;
$btn-default-bg:                 #fff;
$btn-default-border:             rgba(0, 0, 0, .1);

$btn-primary-color:              #fff;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             $btn-primary-bg;

$btn-success-color:              #fff;
$btn-success-bg:                 $brand-success;
$btn-success-border:             $btn-success-bg;

$btn-info-color:                 #fff;
$btn-info-bg:                    $brand-info;
$btn-info-border:                $btn-info-bg;

$btn-warning-color:              #fff;
$btn-warning-bg:                 $brand-warning;
$btn-warning-border:             $btn-warning-bg;

$btn-danger-color:               #fff;
$btn-danger-bg:                  $brand-danger;
$btn-danger-border:              $btn-danger-bg;

$btn-link-disabled-color:        $gray-light;


//== Forms
//
//##

//** `<input>` background color
$input-bg:                       #fff;
//** `<input disabled>` background color
$input-bg-disabled:              $gray-lighter;

//** Text color for `<input>`s
$input-color:                    $text-color;
//** `<input>` border color
$input-border:                   #ccc;
//** Border color for inputs on focus
$input-border-focus:             #66afe9;

//** Placeholder text color
$input-color-placeholder:        $gray-light;

$legend-color:                   $text-color;
$legend-border-color:            #e5e5e5;

//** Background color for textual input addons
$input-group-addon-bg:           $gray-lighter;
//** Border color for textual input addons
$input-group-addon-border-color: $input-border;

//== Pagination
//
//##

// $pagination-color:                     $link-color;
// $pagination-bg:                        #fff;
// $pagination-border:                    #ddd;

// $pagination-hover-color:               $link-hover-color;
// $pagination-hover-bg:                  $gray-lighter;
$pagination-hover-border:              #ddd;

$pagination-active-color:              $gray-light;
$pagination-active-bg:                 #f5f5f5;
$pagination-active-border:             $pagination-hover-border;

// $pagination-disabled-color:            $gray-light;
// $pagination-disabled-bg:               #fff;
// $pagination-disabled-border:           #ddd;



//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             darken($brand-success, 15%);
$state-success-bg:               $brand-success;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%);

$state-info-text:                $brand-info;
$state-info-bg:                  $brand-info;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%);

// $state-warning-text:             $brand-warning;
// $state-warning-bg:               $brand-warning;
// $state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%);

// $state-danger-text:              $brand-danger;
// $state-danger-bg:                $brand-danger;
// $state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%);


//== Tooltips
//
//##

//** Tooltip text color
// $tooltip-color:               #fff;
//** Tooltip background color
$tooltip-bg:                  rgba(0, 0, 0, .9);
$tooltip-opacity:             .9;

//** Tooltip arrow color
$tooltip-arrow-color:         $tooltip-bg;

//== Alerts
//
//## Define alert colors, border radius, and padding.

// $alert-success-bg:            $state-success-bg;
$alert-success-text:          #333;
// $alert-success-border:        $state-success-border;

// $alert-info-bg:               $state-info-bg;
$alert-info-text:             #333;
// $alert-info-border:           $state-info-border;

// $alert-warning-bg:            $state-warning-bg;
$alert-warning-text:          #333;
// $alert-warning-border:        $state-warning-border;

// $alert-danger-bg:             $state-danger-bg;
// $alert-danger-text:           $brand-white;
// $alert-danger-border:         $state-danger-border;

//== Panels
//
//##

// $panel-bg:                    #fff;

//** Border color for elements within panels
$panel-inner-border:          #ddd;
$panel-footer-bg:             #f5f5f5;

$panel-default-text:          $text-color;
// $panel-default-border:        #ddd;
$panel-default-heading-bg:    #f5f5f5;

$panel-primary-text:          #fff;
// $panel-primary-border:        $panel-default-border;
$panel-primary-heading-bg:    $brand-primary;

$panel-success-text:          #333;
// $panel-success-border:        $panel-default-border;
$panel-success-heading-bg:    $brand-success;

$panel-info-text:             #333;
// $panel-info-border:           $panel-default-border;
$panel-info-heading-bg:       $brand-info;

$panel-warning-text:          #333;
// $panel-warning-border:        $panel-default-border;
$panel-warning-heading-bg:    $brand-warning;

$panel-danger-text:           #333;
// $panel-danger-border:         $panel-default-border;
$panel-danger-heading-bg:     $brand-danger;

