$winter: (
  brand-white: #fff,
  brand-black: $p900-grey,

  p50: $p50-light-blue,
  p100: $p100-light-blue,
  p200: $p200-light-blue,
  p300: $p300-light-blue,
  p400: $p400-light-blue,
  p500: $p500-light-blue,
  p600: $p600-light-blue,
  p700: $p700-light-blue,
  p800: $p800-light-blue,
  p900: $p900-light-blue,

  primary: $p500-light-blue,
  accent: $a400-light-blue,

  menu-bg: null, // $p600-COLOR
  menu-color: null, // brand-white

  body-bg: $p100-blue,
  body-color: $p900-grey,
  body-focus: $p800-light-blue,

  footer-bg: $p900-light-blue,
  footer-color: #fff,

  dashboard-bg: #fff,
  form-title-bg: null, // $p500-COLOR
  form-bg: $p50-grey,

  input-bg: null, // $white
  input-color: null, // $p800-grey

  box-shadow-color: rgba(0, 0, 0, .15),
  shadow-color: rgba(0, 0, 0, .3),
)
